<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!--                분류 모달-->
        <div class="modal" id="type-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="pType : ${programType}">
                                <button type="button" class="btn btn-outline-secondary pTypeBtn"
                                        th:text="${pType.value}" th:if="${pType.value !='기타'}"
                                        th:data-type="${pType.name()}"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--                지역 모달-->
        <div class="modal" id="location-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body container">

                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="lType : ${locationType}">
                                <button type="button" class=" btn btn-outline-secondary lTypeBtn"
                                        th:text="${lType.value}" th:if="${lType.value !='기타'}"
                                        th:data-loc="${lType.name()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 메인 컨테이너 영역 -->
        <div class="w-75 container m-auto mb-5">
            <div class="row">
                <!-- 지도 영역 -->
                <div class="col-9">
                    <div id="map" style="height:750px;"></div>
                    <div id="setMap" class="btn btn-outline-secondary">현재 위치로 이동</div>
                </div>
                <!-- 사이드 검색창 -->
                <div class="col ml-2 h-100" id="side-search">
                    <form class="container p-0">
                        <!-- 검색창 -->
                        <div class="row p-0" style="height: 10%">
                            <!-- 버튼 비활성화 -->
                            <div class="col-12 p-0 input-group input-group-lg">

                                <button type="submit" id="search-btn"
                                        class="btn btn-dark fa-solid fa-magnifying-glass"></button>

                                <input type="text" id="search-text" class="p-0 w-75 form-control col dropdown-toggle"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu overflow-scroll" id="searched-list">
                                    <!-- 동적으로 드롭다운 검색 결과 -->
                                </ul>

                            </div>

                        </div>

                        <div class="row p-0">
                            <!-- 검색 결과 양식 -->
                            <div class="card p-0 overflow-scroll" id="search-info-box">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 인기 작품, 모임 영역 -->
        <div id="favLocaionProgram" class="container">  <!--  좌우 스크롤  -->
            <div class="row mt-5 mb-3">
                <div class="col-auto">
                    <div class="col fs-3 badge text-bg-secondary">지역별 인기 작품</div>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#type-modal">분류 선택</button>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#location-modal">지역 선택</button>

                </div>
            </div>
                <div class="row mb-5" id="BestProgramContainer"></div>
        </div>

        <div id="favLocationEvent" class="container">  <!--  좌우 스크롤  -->
            <div class="row mt-5 mb-3">
                <div class="col-auto">
                    <div class="fs-3 badge text-bg-secondary">지역별 인기 모임</div>
                </div>
            </div>
            <div class="row mb-5" id="eventCardContainer"></div>
        </div>
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function() {

        // ********** 변수 선언 **********

        var map;
        var clusterer;
        var userMarker; // 사용자 위치 마커
        var modalProgramType = "DRAMA";
        var modalLocationType = "SEOUL";
        var modalProgramTypeName;
        var modalLocationTypeName;
        var programId;
        // 사용자 이미지 마커
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/2018/mw/m640/ico_marker.png",
            imageSize = new kakao.maps.Size(30, 30),
            imageOption = {offset: new kakao.maps.Point(20, 40)};
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

        // ********** 페이지 로딩시 실행할 함수들 **********
        getBestProgramList();
        getBestEventBoardList();
        kakaoMap();

        // 검색창에 값변경시
        $('#search-text').on('keyup', function () {
            console.log($(this).val());
            $.ajax({
                url: '/program/search/' + $(this).val(),
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    changeDropdown(data);
                    programId = null;
                    // 드롭다운 보여주기
                    $('#searched-list').css('display', 'block')
                }
            });
        });

        // 인기 작품 리스트 불러오기
        function getBestProgramList() {
            $.ajax({
                type: "get",
                url: "/search/bestProgramTypeList",
                data: {
                    programType: modalProgramType,
                    locationType: modalLocationType
                },
                success: function (result) {
                    console.log("인기 작품 목록 요청 성공!");
                    console.log(result);
                    // 인기작품 목록 화면에 띄우기
                    changeBestProgramList(result);
                },
                error: function (e) {
                    console.log("인기글 목록 요청 실패....");
                    console.log(e);
                },
            });
        }

        // 인기 모임 리스트 불러오기
        function getBestEventBoardList() {
            $.ajax({
                type: "get",
                url: "/search/bestEventBoardList",
                data: {
                    programType: modalProgramType,
                    locationType: modalLocationType
                },
                success: function (result) {
                    console.log("인기 모임 목록 요청 성공!");
                    console.log(result);
                    // 인기모임 목록 화면에 띄우기
                    printCardList(result);
                },
                error: function (e) {
                    console.log("인기모임 목록 요청 실패....");
                    console.log(e);
                },
            })
        }

        // 인기 작품 목록 화면에 띄우기
        function changeBestProgramList(list) {
            console.log("changeBestProgramList 호출!");
            console.log(list);
            var html = '';
            for (let i = 0; i < list.length; i++) {

                html += '<div class="col-3 ml-1 mr-1 bestProgramCard">';
                html += '<div hidden="hidden" class="programSeq">' + list[i].seq + '</div>';
                html += '<div>';
                html += '<img src="' + list[i].thumbnail + '" class="card-img-top mb-2 img-thumbnail img-fluid w-100" style="" alt="...">';
                html += '<div class="card-body">';
                html += '<div class="row mb-2">';
                var title = list[i].title;
                if (title.length > 8) {
                    title = title.substring(0, 8) + "...";
                }
                html += '<div class="col-auto card-title fs-4">' + title + '</div>';
                html += '</div>';
                html += '<div class="row">';
                html += '<div class="col-auto badge text-bg-secondary fs-6 d-flex justify-content-center align-items-center">';
                html += getProgramType(list[i].programType);
                html += '</div>';
                html += '</div>';
                html += '<div class="row">';
                html += '<div class="col-12">';
                html += '<div class="fs-5">' + list[i].startDate.substring(0,10) + ' ~ </div>';
                html += '<div class="fs-5">' + list[i].endDate.substring(0,10) + '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            $('#BestProgramContainer').html(html);
        }

        function printCardList(eventBoardList) {
            console.log("printCardList 호출!");
            console.log(eventBoardList);
            if (!eventBoardList) {
                console.log("result 데이터가 없습니다.");
                return; // 데이터가 없으면 함수를 종료
            }

            var html = '';
            for (let i = 0; i < eventBoardList.length; i++) {
                html += '<div class="col-3 ml-1 mr-1 eventCardContainer">';
                html += '<div hidden="hidden" class="eventBoardId">' + eventBoardList[i].id + '</div>';
                html += '<div>';
                html += '<img src="' + eventBoardList[i].program.thumbnail + '" class="card-img-top mb-2 img-thumbnail img-fluid w-100" alt="..." />';
                html += '<div class="card-body">';
                html += '<div class="row mb-2">';
                var title = eventBoardList[i].title;
                if (title.length > 10) {
                    title = title.substring(0, 10) + '...';
                }
                html += '<div class="col-auto card-title fs-4">' + eventBoardList[i].title + '</div>';
                html += '</div>';
                var content = eventBoardList[i].content;
                if (content.length > 30) {
                    content = content.substring(0, 30) + '...';
                }
                html += '<p class="card-text">' + content + '</p></div></div></div>';
            }
            $("#eventCardContainer").html(html);
        }

        function changeDropdown(data) {
            console.log(data);
            let html = '';
            data.forEach(function (program) {
                html += '<li><a class="dropdown-item" href="#" data-programId="' + program.id + '">' + program.title + '</a></li>';
            });
            $('#searched-list').html(html);
        }

        // 사이드 검색창 상세 정보 바꾸기
        function changeSideInfo(data) {

            // ENUM으로 바꾸기
            var programType = data.programType;
            var location = data.location;

            if (programType === 'DRAMA') {
                programType = '연극';
            } else if (programType === 'MUSICAL') {
                programType = '뮤지컬/오페라';
            } else if (programType === 'EXHIBITION') {
                programType = '전시';
            } else if (programType === 'CONCERT') {
                programType = '음악/콘서트';
            } else if (programType === 'ETC') {
                programType = '기타';
            }

            if (location === 'SEOUL') {
                location = '서울';
            } else if (location === 'GYEONGGI') {
                location = '경기';
            } else if (location === 'INCHEON') {
                location = '인천';
            } else if (location === 'DAEJEON') {
                location = '대전';
            } else if (location === 'GWANGJU') {
                location = '광주';
            } else if (location === 'DAEGU') {
                location = '대구';
            } else if (location === 'BUSAN') {
                location = '부산';
            } else if (location === 'ULSAN') {
                location = '울산';
            } else if (location === 'SEJONG') {
                location = '세종';
            } else if (location === 'JEJU') {
                location = '제주';
            } else if (location === 'GANGWON') {
                location = '강원';
            } else if (location === 'CHUNGBUK') {
                location = '충북';
            } else if (location === 'CHUNGNAM') {
                location = '충남';
            } else if (location === 'JEONBUK') {
                location = '전북';
            } else if (location === 'JEONNAM') {
                location = '전남';
            } else if (location === 'GYEONGBUK') {
                location = '경북';
            } else if (location === 'GYEONGNAM') {
                location = '경남';
            }

            var programDate = data.startDate.substring(0, 10) + ' ~ ' + data.endDate.substring(0, 10);

            let html = '';
            html += '<img src="' + data.thumbnail + '" class="card-img-top" alt="...">';
            html += '<div class="card-body">';
            html += '<h5 class="card-title">' + data.title + '</h5>';
            html += '</div>';
            html += '<ul class="list-group list-group-flush">';
            html += '<li class="list-group-item">' + programType + '</li>';
            html += '<li class="list-group-item">' + location + '</li>';
            html += '<li class="list-group-item">' + programDate + '</li>';
            html += '</ul>';
            html += '<div class="card-body container">';
            html += '<div class="row d-flex justify-content-center">';
            html += '<div class="col-auto">';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            $('#search-info-box').html(html);

        }

        // 작품 타입 가져오기
        function getProgramType(type) {
            if (type == "DRAMA") {
                return "연극";
            } else if (type == "MUSICAL") {
                return "뮤지컬/오페라";
            } else if (type == "CONCERT") {
                return "음악/콘서트";
            } else if (type == "EXHIBITION") {
                return "전시";
            } else if (type == "ETC") {
                return "기타";
            }
        }

        // 카카오맵
        function kakaoMap() {
            console.log("kakaoMap 호출!");
            var mapContainer = document.getElementById('map'),
                mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.9786567),
                    level: 3
                };
            map = new kakao.maps.Map(mapContainer, mapOption);

            clusterer = new kakao.maps.MarkerClusterer({
                map: map,
                averageCenter: true,
                minLevel: 5
            });
            getCurrentLocationAndPrograms();
        }

        // 현재 위치와 인기 작품 가져오기
        function getCurrentLocationAndPrograms() {
            console.log("getCurrentLocationAndPrograms 호출!");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;
                    console.log(lat, lng);
                    // 사용자의 현재 위치에 마커 생성
                    userMarker = new kakao.maps.Marker({
                        position: new kakao.maps.LatLng(lat, lng),
                        image: markerImage,
                        map: map,
                        title: "현재 위치"
                    });
                    map.setCenter(new kakao.maps.LatLng(lat, lng));
                    map.setLevel(3);
                    reverseGeocode(lat, lng, function(location) {
                        getLocationBestList(location);
                    });
                }, function(error) {
                    console.error('Geolocation error:', error);
                    alert('위치 정보를 가져오는 데 실패했습니다.');
                });
            } else {
                alert('이 브라우저는 위치 추적을 지원하지 않습니다.');
            }
        }

        // 사용자 위치를 주소로 변환 - 사용자 위치기반 인기 작품 가져오기 위해
        function reverseGeocode(lat, lng, callback) {
            console.log("reverseGeocode 호출!");
            console.log(lat, lng);
            $.ajax({
                url: 'https://dapi.kakao.com/v2/local/geo/coord2address.json',
                type: 'GET',
                data: {
                    x: lng,
                    y: lat
                },
                headers: {
                    'Authorization': 'KakaoAK d9cba248832f4faec5a2780994bcebdd' // 발급받은 REST API 키
                },
                success: function(response) {
                    if (response && response.documents && response.documents.length > 0) {
                        const addressInfo = response.documents[0].address;
                        const location = addressInfo.region_1depth_name;
                        callback(location);
                    } else {
                        console.error('No address found for the given coordinates.');
                        callback(null);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Geocoding error:', error);
                    callback(null);
                }
            });
        }

        // 현재 위치 주변의 인기 작품 가져오기
        function getLocationBestList(location) {
            console.log("getLocationBestList 호출!");
            console.log(location);
            $.ajax({
                url: '/search/locationBestList',
                type: 'GET',
                data: { location: location },
                success: function(data) {
                    var markers = data.map(function(result) {
                        var marker = new kakao.maps.Marker({
                            position: new kakao.maps.LatLng(result.locationY, result.locationX),
                            title: result.title
                        });
                        kakao.maps.event.addListener(marker, 'click', function() {
                            changeSideInfo(result);
                        });
                        return marker;
                    });
                    clusterer.addMarkers(markers);
                },
                error: function(xhr, status, error) {
                    console.error('작품 정보 로드 실패:', error);
                }
            });
        }

        // 작품 검색 결과 지도에 표시와 맵 이동
        function changeSetMap(data) {
            var marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(data.locationY, data.locationX),
                title: data.title
            });
            marker.setMap(map);
            map.setCenter(new kakao.maps.LatLng(data.locationY, data.locationX));
            map.setLevel(3);
        }

        // ********** 클릭시 이벤트들 **********

        // 모달 닫기
        $(document).on('click', '.close', function () {
            $('#type-modal').modal('hide');
            $('#location-modal').modal('hide');
        });

        // 검색 버튼 클릭시 기본 이벤트 제거
        $('#search-btn').click(function (e) {
            e.preventDefault();
        });

        // 드롭다운 외부 클릭시 드롭다운 숨기기
        $(document).mouseup(function (e) {
            var container = $(".dropdown");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.find('.dropdown-menu').css('display', 'none');
            }
        });

        // 드롭다운 내부 클릭시 input에 값 넣기
        $(document).on('click', '.dropdown-item', function () {
            $('#search-text').val($(this).text());
            programId = $(this).data('programid');
            $('.dropdown-menu').css('display', 'none');
        });

        // 검색 버튼 클릭시 카드 내부 변경
        $('#search-btn').click(function () {
            console.log(programId);
            if (programId === undefined) {
                alert('검색 결과를 선택해주세요.');
                return;
            } else if (programId === null) {
                alert('검색 결과가 없습니다.');
                return;
            } else if (programId !== null) {
                $.ajax({
                    url: '/program/find/' + programId,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        changeSetMap(data);
                        changeSideInfo(data);

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });

        // 분류 모달과 지역 모달에서 선택시 값 변경
        $(document).on('click', ".pTypeBtn", function () {
            modalProgramType = $(this).data('type');
            modalProgramTypeName = $(this).text();
            console.log('분류 모달 닫기 시도');
            $('#type-modal').modal('hide');
            // 인기 작품, 모임 리스트 다시 불러오기
            getBestProgramList();
            getBestEventBoardList();
        });
        $(document).on('click', ".lTypeBtn", function () {
            modalLocationType = $(this).data('loc');
            modalLocationTypeName = $(this).text();
            console.log('지역 모달 닫기 시도');
            $('#location-modal').modal('hide');
            getBestProgramList();
            getBestEventBoardList();
        });

        // ********** 작품 카드 클릭시 해당 작품 상세 페이지로 이동 **********
        $('#BestProgramContainer').on('click', '.bestProgramCard', function () {
            var seq = $(this).find('.programSeq').text();
            location.href = "/program/" + seq;
        });

        // 모임카드 클릭
        $('#eventCardContainer').on('click', '.eventCardContainer', function () {
            var id = $(this).find('.eventBoardId').text();
            location.href = "/clubs/" + id;
        });

        // 현재 위치로 이동 버튼 클릭시 현재 위치로 이동
        $("#setMap").on('click', function () {
            getCurrentLocationAndPrograms();
        });

    });
</script>
</html>