<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">


        <!--                분류 모달-->
        <div class="modal" id="type-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <button type="button" th:each="pType : ${programType}" class="btn btn-primary pTypeBtn"
                                th:text="${pType.value}" th:if="${pType.value !='기타'}"
                                th:data-type="${pType.name()}"></button>

                    </div>
                </div>
            </div>
        </div>
        <!--                지역 모달-->
        <div class="modal" id="location-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <button type="button" th:each="lType : ${locationType}" class="btn btn-primary lTypeBtn"
                                th:text="${lType.value}" th:if="${lType.value !='기타'}"
                                th:data-loc="${lType.name()}"></button>

                    </div>
                </div>
            </div>
        </div>

        <!-- 메인 컨테이너 영역 -->
        <div class="w-75 container m-auto">
            <div class="row">
                <!-- 달력 영역 -->
                <div class="col-9">
                    <div id="map" style="width:100%;height:650px;"></div>
                </div>
                <!-- TODO 사이드 검색창 -->
                <div class="col ml-2 h-100" id="side-search">
                    <form class="container p-0">
                        <!-- TODO 검색창 -->
                        <div class="row p-0" style="height: 10%">
                            <!-- 버튼 비활성화 -->
                            <div class="col-3 p-0">
                                <button type="submit" id="search-btn"
                                        class="w-100 h-100 btn-dark fa-solid fa-magnifying-glass"></button>
                            </div>
                            <div class="dropdown col-8 p-0">
                                <input type="text" id="search-text" class="p-0 w-100 form-control col dropdown-toggle"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu overflow-scroll" id="searched-list">
                                    <!-- 동적으로 드롭다운 검색 결과 -->
                                </ul>
                            </div>

                        </div>
                        <!-- TODO 검색 결과 -->
                        <div class="row p-0">
                            <!-- 검색 결과 양식 -->
                            <div class="card p-0 overflow-scroll" id="search-info-box">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!--
        <div class="content-wrapper" name="search-box">
            <span name="mapWithModal">  &lt;!&ndash;  지도+검색결과 작품  &ndash;&gt;
                <span name="map">

                </span>
                <span name="searchResult-box">  &lt;!&ndash;  검색결과 작품  &ndash;&gt;
                    <div name="programCard"></div>
                    <div name="programDetail-button">자세히</div>  &lt;!&ndash;  TODO programDetail에 개요가 없다면 페이지 넘겨도 더 보여줄 게 없을 듯..  &ndash;&gt;
                </span>
            </span>  &lt;!&ndash;  mapWithModal  &ndash;&gt;
            <span name="sideInfo-box">
                <div>
                    <div name="heading">인기 작품</div>
                    <div name="programCard"></div>  &lt;!&ndash;  NOTE 검색 전) 현재 위치의 인기작품 노출 / 검색 후) 검색 결과 작품 노출  &ndash;&gt;
                </div>
                <hr />  &lt;!&ndash;  horizonBar  &ndash;&gt;
                <div>
                    <div name="heading">인기 모임</div>
                    <div name="eventCard"></div>  &lt;!&ndash;  NOTE 검색 전) 현재 위치의 인기모임 노출 / 검색 후) 검색 결과 모임 노출  &ndash;&gt;
                </div>
            </span>  &lt;!&ndash;  sideInfo-box  &ndash;&gt;
        </div>  &lt;!&ndash;  search-box  &ndash;&gt;-->
        <div name="favLocationProgram">
            <div name="favLocaionProgramHeader">
                <div>
                    <span name="heading">지역별 인기작품</span>
                    <span name="genre-dropdown">
                        <select name="programType">
                            <option value="EXHIBITION">전시</option>
                            <option value="CONCERT">음악/콘서트</option>
                            <option value="DRAMA">연극</option>
                            <option value="MUSICAL">뮤지컬/오페라</option>
                            <option value="ETC">기타</option>
                        </select>
                    </span>
                    <span name="location-dropdown">
                        <select name="location">
                            <option value="SEOUL">서울</option>
                            <option value="BUSAN">부산</option>
                            <option value="DAEGU">대구</option>
                            <option value="INCHEON">인천</option>
                            <option value="GWANGJU">광주</option>
                            <option value="DAEJEON">대전</option>
                            <option value="ULSAN">울산</option>
                            <option value="SEJONG">세종</option>
                            <option value="GYEONGGI">경기</option>
                            <option value="GANGWON">강원</option>
                            <option value="CHUNGBUK">충북</option>
                            <option value="CHUNGNAM">충남</option>
                            <option value="JEONBUK">전북</option>
                            <option value="JEONNAM">전남</option>
                            <option value="GYEONGBUK">경북</option>
                            <option value="GYEONGNAM">경남</option>
                            <option value="JEJU">제주</option>
                            <option value="ETC">기타</option>
                        </select>
                    </span>
                </div>
                <hr />
            </div>  <!--  favLocaionProgramHeader  -->
            <div name="favLocaionProgram">  <!--  좌우 스크롤  -->
                <span name="programCard"></span>
                <span name="programCard"></span>
                <span name="programCard"></span>
                <span name="programCard"></span>
            </div>
        </div>  <!--  favLocationProgram  -->
        <div name="favLocationEvent">
            <div name="favLocaionEventHeader">
                <div>
                    <span name="heading">지역별 인기모임</span>
                    <span name="genre-dropdown"></span>
                    <span name="location-dropdown"></span>
                </div>
                <hr />
            </div>  <!--  favLocaionProgramHeader  -->
            <div name="favLocaionEvent">  <!--  좌우 스크롤  -->
                <span name="eventCard"></span>
                <span name="eventCard"></span>
                <span name="eventCard"></span>
                <span name="eventCard"></span>
            </div>
        </div>  <!--  favLocationEvent  -->
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function () {
        getSearchProgramList();
        function getSearchProgramList() {
            $.ajax({
                url: "/search/searchProgramList",
                type: 'GET',
                success: function (result) {
                    console.log("작품 목록 요청 성공!");
                    console.log(result);
                    // 카카오맵 띄우기
                    kakaoMap(result);
                },
                error: function (e) {
                    console.log("작품 목록 요청 실패....");
                    console.log(e);
                },
            })
        }

        // 지도 띄우기
        function kakaoMap(result) {
            console.log("카카오맵 호출!!");
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.978656), // 지도의 중심좌표
                    level: 14 // 지도의 확대 레벨
                };
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            var clusterer = new kakao.maps.MarkerClusterer({
                map: map,
                averageCenter: true,
                minLevel: 10,
                disableClickZoom: true
            });
            // 마커를 표시할 위치와 title 객체 배열
            var positions = [];
            var markers = [];

            for (var i = 0; i < result.length; i++) {
                positions.push({
                    content: '<div class="wrap"><div class="info">' +
                        '<div class="title">' + result[i].title +
                        '<div class="close" onclick="closeOverlay" title="닫기"></div></div>' +
                            '<div class="body">'+
                            '<div class="img">'+
                            '<img src="'+result[i].thumbnail+'" width="73" height="70"></div>'+
                        '<div class="desc">' +
                        '<div class="ellipsis">'+result[i].location+'</div>' +
                        '<div class="jibun ellipsis">'+result[i].programTime+'</div>' +
                        '<div><a href="/program/'+ result[i].seq +'" class="link">자세히</a></div>' +
                        '</div></div></div></div>',
                    latlng: new kakao.maps.LatLng(result[i].locationY, result[i].locationX)
                });
            }

            positions.forEach(function (position) {
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: position.latlng
                });
                markers.push(marker); // 마커를 배열에 추가
                // 마커 위에 커스텀오버레이를 표시
                var overlay = new kakao.maps.CustomOverlay({
                    content: position.content,
                    position: marker.getPosition(),
                    removable : true
                });
                overlay.setMap(null); // 처음에는 안보이게
                // 마커에 클릭이벤트를 등록
                kakao.maps.event.addListener(marker, 'click', function () {
                    if (overlay.getMap()) { // 이미 오버레이가 표시중이면
                        overlay.setMap(null);
                    } else {
                        overlay.setMap(map);
                    }
                });
                $(document).on('click', '.close', function() {
                    overlay.setMap(null);
                });
            });
            // 클러스터러에 마커들을 추가
            clusterer.addMarkers(markers);
            // 클러스터 클릭 이벤트
            kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {
                // 현재 지도 레벨에서 1레벨 확대한 레벨
                var level = map.getLevel()-1;
                // 지도를 클릭된 클러스터의 마커의 위치를 기준으로 확대
                map.setLevel(level, {anchor: cluster.getCenter()});
            });
        }
    });
</script>
</html>