<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="base(content)">

    <!--  헤더  -->
    <th:block th:replace="~{/layouts/header :: headerFrg}"></th:block>

    <body>

    <!--  페이지 래퍼  -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!--  네브  -->
        <th:block th:replace="~{/layouts/nav :: navFrg}"></th:block>

        <!--  컨텐트  -->
        <th:block th:replace="${content}"></th:block>

        <!-- 푸터  -->
        <h1>푸터 영역</h1>
        <th:block th:replace="~{/layouts/footer :: footerFrg}"></th:block>
    </div>


    </body>

</th:block>
</html>