<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="base(content)">

    <!--  헤더  -->
    <th:block th:replace="~{/layouts/header :: headerFrg}"></th:block>


<!--    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">-->
    <body>


    <!--  페이지 래퍼  -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!--  네브  -->
        <th:block th:replace="~{/layouts/nav :: navFrg}"></th:block>

        <!--  컨텐트  -->
        <th:block th:replace="${content}"></th:block>

        <!-- 푸터  -->
        <th:block th:replace="~{/layouts/footer :: footerFrg}"></th:block>
    </div>


    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    </body>


</th:block>
</html>