<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="base(content)">

    <!--  헤더  -->
    <th:block th:replace="~{layouts/header :: headerFrg}"></th:block>

    <body>

    <!--  페이지 래퍼  -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!--  컨텐트  -->
        <th:block th:include="${content}"></th:block>

        <!-- 푸터  -->
        <th:block th:replace="~{layouts/footer :: footerFrg}"></th:block>
    </div>





    </body>


</th:block>
</html>