<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="base(content)">

    <!--  헤더  -->
    <h1>헤더 영역</h1>
    <th:block th:replace="~{/layouts/header :: headerFrg}"></th:block>

    <!--  네브  -->
    <h1>네브 영역</h1>
    <th:block th:replace="~{/layouts/nav :: navFrg}"></th:block>

    <!--  컨텐트  -->
    <h1>컨텐트 영역</h1>
    <th:block th:replace="${content}"></th:block>

    <!-- 푸터  -->
    <h1>푸터 영역</h1>
    <th:block th:replace="~{/layouts/footer :: footerFrg}"></th:block>

</th:block>
</html>