<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navFrg">

    <!--  네브 시작  -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">

            <div>
                <a class="navbar-brand fs-2" th:href="@{/}">Culendar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/myCalendar}">My Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/list}">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clubs/list}">Club</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fa-regular fa-user" id="nav-dropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">

                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/members/{id}(id=${#authentication.name})}" class="dropdown-item">프로필</a></li>
                        <li><a th:href="@{/members/{id}/setting(id=${#authentication.name})}" class="dropdown-item">설정</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{members/admin}">adminPage</a></li>
                        <li><a th:href="@{/logout}" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/signup}">Signup</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!--  네브 끝  -->


</th:block>