<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFrg">

    <!--  네브 시작  -->
    <div id="nav">
        <span id="title"></span>
        <span id="menu">
            <span id="myCalendar"></span>
            <span id="search"></span>
            <span id="community"></span>
            <span id="club"></span>
        </span>
        <span id="profile">
            <span id="edit"></span>
            <span id="setting"></span>
            <span id="logout"></span>
        </span>
    </div>
    <!--  네브 끝  -->

</th:block>