<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!--  untree_co-section bg-light 배경 영역  -->

        <!-- 게시글 상세 페이지 컨테이너 -->
        <div class="container" id="boardDetailWrapper">

            <!--        일정 추가 모달-->
            <div class="modal" id="addMyCalendar-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">달력 선택</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="addMyCalContainer">
                            <div id="addMyCalendarBtnContainer">
                                <!--    내 캘린더 목록 및 캘린더 추가 버튼 위치 -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--    문장형 평가 추가 모달-->
            <div class="modal" id="addRating-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">문장형 평가 추가</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="addRatingContainer">
                            <div th:each="rating : ${ratingType}">
                                <button class="btn btn-primary" th:text="${rating.getValue()}"
                                        th:data-rating="${rating}" th:if="${rating.value !='평가 없음'}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 게시글 제목, 수정 / 삭제 버튼, 북마크 버튼 -->
            <div class="row mt-5 text-center align-items-center">
                <div class="col-3"></div>
                <div class="col">
                    <h1 th:text="${board.title}"></h1>
                </div>
                <!-- 회원 일 경우에만 북마크 또는 수정, 삭제 버튼 보이기 -->
                <th:block sec:authorize="isAuthenticated()">
                    <!-- 게시글 작성자 일 경우만 수정, 삭제 버튼 보이기 -->
                    <th:block th:if="${member.getId} == ${board.getMemberDTO().getId()}">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary mb-1"
                                    th:onclick="|location.href='@{/boards/{id}/modify(id=${board.id})}'|">수정
                            </button>
                            <form action="" th:action="@{/boards/{id}/delete(id=${board.id})}" method="post">
                                <button type="submit" class="btn btn-outline-secondary">삭제</button>
                                <!--  TODO 삭제 확인 모달   -->
                            </form>
                        </div>
                    </th:block>
                    <!-- 게시글 작성자가 아닐 경우 북마크 버튼 보이기 -->
                    <th:block th:if="${member.getId} != ${board.getMemberDTO().getId()}">
                        <div class="col-3">
                            <button id="boardBkMarkBtn"
                                    type="button"
                                    class="fa-regular fa-bookmark fa-3x">
                            </button>
                        </div>
                    </th:block>

                </th:block>

            </div>

            <!-- 작품 정보 카드 -->
            <div class="row mt-4">

                <!-- 포스터 영역 -->
                <div class="col mr-2">
                    <img class="w-100" th:src="${board.getProgramDTO().getThumbnail()}" alt="썸네일 이미지">
                </div>

                <!-- 작품 정보 영역 -->
                <div class="col d-flex flex-column justify-content-between">
                    <!-- 문장형 평가, 캘린더 등록, 북마크 -->
                    <div class="d-flex flex-row">

                        <div class="col-4">
                            <div class="badge text-bg-secondary w-100 fs-6" id="AvgRating">
                                <!--    평균 문장형 평가 위치-->
                            </div>
                        </div>
                        <div class="col "></div>

                        <!-- 북마크, 캘린더 추가 버튼 -->
                        <div class="col-4 row" id="addBtnContainer">
                            <!-- 회원일 경우에만 북마크, 캘린더 추가 버튼 보이기 -->
                            <th:block sec:authorize="isAuthenticated()">
                                <div class="col p-0 fs-4">
                                    <button id="bkMarkBtn" class="fa-regular fa-bookmark w-75 h-75"></button>
                                </div>
                                <div class="col p-0 fs-4">
                                    <button class="fa-regular fa-clipboard w-75 h-75"></button>
                                </div>
                            </th:block>

                        </div>

                    </div>

                    <!-- 작품 제목 -->
                    <div class="">
                        <div class="col">
                            <div class="fs-3" th:text="${board.getProgramDTO().getTitle()}"></div>
                        </div>
                    </div>

                    <!-- 작품 시작일 -->
                    <div class="">
                        <div class="col-10 h-100">
                            <div class="w-100 fs-5"
                                 th:text="|${#temporals.format(board.getProgramDTO().getStartDate(), 'yyyy-MM-dd')} ~ ${#temporals.format(board.getProgramDTO().getEndDate(), 'yyyy-MM-dd')}|"
                            ></div>
                        </div>
                    </div>

                    <!-- 좋아요 버튼, 내 후기 -->
                    <div class="d-flex flex-row" id="ratingAndReviewContainer">

                        <th:block sec:authorize="isAuthenticated()">

                            <div class="col-4 fs-6" id="addRating">
                                <!--   회원 문장형 평가 위치-->
                            </div>
                            <div class="col"></div>
                            <!-- TODO : 좋아요, 후기, 체크박스 버튼 -->
                            <div class="col-2 fs-6">
                                <div class="badge text-bg-secondary w-100 h-100">내후기</div>
                            </div>
                            <div class="col-2 fs-6">
                                <div class="badge text-bg-secondary w-100 h-100">체크박스</div>
                            </div>

                        </th:block>

                    </div>

                    <!-- TODO 지도 영역 -->
                    <div style="height: 40%">
                        <div class="col h-100">
                            <div class="badge text-bg-secondary w-100 h-100 fs-1">지도</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 게시글 내용 -->
            <div class="row mt-4">
                <div class="col">
                    <p th:text="${board.getContent()}"></p>
                </div>
            </div>


            <!--  프로필 이미지 + 회원 정보 영역  -->
            <div class="row d-flex justify-content-center mt-5 mb-5">

                <div class="col-6">
                    <!-- 프로필 이미지 -->
                    <div class="row mb-3 justify-content-center">
                        <div class="col-4">
                            <img src="/sbadmin/images/person_1.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>

                    <!-- TODO 닉네임, 팔로우 버튼 -->
                    <div class="row text-center mb-3">
                        <div class="col-6 text-end">
                            <div class="badge text-bg-secondary fs-4 d-inline-block"
                                 th:text="${board.getMemberDTO().getUsername()}"></div>
                        </div>
                        <div class="col-6 text-start">
                            <div sec:authorize="isAuthenticated()" class="badge text-bg-primary fs-6">Follow</div>
                        </div>
                    </div>

                    <!-- 지역, 소개 -->
                    <div class="row text-center justify-content-center">
                        <div class="col-3 text-end">
                            <div class="badge text-bg-secondary fs-6"
                                 th:text="${board.getMemberDTO().getLocation().value}"></div>
                        </div>
                        <div class="col-auto text-start">
                            <div class="badge text-bg-secondary fs-6"
                                 th:text="${board.getMemberDTO().getIntroduction()}"></div>

                        </div>
                    </div>

                </div>


            </div>

            <!-- 댓글 Card todo 댓글  -->
            <div class="row">
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                    </div>
                    <!-- 댓글 작성 폼 -->
                    <div class="card-body">
                        <form id="cmtForm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="comment">
                            </div>
                            <button type="button" class="btn btn-primary" id="newCmtBtn">댓글등록</button>
                        </form>
                    </div>
                    <hr/>
                    <!-- 댓글 리스트 : printReplyList 함수에서 동적으로 추가 -->
                    <div class="card-body" id="cmtListContainer">

                    </div>
                    <!-- 댓글 Pagination -->
                    <div class="card-body" id="cmtPagination">

                    </div>
                </div>
            </div>

            <!-- 답글 수정 모달 추가 -->
            <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modifyModalLabel">Comment Modify Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modalCid" class="col-form-label">Comment Id</label>
                                    <input type="text" class="form-control" id="modalCid" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modalCmt" class="col-form-label">Comment</label>
                                    <input type="text" class="form-control" id="modalCmt">
                                </div>
                                <div class="form-group">
                                    <label for="modalCmter" class="col-form-label">Commenter</label>
                                    <input type="text" class="form-control" id="modalCmter">
                                </div>
                                <div class="form-group">
                                    <label for="modalCmtDate" class="col-form-label">Comment Date</label>
                                    <input type="text" class="form-control" id="modalCmtDate" readonly>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="modalSaveBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 답글 모달 추가 -->
            <div class="modal fade" id="reCmtModal" tabindex="-1" aria-labelledby="reCmtModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reCmtModalLabel">Re-Comment Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="reCmt" class="col-form-label">Comment</label>
                                    <input type="text" class="form-control" id="reCmt">
                                </div>
                                <div class="form-group">
                                    <label for="reCmter" class="col-form-label">Commenter</label>
                                    <input type="text" class="form-control" id="reCmter">
                                </div>
                                <input type="hidden" id="reRefid"/>
                                <input type="hidden" id="reStep"/>
                                <input type="hidden" id="reLevel"/>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="reCmtSaveBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                let boardIdVal = [[${board.id}]]; // 본문 글번호
                let cmtListDiv = $("#cmtListContainer");  // 댓글 목록 컨테이너
                let cmtPaginationDiv = $("#cmtPagination"); // 댓글 페이지네이션 컨테이너
                let currPage = 1; // 현재 보고있는 댓글 페이지 번호 저장해둘 변수
                let boardType = [[${board.boardType}]]; // 게시글 타입


                // 현재 로그인이 되어 있다면 회원 id를, 아니면 null을 저장
                var member = [[${member}]]
                var memberId
                if (member == null) {
                    memberId = 0;
                } else {
                    memberId = member.id;
                }
                console.log("memberId : " + memberId);

                var programId = [[${board.getProgramDTO.getId()}]]; // 현재 게시글의 작품 id

                // 페이지 로딩시 시작할 함수들
                getAvgRating(); // 평균 평가 가져오기
                getMyRating(); // 내 평가 가져오기
                getCommentList(1);  // 댓글 목록 요청 호출!
                checkBoardBkmark(); // 게시글 북마크 체크
                checkProgramBkmark(); // 작품 북마크 체크

                // ********** 클릭시 이벤트들 **********

                // 모달 닫기 버튼 클릭시
                $('.close').click(function () {
                    // close modal
                    $('#addRating-modal').modal('hide');
                    $('#addMyCalendar-modal').modal('hide');
                });

                // 회원의 문장형 평가 클릭시 모달 띄우기
                $('#ratingAndReviewContainer').on('click', '#addRating', function () {

                    let data = {
                        memberId: memberId,
                        programId: programId
                    };

                    $('#addRating-modal').modal('show');


                });

                // 문장형 평가 모달내에 버튼 클릭시 이벤트
                $('#addRatingContainer').on('click', 'button', function () {
                    let rating = $(this).data('rating');
                    console.log(rating);
                    let ratingNum = 0;

                    if (rating === 'VERYGOOD') {
                        ratingNum = 5;
                    } else if (rating === 'GOOD') {
                        ratingNum = 4;
                    } else if (rating === 'NORMAL') {
                        ratingNum = 3;
                    } else if (rating === 'BAD') {
                        ratingNum = 2;
                    } else if (rating === 'VERYBAD') {
                        ratingNum = 1;
                    }
                    console.log(ratingNum);

                    let data = {
                        memberId: memberId,
                        programId: programId,
                        rating: ratingNum
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/rating/addRating',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);
                            $('#addRating-modal').modal('hide');
                            if (result === 'fail') {
                                alert('평가가 수정 되었습니다.');
                                getMyRating();
                                getAvgRating();
                                return;
                            }
                            alert('평가가 등록되었습니다.');
                            getMyRating();
                            getAvgRating();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('평가 등록에 실패했습니다.');
                        }

                    });

                });

                // 작품 북마크 버튼 클릭시 이벤트
                $('#addBtnContainer').on('click', '#bkMarkBtn', function () {

                    let data = {
                        memberId: memberId,
                        programId: programId
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/bkmark/addProgramBkmark',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('북마크에서 삭제 되었습니다.');
                                checkProgramBkmark();
                                return;
                            }
                            alert('북마크에 추가되었습니다.');
                            checkProgramBkmark();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('북마크 추가에 실패했습니다.');
                        }
                    });

                });

                // 게시글 북마크 버튼 클릭시
                $('#boardBkMarkBtn').on('click', function () {
                    let data = {
                        memberId: memberId,
                        boardId: boardIdVal,
                        boardType: boardType,
                        programId: programId
                    };

                    console.log(data);

                    $.ajax({
                        type: 'POST',
                        url: '/bkmark/addBoardBkmark',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('북마크에서 삭제 되었습니다.');
                                checkBoardBkmark();
                                return;
                            }
                            alert('북마크에 추가되었습니다.');
                            checkBoardBkmark();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('북마크 추가에 실패했습니다.');
                        }
                    });
                });

                // 일정 아이콘 클릭시 이벤트
                $('#addBtnContainer').on('click', '.fa-clipboard', function () {

                    // ajax로 내 달력 목록 가져오기
                    $.ajax({
                        url: '/calendar/myCalendarNameList/' + memberId,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            let html = '';
                            data.forEach(function (myCalendar) {
                                html += '<button class="btn btn-primary cal-name" data-mycalid="' + myCalendar.id + '">' + myCalendar.name + '</button>';
                            });
                            html += '<br><input type="text" id="newCalendarName" placeholder="새로운 캘린더 이름"><button id="addNewCalendarBtn" class="btn btn-primary">추가</button>';
                            $('#addMyCalContainer').html(html);

                            $('#addMyCalendar-modal').modal('show');
                        }
                    });
                });

                // 일정 모달 내에 달력 버튼 클릭시
                $('#addMyCalContainer').on('click', '.cal-name', function () {
                    let myCalId = $(this).data('mycalid');
                    console.log(myCalId);
                    console.log(programId);
                    // ajax로 내 달력에 일정 추가 POST방식
                    let data = {
                        calendarId: myCalId,
                        programId: programId
                    };

                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/calendar/addProgramToCalendar',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('이미 추가된 일정입니다.');
                                return;
                            }
                            alert('일정이 추가되었습니다.');
                            $('#addMyCalendar-modal').modal('hide');
                        },
                        error: function (error) {
                            console.log(error);
                            alert('일정 추가에 실패했습니다.');
                        }
                    });

                });

                // 일정 모달 내에 새로운 캘린더 추가 버튼 클릭시
                $('#addMyCalContainer').on('click', '#addNewCalendarBtn', function () {
                    let newCalendarName = $('#newCalendarName').val();
                    console.log(newCalendarName);
                    if (newCalendarName === '') {
                        alert('캘린더 이름을 입력해주세요.');
                        return;
                    } else {

                        let data = {
                            memberId: memberId,
                            name: newCalendarName
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/calendar/addNewCalendar',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result, status) {
                                console.log(result);
                                if (result === 'fail') {
                                    alert('이미 존재하는 캘린더 이름입니다.');
                                    return;
                                }
                                alert('새로운 캘린더가 추가되었습니다.');
                                $('#addMyCalendar-modal').modal('hide');
                            },
                            error: function (error) {
                                console.log(error);
                                alert('캘린더 추가에 실패했습니다.');
                            }
                        });
                    }

                });


                // ********** 각종 함수들 **********

                // 평균 문장형 평가 가져는 함수
                function getAvgRating() {
                    $.ajax({
                        url: '/rating/getAvgRating/' + programId,
                        type: 'GET',
                        success: function (data) {
                            $('#AvgRating').text(data);
                        }
                    });
                }

                // 회원 문장형 평가 가져오기
                function getMyRating() {
                    $.ajax({
                        url: '/rating/getRating/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            let html = '';
                            html += '<div class="badge text-bg-secondary w-100 h-100">' + data + '</div>';
                            $('#addRating').html(html);
                        }
                    });
                }

                // 화면에 뿌려주는 시간 포맷팅 함수
                function displayTime(timeValue) {
                    let today = new Date();
                    let dateObj = new Date(timeValue);
                    let gap = today.getTime() - dateObj;
                    if (gap < (1000 * 60 * 60 * 24) && today.getDate() == dateObj.getDate()) {
                        let hh = dateObj.getHours();
                        let mi = dateObj.getMinutes();
                        let ss = dateObj.getSeconds();
                        return [(hh > 9 ? '' : '0') + hh, ':', (mi > 9 ? '' : '0') + mi, ':', (ss > 9 ? '' : '0') + ss].join('');
                    } else {
                        let yy = dateObj.getFullYear();
                        let mm = dateObj.getMonth() + 1;
                        let dd = dateObj.getDate();
                        return [yy, '/', (mm > 9 ? '' : '0') + mm, '/', (dd > 9 ? '' : '0') + dd].join('');
                    }
                }

                // 게시글 북마크 여부 확인 함수
                function checkBoardBkmark() {

                    console.log("checkBoardBkmark");
                    $.ajax({
                        url: '/bkmark/checkBoardBkmark/' + memberId + '/' + boardIdVal,
                        type: 'GET',
                        success: function (data) {
                            if (data === true) {
                                console.log(data);
                                $('#boardBkMarkBtn').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                            }

                            if (data === false) {
                                console.log(data);
                                $('#boardBkMarkBtn').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                            }
                        }
                    });

                }

                // 작품 북마크 여부 확인 이벤트
                function checkProgramBkmark() {
                    console.log("checkProgramBkmark");
                    $.ajax({
                        url: '/bkmark/checkProgramBkmark/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            if (data === true) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                            }

                            if (data === false) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                            }
                        }
                    });
                }


                // ********* 댓글 관련 **********

                // ***** 댓글 목록 ********************
                // 댓글 목록 요청 함수
                function getCommentList(page) {
                    console.log("getCommentList! page: " + page);
                    currPage = page;
                    $.ajax({
                        type: "get",
                        url: "/comments/list/" + boardIdVal + "/" + page,
                        success: function (result) {
                            console.log("댓글 목록 요청 성공!");
                            console.log(result);
                            // 댓글 목록 화면에 띄우기
                            printCommentList(result.commentList);
                            // 댓글 페이지네이션 화면에 띄우기
                            printPagination(result.pageResponseDTO);
                        },
                        error: function (e) {
                            console.log("댓글 목록 요청 실패....");
                            console.log(e);
                        }
                    });
                }

                // 댓글 목록 화면에 출력하는 함수
                function printCommentList(list) {
                    let html = '';
                    for (let i = 0; i < list.length; i++) {
                        html += '<div class="row align-items-center p-2">';
                        html += '<div>';
                        let wid = 30 * list[i].level;
                        html += '<img src="/comments/display/bgwhite.PNG" width="' + wid + '" height="16"/>';
                        if (list[i].level > 0) {
                            html += '<img src="/comments/display/arrow.PNG" width="30"/>';
                        }
                        html += '</div><div class="col mr-2">';
                        html += '<div class="h5 mb-0 font-weight-bold text-gray-800">' + list[i].comment + '</div>';
                        html += '<div class="text-xs font-weight-bold text-primary mb-1">' + list[i].commenter;
                        html += ' <span class="ml2 text-gray-500"> ' + displayTime(list[i].lastModifiedDate) + ' </span></div></div>';
                        html += '<div class="col-auto btn-group-sm">';
                        html += '<button class="btn btn-info mr-1 reCmtBtn" data-refid="' + list[i].refId + '" data-step="' + list[i].step + '" data-level="' + list[i].level + '">답글</button>';
                        html += '<button class="btn btn-warning mr-1 cmtModifBtn" data-cmtid="' + list[i].id + '">수정</button>';
                        html += '<button class="btn btn-danger mr-1 cmtDelBtn" data-cmtid="' + list[i].id + '" >삭제</button>';
                        html += '</div></div><hr />';
                    }
                    cmtListDiv.html(html); // 목록 태그 컨테이너 안에 붙히기
                }

                // 댓글 Pagination 띄우는 함수
                function printPagination(pageDTO) {
                    let html = '<nav aria-label="..."><ul class="pagination justify-content-end mb-5">';
                    // * prev
                    if (pageDTO.prev) {
                        html += '<li class="page-item">';
                    } else {
                        html += '<li class="page-item disabled">';
                    }
                    html += '<a class="page-link" href="' + (pageDTO.startPage - 1) + '">Previous</a></li>';
                    // * 페이지 번호 반복
                    for (let i = 0; i < pageDTO.pageNumList.length; i++) {
                        if (pageDTO.pageNumList[i] == currPage) {
                            html += '<li  class="page-item active">';
                        } else {
                            html += '<li  class="page-item">';
                        }
                        html += '<a class="page-link" href="' + pageDTO.pageNumList[i] + '">' + pageDTO.pageNumList[i] + '</a></li>';
                    }
                    // * next
                    if (pageDTO.next) {
                        html += '<li class="page-item">';
                    } else {
                        html += '<li class="page-item disabled">';
                    }
                    html += '<a class="page-link" href="' + (pageDTO.endPage + 1) + '">Next</a>';
                    html += '</li></ul></nav>';

                    cmtPaginationDiv.html(html); // 부착!
                }

                // 댓글 페이지번호 클릭 이벤트 등록
                cmtPaginationDiv.on("click", "a.page-link", function (e) {
                    e.preventDefault(); // a 태그의 기본이벤트가 href속성의 적힌 경로로 이동 -> 취소하기
                    let pageNum = $(this).attr("href");
                    console.log("페이지 번호 클릭 - pageNum : " + pageNum);
                    getCommentList(pageNum); // 클릭한 페이지 번호의 댓글 목록 요청
                });

                // ***** 댓글 등록 ********************
                $("#newCmtBtn").on("click", function (e) {
                    console.log("new comment button clicked!!");
                    let cmtTxt = $("#comment").val(); // 댓글 내용 가져오기
                    let cmterTxt = $("#commenter").val(); // 댓글 작성자 가져오기
                    let data = {
                        comment: cmtTxt,
                        commenter: cmterTxt,
                        boardId: boardIdVal,
                        refId: 0,
                        step: 0,
                        level: 0
                    };
                    console.log(data);
                    saveComment(data, function () {
                        getCommentList(1); // 목록 호출
                        $("#comment").val(""); // 댓글작성란 비우기
                        $("#commenter").val("");
                    });
                });

                // 댓글 저장 처리 함수
                function saveComment(data, callbackFn) { // 저장데이터와 성공시 실행할 콜백함수 전달받기
                    $.ajax({
                        type: "post",
                        url: "/comments/add",
                        data: JSON.stringify(data),
                        contentType: "application/json;charset=UTF-8",
                        success: function (result) {
                            console.log("댓글 등록 성공!!");
                            console.log(result);
                            callbackFn();  // 콜백함수 호출
                        },
                        error: function (e) {
                            console.log("댓글 등록 실패....");
                            console.log(e);
                        }
                    });
                }

                // ***** 답글 버튼 이벤트 ****************
                cmtListDiv.on("click", "button.reCmtBtn", function (e) {
                    console.log("답글 버튼 클릭!");
                    // 버튼에 숨겨둔  refId, step, level값 꺼내기
                    let refIdVal = $(this).data("refid");
                    let stepVal = $(this).data("step");
                    let levelVal = $(this).data("level");
                    console.log(refIdVal, stepVal, levelVal);
                    // 모달에 다시 심기
                    $("#reRefid").val(refIdVal);
                    $("#reStep").val(stepVal);
                    $("#reLevel").val(levelVal);
                    // 모달 띄우기
                    $("#reCmtModal").modal("show");
                });

                // 답글 저장 버튼 이벤트 등록
                $("#reCmtSaveBtn").on("click", function (e) {
                    console.log("답글 저장 버튼 클릭!");
                    // 답글 내용 꺼내서 JS 객체로 만들기
                    let cmtVal = $("#reCmt").val();
                    let cmterVal = $("#reCmter").val();
                    let refidVal = $("#reRefid").val();
                    let stepVal = $("#reStep").val();
                    let levelVal = $("#reLevel").val();
                    let data = {
                        comment: cmtVal,
                        commenter: cmterVal,
                        boardId: boardIdVal,
                        refId: refidVal,
                        step: stepVal,
                        level: levelVal
                    };
                    saveComment(data, function () {
                        // 답글 모달의 입력란 비우기
                        $("#reCmt").val("");
                        $("#reCmter").val("");
                        $("#reCmtModal").modal("hide"); // 모달 숨기기
                        getCommentList(currPage); // 목록 요청 호출 -> currPage 보고있던 댓글 페이지 요청
                    });

                });


                // ***** 댓글 삭제 **********************
                // 댓글 삭제 버튼 이벤트 등록
                cmtListDiv.on("click", "button.cmtDelBtn", function (e) {
                    let commentId = $(this).data("cmtid");
                    console.log("삭제버튼 클릭!!! commentId : " + commentId);
                    $.ajax({
                        type: "delete",
                        url: "/comments/" + commentId,
                        success: function (result) {
                            console.log("삭제 요청 성공!");
                            console.log(result);
                            getCommentList(currPage); // 목록 호출
                        },
                        error: function (e) {
                            console.log("삭제 요청 실패...");
                            console.log(e);
                        }
                    });
                });

                // ***** 댓글 수정 **********************
                // 수정 버튼 클릭 이벤트
                cmtListDiv.on("click", "button.cmtModifBtn", function (e) {
                    let cmtIdVal = $(this).data("cmtid");
                    console.log("수정 버튼 클릭!! cmtIdVal : " + cmtIdVal);
                    getOneComment(cmtIdVal);  // 댓글 정보 가져오기 함수 호출
                });

                // 댓글 정보 가져오는 함수
                function getOneComment(cmtId) {
                    $.ajax({
                        type: "get",
                        url: "/comments/" + cmtId,
                        success: function (result) {
                            console.log("댓글 한개 요청 성공!");
                            console.log(result);
                            showModifyModal(result); // 모달띄워라~
                        },
                        error: function (e) {
                            console.log("댓글 한개 요청 실패....");
                            console.log(e);
                        }
                    });
                }

                // 수정 모달 띄우는 함수
                function showModifyModal(comment) {
                    // 모달에 댓글 내용 추가
                    $("#modalCid").val(comment.id);
                    $("#modalCmt").val(comment.comment);
                    $("#modalCmter").val(comment.commenter);
                    $("#modalCmtDate").val(displayTime(comment.lastModifiedDate));
                    $("#modifyModal").modal("show"); // 모달 보여주기
                }

                // 수정 모달의 save 버튼 이벤트 등록
                $("#modalSaveBtn").on("click", function (e) {
                    // 수정된 내용들 다 가져와서 수정 요청
                    let cidVal = $("#modalCid").val();
                    let cmtVal = $("#modalCmt").val();
                    let cmterVal = $("#modalCmter").val();
                    let data = {
                        id: cidVal,
                        comment: cmtVal,
                        commenter: cmterVal
                    };
                    $.ajax({
                        type: "patch",
                        url: "/comments/" + cidVal,
                        data: JSON.stringify(data),
                        contentType: "application/json;charset=UTF-8",
                        success: function (result) {
                            console.log("댓글 수정처리 성공!");
                            console.log(result);
                            $("#modifyModal").modal("hide"); // 모달 닫기
                            getCommentList(currPage); // 댓글 목록 요청 호출
                        },
                        error: function (e) {
                            console.log("댓글 수정처리 실패...");
                            console.log(e);
                        }
                    });
                });


            }); // ready
        </script>

    </th:block>
</th:block>
</html>