<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <!--  TODO 텍스트 에디터 API  -->
        <!-- TODO 유효성 검사, 이미지 첨부 -->

        <div id="boardAddWrapper" class="mt-5">

            <form class="container mt-4" th:object="${board}" method="post" action="" th:action >

                <div class="row mb-4 "> <!-- 제목, 게시글 분류 선택 -->

                    <div class="col-12 input-group input-group-lg">

                        <span class="input-group-text">제목</span>

                        <button class="btn-secondary" th:text="${board.getBoardType().value}"></button>

                        <input type="text" class="form-control" th:field="*{title}">

                    </div>

                </div>

                <div class="row mb-4"> <!-- 작품 선택 -->

                    <div class="col-12 input-group input-group-lg">

                        <label for="search-text" class="input-group-text">작품 선택</label>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" id="programSelectCheck" type="checkbox" th:checked="${true}" readonly>
                        </div>
                        <input type="text" id="search-text" class="form-control dropdown-toggle search-input"
                               th:value="${board.getProgramDTO().getTitle()}" disabled>
                    </div>

                </div>

                <div class="row mb-4">
                    <div class="input-group input-group-lg">

                        <label for="content-textarea" class="input-group-text">내용</label>

                    </div>
                </div>

                <div class="row mb-4">
                    <div class="input-group">

                        <textarea th:field="*{content}" rows="30" class="form-control" id="content-textarea">

                        </textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <button type="button" class="btn btn-outline-secondary" th:onclick="history.go(-1)">
                            취소
                        </button>
                        <button type="submit" class="btn btn-secondary">수정</button>
                    </div>
                </div>


            </form>

        </div>

        <script th:inline="javascript">
            
        </script>
    </th:block>
</th:block>
</html>