<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <div class="untree_co-section bg-light">  <!--  todo 반응형 패딩 안 맞음  -->
            <div class="container">  <!--  커뮤니티홈  -->

                <div class="row mb-5">  <!--  제목  -->
                    <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                        <h2 class="heading">인기글</h2>
                    </div>

                </div>  <!--  row mb-5 제목 영역  -->

                <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                    <div class="row">  <!--  카테고리  -->
                        <!--  TODO 북마크 데이터로 인기글 조건 걸어서 필터링 버튼  -->
                        <button type="button" class="btn btn-warning" id="btnBest">인기순</button>
                        <button type="button" class="btn btn-warning" id="btnAll">전체글</button>
                        <button type="button" class="btn btn-secondary" id="btnInfo">정보</button>
                        <button type="button" class="btn btn-secondary" id="btnReview">후기</button>
                        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards/add}'|">글
                            작성
                        </button>
                    </div>  <!--  row 카테고리 영역  -->
                </div>  <!--  col-12 mb-5 aos-init aos-animate 카테고리  -->
                <table class="row">  <!--  row 리스트 제목  -->
                    <thead class="col-12">
                    <tr>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Writer</th>
                    </tr>
                    </thead>
                    <tbody class="col-12" id="listContainer">  <!--  게시글 리스트  -->
                        <!--  NOTE 동적으로 추가  -->
                    </tbody>  <!--  row 게시글 리스트  -->
                </table>  <!--  row 리스트 헤더 영역  -->

                    <div class="row text-start pt-5 border-top">  <!--  페이징 영역  -->
                        <div class="col-mb-12">
                            <div class="custom-pagination">
                                <!--  NOTE 동적으로 추가  -->
                            </div>  <!--  custom-pagination  -->
                        </div>  <!-- col-mb-12   -->
                    </div>  <!-- row text-start pt-5 border-top 검색창+페이징 영역   -->

                <!--  todo 검색 기능 추가  -->

            </div>  <!--  container 커뮤니티홈 영역  -->
        </div>  <!--  untree_co-section 배경 영역  -->

        <div id="community-wrapper"> <!-- 커뮤니티 wrapper -->

            <div class="container"> <!-- 인기글 -->

                <div>
                    <span class="badge text-bg-secondary fs-4 mb-3">인기글</span>
                </div>

                <div class="row" id="BestListContainer">

                    <!-- 인기글 조회 해서 4개 띄우기 -->
                    <!--<div class="col-3 ml-1 mr-1 ">
                    <div>
                        <img src="" class="card-img-top mb-1 img-thumbnail img-fluid" alt="...">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-auto card-title fs-4">제목</div>
                                <div class="col-2 badge text-bg-secondary fs-6">정보</div>
                            </div>
                            <p class="card-text">lㅁㄴㅇㅁㄴㅇㄴㅁㅀㄴㅇㄴㅇㅀㅀㅇㅇㅀㅇㅀ</p>
                            </div>
                        </div>
                    </div>-->

                </div>

            </div>


        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                let currPage = 1;

                // 페이지 로딩 후 실행
                getAllList("ALL", 1);

                // 인기 게시글 불러오기
                getBestList();

                function getAllList(sort, page) {
                    console.log("getAllList! page: " + page);
                    currPage = page;
                    $.ajax({
                        type: "get",
                        url: "/ajaxBoards/list/" + sort + "/" + page,
                        success: function (result) {
                            console.log("게시글 목록 요청 성공!");
                            console.log(result);
                            // 게시글 목록 화면에 띄우기
                            printBoardList(result.list);
                            // 게시글 페이지네이션 화면에 띄우기
                            printPagination(result, sort);
                        },
                        error: function (e) {
                            console.log("게시글 목록 요청 실패....");
                            console.log(e);
                        },
                    });
                }

                function printBoardList(list) {
                    var html = '';
                    for (let i = 0; i < list.length; i++) {
                        html += '<tr>'
                        html += '<td><a>' + list[i].boardType + '</a></td>';
                        html += '<td><a href="/boards/' + list[i].id + '">' + list[i].title + '</a></td>';
                        html += '<td><a>' + list[i].memberDTO.username + '</a></td>';
                        html += '</tr>';
                    }
                    $('#listContainer').html(html);
                }

                // 댓글 Pagination 띄우는 함수
                function printPagination(pageDTO, sort) {
                    let html = "";

                    html += '<span class="page-item"';
                    if (pageDTO.prev == false) {
                        html += 'disabled';
                    }
                    html += '><a href="' + (pageDTO.startPage - 1);
                    html += '" class="page-link" data-sort="' + sort + '">Previous</a></span>';

                    for (let i = 0; i < pageDTO.pageNumList.length; i++) {
                        html += '<span class="page-item ';
                        if (pageDTO.pageNumList[i] == currPage) {
                            html += 'active';
                        }
                        html += '"><a href="' + pageDTO.pageNumList[i];
                        html += '" class="page-link" data-sort="' + sort + '">' + pageDTO.pageNumList[i] + '</a></span>';
                    }

                    html += '<span class="page-item"';
                    if (pageDTO.next == false) {
                        html += 'disabled';
                    }
                    html += '><a href="' + (pageDTO.endPage + 1);
                    html += '" class="page-link" data-sort="' + sort + '">Next</a></span>';

                    $(".custom-pagination").html(html); // 부착!
                }

                $(".custom-pagination").on("click", "a.page-link", function (e) {
                    e.preventDefault(); // <a> 태그 이동기능 삭제
                    let pageNum = $(this).attr("href"); // <a> 태그 href 속성에 담아둔 이동할 페이지번호 꺼내기
                    let sort = $(this).data("sort");
                    getAllList(sort, pageNum);
                });

                $("#btnBest").on("click", function () {
                    getAllList("BEST", 1);
                });
                $("#btnAll").on("click", function () {
                    getAllList("ALL", 1);
                });
                $("#btnInfo").on("click", function () {
                    getAllList("INFO", 1);
                });
                $("#btnReview").on("click", function () {
                    getAllList("REVIEW", 1);
                });

                // 각종 함수들

                // 인기글 목록 불러오기
                function getBestList() {
                    $.ajax({
                        type: "get",
                        url: "/ajaxBoards/best",
                        success: function (result) {
                            console.log("인기글 목록 요청 성공!");
                            console.log(result);

                            changeBestList(result);
                            // 인기글 목록 화면에 띄우기
                        },
                        error: function (e) {
                            console.log("인기글 목록 요청 실패....");
                            console.log(e);
                        },
                    });
                }

                // 인기글 목록 화면에 띄우기
                function changeBestList(list) {

                    var html = '';
                    for (let i = 0; i < list.length; i++) {

                        html += '<div class="col-3 ml-1 mr-1 bestBoardListContainer">';
                        html += '<div hidden="hidden" class="boardId">' + list[i].id+ '</div>';
                        html += '<div>';
                        html += '<img src="' + list[i].programDTO.thumbnail + '" class="card-img-top mb-2 img-thumbnail img-fluid" style="height: 30vw" alt="...">';
                        html += '<div class="card-body">';
                        html += '<div class="row mb-2">';
                        // 제목 길이가 11자 이상이면 11자로 자르기
                        var title = list[i].title;
                        if (title.length > 10) {
                            title = title.substring(0, 10) + '...';
                        }
                        html += '<div class="col-auto card-title fs-4">' + title + '</div>';
                        html += '<div class="col-2 badge text-bg-secondary fs-6 d-flex justify-content-center align-items-center">' + getBoardType(list[i].boardType) + '</div>';
                        html += '</div>';
                        html += '<p class="card-text">' + list[i].content + '</p>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                    }
                    $('#BestListContainer').html(html);
                }

                // 인기글 클릭시 해당 게시글로 이동
                $(document).on("click", ".bestBoardListContainer", function () {
                    var boardId = $(this).find(".boardId").text();
                    location.href = "/boards/" + boardId;
                });


                // 게시글 타입에 따른 한글로 변환
                function getBoardType(type) {
                    if (type == "INFO") {
                        return "정보";
                    } else if (type == "REVIEW") {
                        return "후기";
                    } else {
                        return "기타";
                    }
                }


            });
        </script>

    </th:block>
</th:block>
</html>