<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <div class="untree_co-section bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                        <h2 class="heading">인기글</h2>
                    </div>
                </div>  <!--  row mb-5  -->
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                        <div class="news-item">  <!--  게시글 카드 1  -->
                            <div class="vcard d-flex mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_1.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">헤드윅 꿀팁 공유합니다</a></h3>
                                <span class="post-meta-2">이번주 재관람 30% 할인이라네요~~</span>
                            </div>
                            <div class="news-contents mb-4"></div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 1 -->
                    </div>  <!--  애니메이션 속성 END  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="news-item">  <!--  게시글 카드 2  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">게시글 제목</a></h3>
                                <p>게시글 내용</p>
                                <span class="post-meta-2">(조회수)</span>
                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 2 -->
                    </div>  <!--  애니메이션 속성 END  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="news-item">  <!--  게시글 카드 3  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">게시글 제목</a></h3>
                                <p>게시글 내용</p>
                                <span class="post-meta-2">(조회수)</span>
                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 3 -->
                    </div>  <!--  애니메이션 속성 END  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="news-item">  <!--  게시글 카드 4  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">게시글 제목</a></h3>
                                <p>게시글 내용</p>
                                <span class="post-meta-2">(조회수)</span>
                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 4 -->
                    </div>  <!--  애니메이션 속성 END  -->
                </div>  <!--  row  -->
                <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Writer</th>
                                <th>Last Modified Date</th>
                                <th>Created Date</th>
                                <th>Viewed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${list}">
                                <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.boardType}">카테고리</a></td>
                                <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}">제목</a></td>
<!--                                <td th:text="${board.writer}">작성자</td>-->
<!--                                <td th:text="${#temporals.format(board.lastModifiedDate, 'yyyy-MM-dd HH:mm')}">Last Modified Date</td>-->
<!--                                <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}">Created Date</td>-->
<!--                                <td th:text="${board.viewCount}">Count</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  <!--  container  -->
        </div>  <!--  untree_co-section  -->
        <div name="board">  <!--  게시글 영역  -->
            <div name="boardCategory">  <!--  게시글 카테고리 영역  -->
                <span name="favBoard-category">인기글</span>
                <span name="infoBoard-category">정보</span>
                <span name="reviewBoard-category">후기</span>
                <span name="add-button">글 작성</span>
            </div>
            <div name="boardList">  <!--  게시글 리스트 영역  -->
                <div name="boardListHeader">  <!--  게시글 리스트 헤더 영역  -->
                    <span name="category">카테고리</span>
                    <span name="title">제목</span>
                    <span name="writer">작성자</span>
                </div>
                <div name="boardListContents">  <!--  게시글 컨텐츠 영역  -->
                    <span name="category">ex정보</span>
                    <span name="title">ex헤드윅할인</span>
                    <span name="writer">ex홍길동</span>
                </div>
            </div>
            <div name="boardFooter">  <!--  게시글 리스트 푸터 영역  -->
                <span name="searchCategory">검색카테고리</span>
                <span name="searchBar">검색창</span>
                <span name="prev-button">이전</span>
                <span name="pagingNum">페이징번호</span>
                <span name="next-button">다음</span>
            </div>
        </div>  <!--  게시글 영역 END  -->
    </th:block>
    <div name="favBoard">  <!-- 인기글 카드 영역 -->
        <div>
            <div name="heading"></div>  <!--  제목  -->
            <div name="icon-horizon"></div>
        </div>
        <div name="cards">  <!--  카드 영역  -->
            <span name="boardCard"></span>  <!--  당일 가준 관람일이 지난 작품 카드 (관람한 작품)  -->
            <span name="boardCard"></span>
            <span name="boardCard"></span>
            <span name="boardCard"></span>
        </div>
    </div> <!--  인기글 카드 영역  -->


</th:block>
</html>