<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layouts/base :: base(~{::content})}">
    <th:block th:fragment="content">

        <!-- 지역 선택 모달 -->
        <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">지역 선택</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="locationModalContainer">
                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="lType : ${locationType}">
                                <button type="button" class=" btn btn-outline-secondary lTypeBtn"
                                        th:text="${lType.value}" th:if="${lType.value !='기타'}"
                                        th:data-loc="${lType.name()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5" id="profileWrapper">  <!--  회원 프로필 영역  -->
            <form action="" th:action th:object="${member}" method="post">

                <!-- 프로필 & 기본 정보 -->
                <div class="row mt-4">
                    <!-- 회원 정보 -->
                    <div class="col-5">
                        <!-- 프로필 이미지 -->
                        <div class="row h-50 mb-3">
                            <i class="fa-solid fa-circle-user fa-10x d-flex justify-content-center align-items-center"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <!-- 닉네임 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 닉네임 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">닉네임</span>
                                    <input type="text" th:field="*{username}" class="form-control" id="usernameInput">
                                    <!-- 중복체크 결과값 -->
                                    <div class="form-text" id="userNameCheckResult"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 지역 -->
                        <div class="row">
                            <div class="col input-group mb-3">
                                <span class="input-group-text">지역</span>
                                <button class="btn btn-outline-secondary" type="button" id="locationModalBtn" data-bs-toggle="modal" data-bs-target="#locationModal">선택</button>
                            </div>
                            <!-- 지역 선택 결과값 -->
                            <input type="hidden" th:field="*{location}" id="locationValue">
                        </div>
                        <!-- 한줄 소개 입력 -->
                        <div class="row mt-2">
                            <div class="col">
                                <div class="input-group">
                            <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                  style="width: 10%">한줄소개</span>
                                    <input type="text" th:field="*{introduction}" class="form-control" id="introductionInput">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 관심사 선택 -->
                <div class="row mt-2">
                    <div class="col-2">
                        <span class="d-flex justify-content-center input-group-text">관심사</span>
                    </div>
                </div>
                <div class="row mt-2 d-flex justify-content-between">
                    <div class="col-auto" th:each="iType : ${interestType}">
                        <div class="input-group">
                            <label class="input-group-text" th:text="${iType.value}" th:if="${iType.value !='기타' && iType.value != '전체'}" th:for="${iType.name()}"></label>
                            <div class="input-group-text" th:if="${iType.value !='기타' && iType.value != '전체'}">
                                <input class="form-check-input mt-0" type="checkbox" th:field="${interestType}" th:value="${iType.name()}" th:id="${iType.name()}">
                            </div>
                        </div>
                    </div>
                </div>

                <!--프로필 수정 저장 버튼-->
                <div class="row mt-5 mb-5 d-flex justify-content-between">
                    <div class="col input-group input-group-lg d-flex justify-content-end">
                        <button id="saveBtn" type="submit" class="btn btn-dark">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function() {
        let usernameCheck = false;
        // ********** 유효성 검사 함수 **********
        // 닉네임 중복확인
        $("#usernameInput").change(function () {
            let username = $(this).val();
            $.ajax({
                type: "post",
                url: "/usernameCheck",
                data: {username: username},
                success: function (result) {
                    if (result === true) {
                        console.log("닉네임 중복확인 결과");
                        console.log(result);
                        // 글자색 토글 변경하기
                        $("#userNameCheckResult").text("이미 사용중인 닉네임입니다.")
                        $('#userNameCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                        usernameCheck = false;
                    } else {
                        $("#userNameCheckResult").text("사용 가능한 닉네임입니다.")
                        $('#userNameCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                        usernameCheck = true;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        // ********** 클릭시 함수 **********
        // 관심사 선택시 memberForm에 값 넣기
        $("input[type=checkbox]").click(function () {
            let interest = $(this).val();
            if ($(this).is(":checked")) {
                console.log("체크됨");
                console.log(interest);
                let input = $("<input>").attr("type", "hidden").attr("name", "interestType").val(interest);
                $("#profileWrapper form").append(input);
            } else {
                console.log("체크해제");
                console.log(interest);
                $("#profileWrapper form input[name=interestType][value=" + interest + "]").remove();
            }
        });

        // submit 버튼 클릭 시 유효성 검사
        $("#saveBtn").click(function () {

            let check = inputcheck();

            if(check === true){
                $("#profileWrapper form").submit();
            }
            else {
            }
        });

        function inputcheck() {
            // 닉네임 입력 확인
            let username = $("#usernameInput").val();
            if (username === null || username === "") {
                alert("닉네임을 입력해주세요.");
                return false;
            }
            console.log("닉네임 조건 통과");
            return true;
        }

        // ********** 각종 함수 **********
        // 지역 모달에서 지역 선택시 함수
        $(document).on('click', ".lTypeBtn", function () {
            $("#locationModal").modal('hide');
            $("#locationValue").val($(this).data('loc'));
            $("#locationModalBtn").text($(this).text());
        });
    });
</script>
</html>