<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">

    <th:block th:fragment="content">

        <!-- 팔로우 목록 모달 -->
        <div class="modal fade" id="followList-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" id="test1">
                    <div class="modal-header" id="test2">
                        <h1 class="modal-title fs-5">내 팔로우 목록</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container" id="followingListModalBody">

                        <!-- 팔로우 목록 양식-->
                        <!--<div class="row">

                            &lt;!&ndash; 프로필 &ndash;&gt;
                            <div class="col-2">
                                <i class="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                            </div>

                            <div class="col">
                                <div class="row d-flex justify-content-between align-items-center">
                                    &lt;!&ndash; 닉네임, 지역 &ndash;&gt;
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-outline-secondary">asd</button>
                                            <span class="input-group-text">지역</span>
                                        </div>
                                    </div>

                                    &lt;!&ndash; 팔로우 버튼 &ndash;&gt;
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-dark">UnFollow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>

        <!-- 팔로워 목록 모달 -->
        <div class="modal fade" id="followerList-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">팔로워 목록</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container" id="followerListModalBody">

                        <!-- 팔로우 목록 양식-->
                        <!--<div class="row">

                            &lt;!&ndash; 프로필 &ndash;&gt;
                            <div class="col-2">
                                <i class="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                            </div>

                            <div class="col">
                                <div class="row d-flex justify-content-between align-items-center">
                                    &lt;!&ndash; 닉네임, 지역 &ndash;&gt;
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-outline-secondary">asd</button>
                                            <span class="input-group-text">지역</span>
                                        </div>
                                    </div>

                                    &lt;!&ndash; 팔로우 버튼 &ndash;&gt;
                                    <div class="col-auto">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-dark">UnFollow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>


        <!-- TODO 마이페이지 기능 구현 및 디자인 -->

        <!-- 프로필 페이지 영역 -->
        <div class="container" id="profileWrapper">

            <!-- 기본 정보 영역 -->
            <div class="row mt-5">

                <!-- 프로필 & 기본 정보 -->
                <div class="row mt-4">

                    <!-- 프로필 이미지 -->
                    <div class="col-3">
                        <i class="fa-solid fa-circle-user fa-7x d-flex justify-content-center align-items-center"></i>
                    </div>

                    <!-- 프로필 정보 -->
                    <div class="col-9">
                        <!-- 닉네임, 팔로우, 팔로워 -->
                        <div class="row">
                            <!-- 닉네임 -->
                            <div class="col-auto">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">닉네임</span>
                                    <span class="form-control" th:text="${member.username}"></span>
                                </div>
                            </div>
                            <!-- 팔로우 -->
                            <div class="col">
                                <div class="input-group input-group-lg d-flex justify-content-center align-items-center">
                                    <span class="input-group-text">팔로우</span>
                                    <button type="button" id="followNum" data-bs-target="#followList-modal"
                                            data-bs-toggle="modal" class="btn btn-outline-secondary">10명
                                    </button>
                                </div>

                            </div>
                            <!-- 팔로워 -->
                            <div class="col">
                                <div class="input-group input-group-lg d-flex justify-content-center align-items-center">
                                    <span class="input-group-text">팔로워</span>
                                    <button type="button" id="followerNum" data-bs-target="#followerList-modal"
                                            data-bs-toggle="modal" class="btn btn-outline-secondary">10명
                                    </button>
                                </div>
                            </div>

                            <!-- 수정 버튼 -->
                            <th:block sec:authorize="isAuthenticated()">
                                <th:block th:if="${#authentication.principal.member.id == member.getId()}">
                                    <div class="col-auto">
                                        <div class="input-group input-group-lg">
                                            <button type="button" class="btn btn-dark"
                                                    th:onclick="|location.href='@{/members/{id}/edit(id=${member.id})}'|">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>

                        <!-- 지역, 자기소개 -->
                        <div class="row mt-3">

                            <div class="col-auto">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text" th:text="${member.location.value}">지역</span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">자기소개</span>
                                    <span class="form-control" th:text="${member.introduction}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 필터 영역 -->
                <div class="row mt-5">

                    <!-- 동적 제목 -->
                    <div class="col-3">
                        <div class="input-group input-group-lg w-100 h-100">
                            <span id="activeFilterName" class="btn btn-secondary w-100 h-100 fs-2 d-flex justify-content-center align-items-center">카테고리</span>
                        </div>
                    </div>

                    <!-- 필터 버튼 -->
                    <!-- 나 : 후기, 정보, 작품, 신청한 모임 일정, 등록한 모임 일정 -->
                    <!-- 북마크 : 후기, 정보, 작품, 모임 -->
                    <!-- 타임 라인 : 후기, 정보, 작품 -->
                    <div class="col-9">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-4" id="myBtn">나</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-4" id="bkMarkBtn">북마크
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-4" id="timeLineBtn">
                                    타임라인
                                </button>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>

                        <!-- 세부 동적 필터 -->
                        <div class="row mt-3" id="activeFilterContainer">
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-6">후기</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-6">정보</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-6">작품</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-6">신청한 모임</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100 fs-6">등록한 모임</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- 카드 영역 -->
            <div id="content-area" class="row mt-4">

                <div class="col">

                    <!-- 카드 양식 -->
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card">
                                <img src="..." class="card-img-top">
                                <div class="card-body">
                                    <!-- Todo 버튼 클릭시 해당 게시글로 이동 -->
                                    <!-- TODO 제목 글자수 -->
                                    <button class="card-title fs-5 btn btn-outline-secondary">제목</button>
                                    <!-- TODO 내용 글자수 -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>


        </div>


    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function () {

        // 로그인 여부 확인
        let isLogin = [[${#authorization.expression('isAuthenticated()')}]];
        console.log("isLogin : " + isLogin);


        let memberIdVal = [[${member.id}]];

        console.log("memberIdVal : " + memberIdVal);

        // 팔로잉 페이징 관련

        let followingStart = 0;
        let loadingFollowing = true;

        let followerStart = 0;
        let loadingFollower = true;

        // 필터링 페이징 관련
        let myFilterStart = 0;
        let myFilterLoading = true;


        // ********* 페이지 로딩시 함수 **********

        // 팔로잉 인원수 가져오기
        getFollowingNum();
        // 팔로워 인원수 가져오기
        getFollowerNum();

        // ********** 클릭시 이벤트 **********

        // 팔로잉 버튼 클릭시 이벤트
        $('#followNum').on('click', function () {
            console.log("팔로잉 버튼 클릭");
            followingStart = 0;
            getFollowingListWithpaging();

        });

        // 팔로워 버튼 클릭시 이벤트
        $('#followerNum').on('click', function () {
            console.log("팔로워 버튼 클릭");
            followerStart = 0;
            getFollowerListWithpaging();
        });

        // 팔로잉 모달 내에 언팔로우 버튼 클릭시 이벤트
        $('#followingListModalBody').on('click', '.unFollowBtn', function () {
            console.log("언팔로우 버튼 클릭");
            let unfollowId = $(this).data('unfollowid');
            console.log("unfollowId : " + unfollowId);

            let thisBtn = $(this);

            let data = {
                memberId: memberIdVal,
                followId: unfollowId
            };

            $.ajax({
                type: 'POST',
                url: '/follows/follow/' + unfollowId,
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    if (result === 'unfollow') {
                        alert('팔로우가 취소되었습니다.');
                        thisBtn.text('Follow');
                        thisBtn.toggleClass('btn-dark', false);
                        thisBtn.toggleClass('btn-outline-secondary', true);

                    } else {
                        alert('팔로우가 추가되었습니다.');
                        thisBtn.text('UnFollow');
                        thisBtn.toggleClass('btn-outline-secondary', false);
                        thisBtn.toggleClass('btn-dark', true);

                    }

                },
                error: function (error) {
                    console.log(error);
                    alert('팔로우 추가에 실패했습니다.');
                }
            });

        });

        // 팔로워 모달 내에 팔로우 버튼 클릭시 이벤트 구현
        $('#followerListModalBody').on('click', '.unFollowBtn', function () {
            console.log("버튼 클릭");
            let unfollowId = $(this).data('unfollowid');
            console.log("unfollowId : " + unfollowId);

            let thisBtn = $(this);

            let data = {
                memberId: memberIdVal,
                followId: unfollowId
            };

            $.ajax({
                type: 'POST',
                url: '/follows/follow/' + unfollowId,
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    if (result === 'unfollow') {
                        alert('팔로우가 취소되었습니다.');
                        thisBtn.text('Follow');
                        thisBtn.toggleClass('btn-dark', false);
                        thisBtn.toggleClass('btn-outline-secondary', true);

                    } else {
                        alert('팔로우가 추가되었습니다.');
                        thisBtn.text('UnFollow');
                        thisBtn.toggleClass('btn-outline-secondary', false);
                        thisBtn.toggleClass('btn-dark', true);

                    }

                },
                error: function (error) {
                    console.log(error);
                    alert('팔로우 추가에 실패했습니다.');
                }
            });

        });

        // ********** 각종 함수들 **********

        // 팔로잉 하고 있는 인원수 가져오기
        function getFollowingNum() {
            $.ajax({
                type: 'GET',
                url: '/follows/' + memberIdVal + '/following',
                success: function (follow) {
                    console.log("팔로잉 인원수 가져오기 성공");
                    console.log(follow);
                    $('#followNum').text(follow.length + '명');
                },
                error: function (e) {
                    console.log("팔로잉 인원수 가져오기 실패");
                    console.log(e);
                }
            });
        }

        // 회원을 팔로우 하고 있는 인원수 가져오기
        function getFollowerNum() {
            $.ajax({
                type: 'GET',
                url: '/follows/' + memberIdVal + '/follower',
                success: function (follower) {
                    console.log("팔로워 인원수 가져오기 성공");
                    console.log(follower);
                    $('#followerNum').text(follower.length + '명');
                },
                error: function (e) {
                    console.log("팔로워 인원수 가져오기 실패");
                    console.log(e);
                }
            });
        }

        // 팔로잉 리스트 가져오기
        function getFollowingListWithpaging() {
            if (loadingFollowing) {
                $.ajax({
                    type: 'GET',
                    url: '/follows/' + memberIdVal + '/following/' + followingStart,
                    success: function (follow) {
                        console.log("팔로잉 리스트 가져오기 성공");
                        console.log(follow);


                        if (follow.length === 0) {
                            console.log("팔로잉 리스트가 없습니다.");
                            loadingFollowing = false;

                            if (followingStart === 0) {
                                printEmptyFollowingList()

                            }


                        } else {
                            // 리스트
                            printFollowingList(follow);
                        }


                    },
                    error: function (e) {
                        console.log("팔로잉 리스트 가져오기 실패");
                        console.log(e);
                    }
                });
            }
        }

        // 팔로워 리스트 가져오기
        function getFollowerListWithpaging() {
            if (loadingFollower) {
                $.ajax({
                    type: 'GET',
                    url: '/follows/' + memberIdVal + '/follower/' + followerStart,
                    success: function (follower) {
                        console.log("팔로워 리스트 가져오기 성공");
                        console.log(follower);


                        if (follower.length === 0) {
                            console.log("팔로워 리스트가 없습니다.");
                            loadingFollower = false;

                            if (followerStart === 0) {
                                printEmptyFollowerList()
                            }


                        } else {
                            // 리스트
                            printFollowerList(follower);
                        }


                    },
                    error: function (e) {
                        console.log("팔로워 리스트 가져오기 실패");
                        console.log(e);
                    }
                });
            }
        }

        // 팔로잉 리스트 출력하기
        function printFollowingList(follow) {
            /* <div className="row">

                 <!-- 프로필 -->
                 <div className="col-2">
                     <i className="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                 </div>

                 <div className="col">
                     <div className="row d-flex justify-content-between align-items-center">
                         <!-- 닉네임, 지역 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-outline-secondary">asd</button>
                                 <span className="input-group-text">지역</span>
                             </div>
                         </div>

                         <!-- 팔로우 버튼 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-dark">UnFollow</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>*/

            let followingListModalBody = $('#followingListModalBody');
            let html = '';
            for (let i = 0; i < follow.length; i++) {
                html += '<div class="row mt-2">';
                html += '<div class="col-2">';
                html += '<i class="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>';
                html += '</div>';
                html += '<div class="col">';
                html += '<div class="row d-flex justify-content-between align-items-center">';
                html += '<div class="col-auto">';

                html += '<div class="input-group">';
                // 버튼 클릭시 해당 회원의 프로필 페이지로 이동
                html += '<button type="button" class="btn btn-outline-secondary" onclick="location.href=\'/members/' + follow[i].followDTO.id + '\'">' + follow[i].followDTO.username + '</button>';
                let locationString = locationEnumToString(follow[i].followDTO.location);
                html += '<span class="input-group-text">' + locationString + '</span>';
                html += '</div>';
                html += '</div>';
                html += '<div class="col-auto">';
                html += '<div class="input-group">';
                if (isLogin) {
                    html += '<button type="button" class="btn btn-dark unFollowBtn" data-unfollowId="' + follow[i].followDTO.id + '">UnFollow</button>';
                }
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            // 팔로잉 리스트 html 추가하기
            followingListModalBody.append(html);
        }

        // 팔로워 리스트 출력하기
        function printFollowerList(follow) {
            /* <div className="row">

                 <!-- 프로필 -->
                 <div className="col-2">
                     <i className="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                 </div>

                 <div className="col">
                     <div className="row d-flex justify-content-between align-items-center">
                         <!-- 닉네임, 지역 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-outline-secondary">asd</button>
                                 <span className="input-group-text">지역</span>
                             </div>
                         </div>

                         <!-- 팔로우 버튼 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-dark">UnFollow</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>*/

            let followerListModalBody = $('#followerListModalBody');
            let html = '';
            for (let i = 0; i < follow.length; i++) {
                html += '<div class="row mt-2">';
                html += '<div class="col-2">';
                html += '<i class="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>';
                html += '</div>';
                html += '<div class="col">';
                html += '<div class="row d-flex justify-content-between align-items-center">';
                html += '<div class="col-auto">';
                html += '<div class="input-group">';
                html += '<button type="button" class="btn btn-outline-secondary" onclick="location.href=\'/members/' + follow[i].memberDTO.id + '\'">' + follow[i].memberDTO.username + '</button>';
                let locationString = locationEnumToString(follow[i].memberDTO.location);
                html += '<span class="input-group-text">' + locationString + '</span>';
                html += '</div>';
                html += '</div>';
                html += '<div class="col-auto">';
                html += '<div class="input-group">';

                if (isLogin) {
                    // 팔로우 여부에 따라 버튼 변경
                    if (follow[i].isFollow) {
                        html += '<button type="button" class="btn btn-dark unFollowBtn" data-unfollowId="' + follow[i].memberDTO.id + '">UnFollow</button>';
                    } else {
                        html += '<button type="button" class="btn btn-outline-secondary unFollowBtn" data-unfollowId="' + follow[i].memberDTO.id + '">Follow</button>';
                    }

                }
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            // 팔로잉 리스트 html 추가하기
            followerListModalBody.append(html);
        }

        // 빈 팔로잉 리스트 출력하기
        function printEmptyFollowingList() {
            /* <div className="row">

                 <!-- 프로필 -->
                 <div className="col-2">
                     <i className="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                 </div>

                 <div className="col">
                     <div className="row d-flex justify-content-between align-items-center">
                         <!-- 닉네임, 지역 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-outline-secondary">asd</button>
                                 <span className="input-group-text">지역</span>
                             </div>
                         </div>

                         <!-- 팔로우 버튼 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-dark">UnFollow</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>*/

            let followingListModalBody = $('#followingListModalBody');
            let html = '';
            html += '<div class="row mt-2">';
            html += '<div class="col">';
            html += '<div class="input-group">';
            html += '<span class="input-group-text">팔로잉 리스트가 없습니다.</span>';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            // 팔로잉 리스트 html 추가하기
            followingListModalBody.append(html);
        }

        // 빈 팔로워 리스트 출력하기
        function printEmptyFollowerList() {
            /* <div className="row">

                 <!-- 프로필 -->
                 <div className="col-2">
                     <i className="fa-solid fa-circle-user fa-2x d-flex justify-content-center align-items-center"></i>
                 </div>

                 <div className="col">
                     <div className="row d-flex justify-content-between align-items-center">
                         <!-- 닉네임, 지역 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-outline-secondary">asd</button>
                                 <span className="input-group-text">지역</span>
                             </div>
                         </div>

                         <!-- 팔로우 버튼 -->
                         <div className="col-auto">
                             <div className="input-group">
                                 <button type="button" className="btn btn-dark">UnFollow</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>*/

            let followerListModalBody = $('#followerListModalBody');
            let html = '';
            html += '<div class="row mt-2">';
            html += '<div class="col">';
            html += '<div class="input-group">';
            html += '<span class="input-group-text">팔로워가 없습니다.</span>';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            // 팔로잉 리스트 html 추가하기
            followerListModalBody.append(html);
        }

        // 팔로잉 모달이 닫힐 때 팔로잉 리스트 초기화
        $('#followList-modal').on('hidden.bs.modal', function () {
            $('#followingListModalBody').empty();
            followingStart = 0;
            loadingFollowing = true;
            getFollowingNum();
            getFollowerNum();
        });

        // 팔로워 모달이 닫힐 때 팔로잉 리스트 초기화
        $('#followList-modal').on('hidden.bs.modal', function () {
            $('#followingListModalBody').empty();
            followerStart = 0;
            loadingFollower = true;
            getFollowingNum();
            getFollowerNum();
        });

        // 팔로잉 모달내에  스크롤이 바닥에 닿았을 때
        $('#followingListModalBody').on('scroll', function () {
            console.log("스크롤 이벤트 발생");
            let scrollHeight = $(this)[0].scrollHeight;
            let scrollTop = $(this).scrollTop();
            let followingListModalBodyHeight = $('#followingListModalBody').height();
            let padding_top = $('#followingListModalBody').css('padding-top');
            let padding_bottom = $('#followingListModalBody').css('padding-bottom');

            // padding-top, padding-bottom 값 제거
            padding_top = padding_top.replace('px', '');
            padding_bottom = padding_bottom.replace('px', '');
            // padding-top, padding-bottom 값 int로 변환
            padding_top = parseInt(padding_top);
            padding_bottom = parseInt(padding_bottom);
            followingListModalBodyHeight = followingListModalBodyHeight + padding_top + padding_bottom;

            // modal-body

            if (scrollTop + followingListModalBodyHeight + 1 >= scrollHeight) {
                console.log("스크롤이 바닥에 닿았습니다.");
                followingStart += 20;
                getFollowingListWithpaging();
            }
        });

        // 팔로워 모달내에  스크롤이 바닥에 닿았을 때
        $('#followerListModalBody').on('scroll', function () {
            console.log("스크롤 이벤트 발생");
            let scrollHeight = $(this)[0].scrollHeight;
            let scrollTop = $(this).scrollTop();
            let followierListModalBodyHeight = $('#followerListModalBody').height();
            let padding_top = $('#followerListModalBody').css('padding-top');
            let padding_bottom = $('#followerListModalBody').css('padding-bottom');

            // padding-top, padding-bottom 값 제거
            padding_top = padding_top.replace('px', '');
            padding_bottom = padding_bottom.replace('px', '');
            // padding-top, padding-bottom 값 int로 변환
            padding_top = parseInt(padding_top);
            padding_bottom = parseInt(padding_bottom);
            followierListModalBodyHeight = followierListModalBodyHeight + padding_top + padding_bottom;

            // modal-body

            if (scrollTop + followierListModalBodyHeight + 1 >= scrollHeight) {
                console.log("스크롤이 바닥에 닿았습니다.");
                followerStart += 20;
                getFollowerListWithpaging();
            }
        });

        // 지역 ENUM 값 변환
        function locationEnumToString(locationEnum) {
            switch (locationEnum) {
                case 'SEOUL':
                    return '서울';
                case 'BUSAN':
                    return '부산';
                case 'DAEGU':
                    return '대구';
                case 'INCHEON':
                    return '인천';
                case 'GWANGJU':
                    return '광주';
                case 'DAEJEON':
                    return '대전';
                case 'ULSAN':
                    return '울산';
                case 'SEJONG':
                    return '세종';
                case 'GYEONGGI':
                    return '경기';
                case 'KANGWON':
                    return '강원';
                case 'CHUNGBUK':
                    return '충북';
                case 'CHUNGNAM':
                    return '충남';
                case 'JEONBUK':
                    return '전북';
                case 'JEONNAM':
                    return '전남';
                case 'GYEONGBUK':
                    return '경북';
                case 'GYEONGNAM':
                    return '경남';
                case 'JEJU':
                    return '제주';
                default:
                    return '지역';
            }
        }

        // ********** 필터 관련 함수 **********

        // ********** 메인 필터 클릭시

        // 나 버튼 클릭시
        $('#myBtn').on('click', function () {
            console.log("나 버튼 클릭");
            let html = '';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="myReviewBtn">후기</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="myInfoBtn">정보</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="myProgramBtn">작품</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="myApplyEventBtn">신청한 모임</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="myAddEventBtn">등록한 모임</button>';
            html += '</div>';
            $('#activeFilterContainer').html(html);

            $('#myBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#bkMarkBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);

        });

        // 북마크 버튼 클릭시
        $('#bkMarkBtn').on('click', function () {
            console.log("북마크 버튼 클릭");
            let html = '';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="bkReviewBtn">후기</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="bkInfoBtn">정보</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="bkProgramBtn">작품</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="bkEventBtn">모임</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '</div>';
            $('#activeFilterContainer').html(html);

            $('#myBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkMarkBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#timeLineBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
        });

        // 타임라인 버튼 클릭시
        $('#timeLineBtn').on('click', function () {
            console.log("타임라인 버튼 클릭");
            let html = '';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="timeLineReviewBtn">후기</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="timeLineInfoBtn">정보</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '<button type="button" class="btn btn-outline-secondary w-100 fs-6" id="timeLineProgramBtn">작품</button>';
            html += '</div>';
            html += '<div class="col">';
            html += '</div>';
            html += '<div class="col">';
            html += '</div>';
            $('#activeFilterContainer').html(html);

            $('#myBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkMarkBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
        });

        // ********** 필터 세부 버튼 클릭시

        // 나 버튼 세부 필터 클릭시

        //나 후기 버튼 클릭시
        $('#activeFilterContainer').on('click', '#myReviewBtn', function () {
            console.log("나 후기 버튼 클릭");
            $('#myReviewBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#myInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myApplyEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myAddEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('후기');
            getMyReviewListWithPaging();
        });

        // 나 정보 버튼 클릭시
        $('#activeFilterContainer').on('click', '#myInfoBtn', function () {
            console.log("나 정보 버튼 클릭");
            $('#myReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myInfoBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#myProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myApplyEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myAddEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('정보');
        });

        // 나 작품 버튼 클릭시
        $('#activeFilterContainer').on('click', '#myProgramBtn', function () {
            console.log("나 작품 버튼 클릭");
            $('#myReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myProgramBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#myApplyEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myAddEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('작품');
        });

        // 나 신청한 모임 버튼 클릭시
        $('#activeFilterContainer').on('click', '#myApplyEventBtn', function () {
            console.log("나 신청한 모임 버튼 클릭");
            $('#myReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myApplyEventBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#myAddEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('신청한 모임');
        });

        // 나 등록한 모임 버튼 클릭시
        $('#activeFilterContainer').on('click', '#myAddEventBtn', function () {
            console.log("나 등록한 모임 버튼 클릭");
            $('#myReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myApplyEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#myAddEventBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#activeFilterName').text('등록한 모임');
        });

        // 북마크 버튼 세부 필터 클릭시

        // 북마크 후기 버튼 클릭시
        $('#activeFilterContainer').on('click', '#bkReviewBtn', function () {
            console.log("북마크 후기 버튼 클릭");
            $('#bkReviewBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#bkInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('북마크 후기');
        });

        // 북마크 정보 버튼 클릭시
        $('#activeFilterContainer').on('click', '#bkInfoBtn', function () {
            console.log("북마크 정보 버튼 클릭");
            $('#bkReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkInfoBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#bkProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('북마크 정보');
        });

        // 북마크 작품 버튼 클릭시
        $('#activeFilterContainer').on('click', '#bkProgramBtn', function () {
            console.log("북마크 작품 버튼 클릭");
            $('#bkReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkProgramBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#bkEventBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('북마크 작품');
        });

        // 북마크 모임 버튼 클릭시
        $('#activeFilterContainer').on('click', '#bkEventBtn', function () {
            console.log("북마크 모임 버튼 클릭");
            $('#bkReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#bkEventBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#activeFilterName').text('북마크 모임');
        });

        // 타임라인 버튼 세부 필터 클릭시

        // 타임라인 후기 버튼 클릭시
        $('#activeFilterContainer').on('click', '#timeLineReviewBtn', function () {
            console.log("타임라인 후기 버튼 클릭");
            $('#timeLineReviewBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#timeLineInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('팔로우 후기');
        });

        // 타임라인 정보 버튼 클릭시
        $('#activeFilterContainer').on('click', '#timeLineInfoBtn', function () {
            console.log("타임라인 정보 버튼 클릭");
            $('#timeLineReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineInfoBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#timeLineProgramBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#activeFilterName').text('팔로우 정보');
        });

        // 타임라인 작품 버튼 클릭시
        $('#activeFilterContainer').on('click', '#timeLineProgramBtn', function () {
            console.log("타임라인 작품 버튼 클릭");
            $('#timeLineReviewBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineInfoBtn').toggleClass('btn-secondary', false).toggleClass('btn-outline-secondary', true);
            $('#timeLineProgramBtn').toggleClass('btn-outline-secondary', false).toggleClass('btn-secondary', true);
            $('#activeFilterName').text('팔로우 작품');
        });

        // ********** 필터링 관련 ajax 함수 **********

        // 내 후기 리스트 무한 스크롤 페이징 가져오기
        function getMyReviewListWithPaging() {
            if (myFilterLoading) {
                $.ajax({
                    type: 'GET',
                    url: '/boards/findMyReviewWithPaging/' + memberIdVal + '/' + myFilterStart,
                    success: function (reviews) {
                        console.log("내 후기 리스트 가져오기 성공");
                        console.log(reviews);

                        if (reviews.length === 0) {
                            console.log("내 후기 리스트가 없습니다.");
                            myFilterLoading = false;

                            if (myFilterStart === 0) {
                                printEmptyMyReviewList();
                            }

                        } else {
                            // 리스트
                            printMyReviewList(reviews);
                        }

                    },
                    error: function (e) {
                        console.log("내 후기 리스트 가져오기 실패");
                        console.log(e);
                    }
                });
            }
        }

        // 내 후기 리스트 출력하기
        function printMyReviewList(reviews) {



        }






    });
</script>
</html>