<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <h1>회원 페이지 영역</h1>
<th:block th:fragment="content">
    <div name="memberProfile">  <!--  회원 프로필 영역  -->
        <span name="memberImage"></span>  <!--  회원 프로필 사진  -->
        <!-- TODO: 추가 예정 -->
        <span name="memberInfo">  <!--  회원 정보 영역  -->
            <div name="memberInfoTop">  <!--  회원 정보 상단  -->
                <span name="username"></span>  <!--  닉네임  -->
                <input type="text" th:field="${member.username}" id="username" readonly>
                <span name="following"></span>  <!--  팔로잉  -->
                <span name="follower"></span>  <!--  팔로워  -->
                <span name="edit-button"></span>  <!--  프로필 수정 버튼  -->
                <button type="button" class="btn btn-warning" th:onclick="|location.href='@{/members/{id}/edit(id=${member.id})}'|">프로필 수정</button>
            </div>
            <div name="memberInfoBottom">  <!--  회원 정보 하단  -->
                <span name="location"></span>  <!--  지역  -->
                <input type="text" th:field="${member.location}" id="location" readonly>
                <span name="introduce"></span>  <!--  자기소개  -->
                <input type="text" th:field="${member.introduction}" id="introduction" readonly>
                <span name="memberTest-button"></span>  <!--  성향테스트 페이지 이동 버튼  -->
                <button type="button" class="btn btn-info" th:onclick="|location.href='@{/members/{id}/memberTest(id=${member.id})}'|">성향테스트</button>
            </div>
        </span>  <!--  회원 정보 영역  -->
        </form>
    </div>  <!--  회원 프로필 영역 END  -->
    <div name="filter">  <!--  필터링 (카테고리) 영역  -->
        <span name="myFilter">  <!--  회원(나) 관련 필터 영역 / TODO 해당 카드에 등록버튼 삭제  -->
            <span name="reviewBoard"></span>  <!--  내가 쓴 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  내가 쓴 정보 게시글  -->
            <span name="program"></span>  <!--  내가 관람한 작품 / TODO 관람 기준?  -->
            <span name="applyMeeting"></span>  <!--  내가 신청한 모임  -->
            <span name="createMeeting"></span>  <!--  내가 만든 모임  -->
        </span>
        <span 4name="bookmark">  <!--  북마크 필터 영역 / TODO 해당 카드에 북마크 버튼 삭제  -->
            <span name="reviewBoard"></span>  <!--  북마크한 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  북마크한 정보 게시글  -->
            <span name="program"></span>  <!--  북마크한 작품  -->
            <span name="meeting"></span>  <!--  북마크한 모임  -->
        </span>
        <span name="timeline">  <!--  타임라인 (팔로잉 회원 관련) 필터 영역  -->
            <span name="reviewBoard"></span>  <!--  팔로잉 회원이 쓴 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  팔로잉 회원의 정보 게시글  -->
            <span name="program"></span>  <!--  팔로잉 회원이 관람한 작품  -->
        </span>
    </div>  <!--  회원(나) 관련 필터 영역 END  -->
    <div name="cards">
        <h1>카드 영역</h1>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
    </div>
    <!--  무한 스크롤 영역  -->
</th:block>
</th:block>
</html>