<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">

    <!-- TODO 마이페이지 기능 구현 및 디자인 -->
    <h1>회원 페이지 영역</h1>
    <th:block th:fragment="content">
            <!-- 팔로잉 모달 -->
            <div class="modal-dialog modal-dialog-scrollable"><!-- 스크롤 모달 -->
                <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="followingModalLabel">팔로잉</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div id="followingList"></div>
                                </form>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div id="memberList"></div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- 스크롤 모달 -->
            <!-- 팔로워 모달 -->
            <div class="modal-dialog modal-dialog-scrollable"><!-- 스크롤 모달 -->
                <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="followerModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="followerModalLabel">팔로워</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div id="followerList"></div>
                                </form>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <!--<div id="memberList"></div>-->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- 스크롤 모달 -->
<div class="container">
    <div class="container-fluid" name="memberProfile">  <!--  회원 프로필 영역  -->
        <div class="card">
        <th:block sec:authorize="isAuthenticated()">
        <span class="" name="memberImage"></span>  <!--  회원 프로필 사진  -->
                <!-- TODO: 추가 예정 -->
        <span name="memberInfo">  <!--  회원 정보 영역  -->
            <div class="p-4" name="memberInfoTop">  <!--  회원 정보 상단  -->
                <span class="" name="username" th:text="${member.username}" id="username"></span>  <!--  닉네임  -->
                <span class="" name="following">
                    <!-- 팔로잉 모달 버튼-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followingModal">팔로잉 모달</button>
                </span>  <!--  팔로잉  -->
                <span name="follower">
                            <!-- 팔로잉 모달 버튼-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followerModal">팔로워 모달</button>
                </span>  <!--  팔로워  -->
                <th:block th:if="${member.id == customMember.id}">
                    <span class="" name="edit-button"></span>  <!--  프로필 수정 버튼  -->
                    <button type="button" class="btn btn-warning" th:onclick="|location.href='@{/members/{id}/edit(id=${member.id})}'|">프로필 수정</button>
                </th:block>
            </div>
            <div class="p-4" name="memberInfoBottom">  <!--  회원 정보 하단  -->
                <span class="" name="location" th:text="${member.location}" id="location"></span>  <!--  지역  -->
                <span class="" name="introduce" th:text="${member.introduction}" id="introduction"></span>  <!--  자기소개  -->
                <span class="" name="memberTest-button"></span>  <!--  성향테스트 페이지 이동 버튼  -->
                <th:block th:if="${member.id == customMember.id}">
                    <button type="button" class="btn btn-info" th:onclick="|location.href='@{/members/{id}/memberTest(id=${member.id})}'|">성향테스트</button>
                </th:block>
            </div>
        </span>  <!--  회원 정보 영역  -->
        </th:block>
        </div>  <!--  회원 프로필 영역 END  -->
    </div>
    <div name="filter">  <!--  필터링 (카테고리) 영역  -->
        <span name="myFilter">  <!--  회원(나) 관련 필터 영역 / TODO 해당 카드에 등록버튼 삭제  -->
            <span name="reviewBoard"></span>  <!--  내가 쓴 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  내가 쓴 정보 게시글  -->
            <span name="program"></span>  <!--  내가 관람한 작품 / TODO 관람 기준?  -->
            <span name="applyMeeting"></span>  <!--  내가 신청한 모임  -->
            <span name="createMeeting"></span>  <!--  내가 만든 모임  -->
        </span>
        <span 4name="bookmark">  <!--  북마크 필터 영역 / TODO 해당 카드에 북마크 버튼 삭제  -->
            <span name="reviewBoard"></span>  <!--  북마크한 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  북마크한 정보 게시글  -->
            <span name="program"></span>  <!--  북마크한 작품  -->
            <span name="meeting"></span>  <!--  북마크한 모임  -->
        </span>
        <span name="timeline">  <!--  타임라인 (팔로잉 회원 관련) 필터 영역  -->
            <span name="reviewBoard"></span>  <!--  팔로잉 회원이 쓴 후기 게시글  -->
            <span name="infoBoard"></span>  <!--  팔로잉 회원의 정보 게시글  -->
            <span name="program"></span>  <!--  팔로잉 회원이 관람한 작품  -->
        </span>
    </div>  <!--  회원(나) 관련 필터 영역 END  -->
    <div name="cards">
        <h1>카드 영역</h1>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
        <span name="{filter}Card"></span>
    </div>
</div>
    <!--  무한 스크롤 영역  -->
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function(){
        let memberIdVal = [[${member.id}]];
        let flowListDiv = $('#followingList');
        let FlwerListDiv = $('#followerList');
        let memberListDiv = $('#memberList');
        getFollowingList();
        getFollowerList();

        function getFollowingList() {
            $.ajax({
                type: 'GET',
                url: '/follows/' + memberIdVal + '/following',
                success: function (follow){
                    console.log("팔로잉 리스트 가져오기 성공");
                    console.log(follow);
                    printFollowingList(follow.followingList);
                    if (follow.followingList != null) {
                        printMemberList(follow.memberList);
                    }
                },
                error: function (e){
                    console.log("팔로잉 리스트 가져오기 실패");
                    console.log(e);
                }
            });
        }

        function getFollowerList() {
            $.ajax({
                type: 'GET',
                url: '/follows/' + memberIdVal + '/follower',
                success: function (follower){
                    console.log("팔로워 리스트 가져오기 성공");
                    console.log(follower);
                    printFollowerList(follower.followerList);
                    // printMemberList(follower.memberList);
                },
                error: function (e){
                    console.log("팔로워 리스트 가져오기 실패");
                    console.log(e);
                }
            });
        }


        function printFollowingList(listFollowing) {
            console.log("팔로잉 리스트 출력");
            console.log(listFollowing);
            let html = '';
            for (let i = 0; i < listFollowing.length; i++) {
                html += '<div name="member">';
                html += '<span name="memberImage"></span>';
                html += '<span name="memberInfo">';
                html += '<div name="username">닉네임 ' + listFollowing[i].username + '</div>';
                html += '<div name="memberInfoBottom">';
                html += '<span name="location">지역 ' + listFollowing[i].location + '</span>';
                html += '<span name="introduce">자기소개 ' + listFollowing[i].introduction + '</span>';
                html += '</div></span></div>';
                html += '<span name="follow-button"></span>';
                html += '<button type="button" class="btn btn-info unFollowBtn" data-unflowbtn="' + listFollowing[i].id + '">팔로잉</button>';
            }
            flowListDiv.html(html);
        }

        function printMemberList(memberList) {
            let html = '';
            for (let i = 0; i < memberList.length; i++) {
                html += '<div name="member">';
                html += '<span name="memberImage"></span>';
                html += '<span name="memberInfo">';
                html += '<div name="username">닉네임' + memberList[i].username + '</div>';
                html += '<div name="memberInfoBottom">';
                html += '<span name="location">지역' + memberList[i].location + '</span>';
                html += '<span name="introduce">자기소개' + memberList[i].introduction + '</span>';
                html += '</div></span></div>';
                html += '<span name="follow-button"></span>';
                html += '<button type="button" class="btn btn-primary followBtn" data-flwbtn="' + memberList[i].id + '">팔로우</button>';
            }
            memberListDiv.html(html);
        }
        function printFollowerList(listFollower) {
            console.log("팔로워 리스트 출력");
            console.log(listFollower);
            let html = '';
            for (let i = 0; i < listFollower.length; i++) {
                html += '<div name="member">';
                html += '<span name="memberImage"></span>';
                html += '<span name="memberInfo">';
                html += '<div name="username">닉네임 ' + listFollower[i].username + '</div>';
                html += '<div name="memberInfoBottom">';
                html += '<span name="location">지역 ' + listFollower[i].location + '</span>';
                html += '<span name="introduce">자기소개 ' + listFollower[i].introduction + '</span>';
                html += '</div></span></div>';
                html += '<span name="follow-button"></span>';
                if (listFollower[i].id == null) {
                    html += '<button type="button" class="btn btn-info unFollowBtn" data-unflowbtn="' + listFollower[i].id + '">팔로잉</button>';
                } else {
                html += '<button type="button" class="btn btn-primary followBtn" data-flwbtn="' + listFollower[i].id + '">팔로우</button>';
                }
            }
            FlwerListDiv.html(html);
        }

        // 팔로우 버튼 클릭 이벤트
        memberListDiv.on("click", "button.followBtn", function(e){
            console.log("팔로우 버튼 클릭");
            let memberId = $(this).data("flwbtn");
            console.log($(this).data("flwbtn"))
            console.log("팔로우 버튼 클릭 memberId : " + memberId);
            if (!memberId) {
                console.error("memberId is undefined.");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/follows/follow/' + memberId,
                success: function (result){
                    console.log("팔로우 성공");
                    console.log(result);
                    getFollowingList();
                },
                error: function (e){
                    console.log("팔로우 실패");
                    console.log(e);
                }
            });
        });

        // 언팔로우 버튼 클릭 이벤트
        $(".modal-content").on("click", "button.unFollowBtn", function(e){
            console.log("언팔로우 버튼 클릭");
            let memberId = $(this).data("unflowbtn");
            console.log($(this).data("unflowbtn"))
            console.log("언팔로우 버튼 클릭 followId : " + memberId);
            if (!memberId) {
                console.error("followId is undefined.");
                return;
            }
            $.ajax({
                type: 'DELETE',
                url: '/follows/unfollow/' + memberId,
                success: function (result){
                    console.log("언팔로우 성공");
                    console.log(result);
                    getFollowingList();
                },
                error: function (e){
                    console.log("언팔로우 실패");
                    console.log(e);
                }
            });
        });
    });
</script>
</html>