<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layouts/baseNoMenu :: base(~{::content})}">
    <th:block th:fragment="content">

        <!-- 로그인 컨테이너 -->
        <div class="container mt-5" style="width: 35%" id="loginContainer">

            <!-- 로그인 제목 -->
            <div class="row text-center mt-5 mb-5">
                <div class="col">
                    <div class="fs-2">Login</div>
                </div>
            </div>

            <!-- 로그인 폼 -->
            <form class="user" action="" th:action th:object="${memberForm}" method="post">

                <!-- 아이디 입력 -->
                <div class="row mb-3">

                    <div class="col">
                        <div class="input-group input-group-lg ">
                            <span class="input-group-text d-flex justify-content-center align-items-center" style="width: 35%">아이디</span>
                            <input class="form-control" type="text" th:field="*{userid}" id="userid">
                        </div>
                    </div>

                </div>

                <!-- 비밀번호 입력 -->
                <div class="row mb-3">

                    <div class="col">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text d-flex justify-content-center align-items-center" style="width: 35%">비밀번호</span>
                            <input class="form-control" type="password" th:field="*{password}" id="password">
                        </div>
                    </div>

                </div>

                <div class="row">
                        <div class="col input-group input-group-lg mb-3 w-100">
                            <span class="input-group-text">Remember Me</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" name="remember-me" id="customCheck">
                            </div>
                            <button class="btn btn-outline-secondary" type="submit">Login</button>
                        </div>
                </div>

                <div class="row mb-5">
                    <div class="col input-group mb-5">
                        <a class="btn btn-outline-secondary" href="/signup">Sign up</a>
                        <a class="btn btn-outline-secondary" href="/">Home</a>
                    </div>
                </div>

            </form>


        </div>

    </th:block>
</th:block>

</html>

