<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 공개 범위 모달 -->
        <div class="modal fade" id="openRangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">범위 선택</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="openRangeModalContainer">
                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="orType: ${openRangeType}">
                                <button type="button" class="btn btn-outline-secondary orTypeBtn"
                                        th:text="${orType.value}" th:if="${orType.value !='전체공개'}"
                                        th:data-type="${orType.name()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 회원 설정 영역 -->
        <div class="container mt-5 mb-5" style="width: 35%" id="SettingContainer">
            <form action="" th:action th:object="${member}" method="post">

                <!-- 페이지 제목 -->
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="fs-1">설정</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <!-- 회원 입력 & 기본 정보 -->
                    <div class="col">
                        <!-- 회원 정보 아이디 -->
                        <div class="row mb-2">
                            <div class="col">
                                <div class="input-group input-group-lg justify-content-start">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 23%">아이디</span>
                                    <span class="form-control" th:text="*{userid}"></span>
                                </div>
                            </div>
                        </div>
                        <!-- 성별 -->
                        <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-lg">
                                <label class="input-group-text d-flex justify-content-center align-items-center p-2"
                                       style="width: 48%" for="checkMale">남성</label>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" th:field="*{gender}" th:value="MALE" id="checkMale">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-lg justify-content-end">
                                <label class="input-group-text d-flex justify-content-center align-items-center p-2"
                                       style="width: 48%" for="checkFemale">여성</label>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" th:field="*{gender}" th:value="FEMALE" id="checkFemale">
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- 비밀번호 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 비밀번호 입력 -->
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 23%">비밀번호</span>
                                    <input type="password" th:field="*{password}" class="form-control" id="password">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="passwordCheckResult"></div>
                            </div>
                        </div>
                        <!-- 비밀번호 확인 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 비밀번호 확인 입력 -->
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 23%">비밀번호 확인</span>
                                    <input type="password" class="form-control" id="repeatPassword">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="repeatPasswordCheckResult"></div>
                            </div>
                        </div>
                        <!-- 전화번호 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 전화번호 입력 -->
                                <div class="input-group input-group-lg">
                                    <input hidden="hidden" th:field="*{phone}" id="phoneNum">
                                    <span class="input-group-text d-flex justify-content-center align-items-center"
                                          style="width: 23%">전화번호</span>
                                    <input type="number" class="form-control" id="phoneNumFirst">
                                    <span class="input-group-text d-flex justify-content-center align-items-center">-</span>
                                    <input type="number" class="form-control" id="phoneNumSecond">
                                    <span class="input-group-text d-flex justify-content-center align-items-center">-</span>
                                    <input type="number" class="form-control" id="phoneNumThird">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="phoneCheckResult"></div>
                            </div>
                        </div>
                        <!-- 생년월일 -->
                        <div class="row">
                            <div class="col input-group input-group-lg  mb-3">
                                <span class="input-group-text d-flex input-group-lg justify-content-center align-items-center"
                                      style="width: 23%">생년월일</span>
                                <input type="date" th:field="*{birth}" max="2012-12-31" min="1940-01-01" class="form-control">
                            </div>
                        </div>
                </div>
            </div>
            <!-- 공개 범위 설정 -->
            <!--<div class="row">
                <div class="col input-group mb-3">
                    <span class="input-group-text">팔로잉 목록</span>
                    <button class="btn btn-outline-secondary" type="button" id="openRangeModalBtn" data-bs-toggle="modal" data-bs-target="#openRangeModal">선택</button>
                </div>
                &lt;!&ndash; 공개 범위 결과값 &ndash;&gt;
                <input type="hidden" th:field="*{openRange}" id="followingRangeValue">
            </div>
        <div class="row mt-5">
            <div class="col d-flex">
                <div class="col">
                    <button class="button col btn btn-secondary fs-6 p-2 dropdown-toggle"
                        type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">팔로잉 목록</button>
                    <ul class="dropdown-menu" id="followingRange">
                        <li>
                            <button class="dropdown-item"
                                    th:each="orType: ${openRangeType}"
                                    th:value="${orType.name()}"
                                    th:text="${orType.value}"></button>
                        </li>
                    </ul>
                    <button class="button col btn btn-secondary fs-6 p-2 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">작성 후기</button>
                    <ul class="dropdown-menu" id="reviewRange">
                        <li>
                            <button class="dropdown-item"
                                    th:each="orType: ${openRangeType}"
                                    th:value="${orType.name()}"
                                    th:text="${orType.value}"></button>
                        </li>
                    </ul>
                    <button class="button col btn btn-secondary fs-6 p-2 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">문장형 평가</button>
                    <ul class="dropdown-menu" id="programRange">
                        <li>
                            <button class="dropdown-item"
                                    th:each="orType: ${openRangeType}"
                                    th:value="${orType.name()}"
                                    th:text="${orType.value}"></button>
                        </li>
                    </ul>
                    <button class="button col btn btn-secondary fs-6 p-2 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">참여 모임</button>
                    <ul class="dropdown-menu" id="meetingApplyRange">
                        <li>
                            <button class="dropdown-item"
                                    th:each="orType: ${openRangeType}"
                                    th:value="${orType.name()}"
                                    th:text="${orType.value}"></button>
                        </li>
                    </ul>
                        <button class="button col btn btn-secondary fs-6 p-2 dropdown-toggle"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">북마크</button>
                    <ul class="dropdown-menu" id="bookmarkRange">
                        <li>
                            <button class="dropdown-item"
                                    th:each="orType: ${openRangeType}"
                                    th:value="${orType.name()}"
                                    th:text="${orType.value}"></button>
                        </li>
                    </ul>
                </div>
            </div>-->
                <!--회원 설정, 튀소, 탈퇴 버튼-->
                <div class="row mt-5 mb-5 d-flex justify-content-between">
                    <!-- 취소, 탈퇴 버튼 -->
                    <div class="col input-group input-group-lg">
                        <a href="#" th:onclick="history.go(-1)" class="btn btn-outline-secondary">취소</a>
                    </div>
                    <!-- 저장 버튼 -->
                    <div class="col-auto">
                        <!--회원 설정 저장 버튼-->
                        <div class="input-group input-group-lg justify-content-end">
                            <button id="saveBtn" type="submit" class="btn btn-dark">저장</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function (){
        // ********** 변수 선언 **********
        let passwordCheck = false;

        // 비밀번호 일치 확인
        $("#repeatPassword").change(function () {
            let password = $("#password").val();
            let repeatPassword = $(this).val();
            if (password === null || password === "") {
                $('#repeatPasswordCheckResult').text("비밀번호를 먼저 입력해주세요.");
                $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                passwordCheck = false;
            } else if (password !== repeatPassword) {
                $('#repeatPasswordCheckResult').text("비밀번호가 일치하지 않습니다.");
                $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                passwordCheck = false;
            } else {
                $('#repeatPasswordCheckResult').text("비밀번호가 일치합니다.");
                $('#repeatPasswordCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                passwordCheck = true;
            }
        });

        // 비밀번호 일치 확인
        $("#password").change(function () {
            let password = $(this).val();
            let repeatPassword = $("#repeatPassword").val();
            if (repeatPassword !== null && repeatPassword !== "") {
                if (password !== repeatPassword) {
                    $('#repeatPasswordCheckResult').text("비밀번호가 일치하지 않습니다.");
                    $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                    passwordCheck = false;
                } else {
                    $('#repeatPasswordCheckResult').text("비밀번호가 일치합니다.");
                    $('#repeatPasswordCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                    passwordCheck = true;
                }
            }
        });

        // 전화번호 중복 확인
        $("#phoneNumFirst").change(function () {
            checkPhone();
        });
        $("#phoneNumSecond").change(function () {
            checkPhone();
        });
        $("#phoneNumThird").change(function () {
            checkPhone();
        });

        // 전화번호 중복 확인 함수
        function checkPhone() {
            console.log("전화번호 변경");
            let phoneNumFirst = $("#phoneNumFirst").val();
            let phoneNumSecond = $("#phoneNumSecond").val();
            let phoneNumThird = $("#phoneNumThird").val();
            if (phoneNumFirst === null || phoneNumFirst === "" || phoneNumSecond === null || phoneNumSecond === "" || phoneNumThird === null || phoneNumThird === "" || phoneNumFirst.length !== 3 || phoneNumSecond.length !== 4 || phoneNumThird.length !== 4) {
                $('#phoneCheckResult').text("정확한 전화번호를 입력해주세요.");
                $('#phoneCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
            } else {
                let phone = 0;
                phone = phoneNumFirst + phoneNumSecond + phoneNumThird;
                $.ajax({
                    type: "post",
                    url: "/phoneCheck",
                    data: {phone: phone},
                    success: function (result) {
                        if (result === true) {
                            console.log(result);
                            // 글자색 토글 변경하기
                            $("#phoneCheckResult").text("이미 사용중인 전화번호입니다.")
                            $('#phoneCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                            $("#phoneNum").val("0");
                        } else {
                            $("#phoneCheckResult").text("사용 가능한 전화번호입니다.")
                            $('#phoneCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                            $("#phoneNum").val(phone);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        // submit 버튼 클릭 시 유효성 검사
        $("#saveBtn").click(function () {

            event.preventDefault();

            let check = inputcheck();

            if(check === true){
                $("#SettingContainer form").submit();
            }
            else {
            }
        });

        function inputcheck() {
            console.log("inputcheck 함수 실행");
            // 비밀번호 확인
            let password = $("#password").val();
            let repeatPassword = $("#repeatPassword").val();
            if (password === null || password === "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            if (password !== repeatPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }

            if (passwordCheck === false) {
                alert("비밀번호를 확인해주세요.");
                return false;
            }
            // 성별 체크 여부 확인
            if (!($("#checkMale").is(":checked") === true)&& !($("#checkFemale").is(":checked") === true)) {
                alert("성별을 선택해주세요.");
                return false;
            }
            // 생년월일 체크 여부 확인
            if ($("#birth").val() === null || $("#birth").val() === "") {
                alert("생년월일을 선택해주세요.");
                return false;
            }
            console.log("모든 조건 통과");

            return true;
        }

    });
</script>
</html>