<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layouts/baseNoMenu :: base(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 지역 선택 모달 -->
        <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">지역 선택</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="locationModalContainer">
                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="lType : ${locationType}">
                                <button type="button" class=" btn btn-outline-secondary lTypeBtn"
                                        th:text="${lType.value}" th:if="${lType.value !='기타'}"
                                        th:data-loc="${lType.name()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 회원 가입 영역 -->
        <div class="container mt-5 mb-5" id="signUpContainer">

            <form action="" th:action th:object="${memberForm}" method="post" >
                <!-- 페이지 제목 -->
                <div class="row mt-5">
                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="fs-1">Sign up</div>
                    </div>
                </div>

                <!-- 회원 정보 입력 -->
                <div class="row mt-5">

                    <!-- 프로필 이미지, 성별, 지역,생년월일 -->
                    <div class="col-5">

                        <!-- 프로필 이미지 -->
                        <div class="row h-50 mb-3">
                            <i class="fa-solid fa-circle-user fa-10x d-flex justify-content-center align-items-center"></i>
                        </div>

                        <!-- 성별 -->
                        <div class="row d-flex justify-content-between mb-3">
                            <div class="col input-group">
                                <label class="input-group-text" for="checkMale">남성</label>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" th:field="*{gender}" th:value="MALE" id="checkMale">
                                </div>
                            </div>
                            <div class="col input-group d-flex justify-content-end">
                                <label class="input-group-text" for="checkFemale">여성</label>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio" th:field="*{gender}" th:value="FEMALE" id="checkFemale">
                                </div>
                            </div>
                        </div>

                        <!-- 지역 -->
                        <div class="row">
                            <div class="col input-group mb-3">
                                <span class="input-group-text">지역</span>
                                <button class="btn btn-outline-secondary" type="button" id="locationModalBtn" data-bs-toggle="modal" data-bs-target="#locationModal">선택</button>
                            </div>
                            <!-- 지역 선택 결과값 -->
                            <input type="hidden" th:field="*{location}" id="locationValue">
                        </div>

                        <!-- 생년 월일 선택 -->

                        <div class="row">
                            <div class="col input-group mb-3">
                                    <span class="input-group-text">생년월일</span>
                                    <input type="date" th:field="*{birth}" max="2012-12-31" min="1940-01-01" class="form-control">
                            </div>
                        </div>

                    </div>
                    <!-- 아이디, 닉네임, 이메일, 비밀번호, 전화번호, 자기소개 -->
                    <div class="col-7">
                        <!-- 아이디 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 아이디 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">아이디</span>
                                    <input type="text" th:field="*{userid}" class="form-control" id="userIdInput">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="userIdCheckResult"></div>
                            </div>
                        </div>

                        <!-- 닉네임 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 닉네임 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">닉네임</span>
                                    <input type="text" th:field="*{username}" class="form-control" id="usernameInput">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="userNameCheckResult"></div>
                            </div>
                        </div>

                        <!-- 이메일 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 이메일 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">이메일</span>
                                    <input type="email" th:field="*{email}" class="form-control" id="emailInput">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="emailCheckResult"></div>
                            </div>
                        </div>

                        <!-- 비밀번호 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 비밀번호 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">비밀번호</span>
                                    <input type="password" th:field="*{password}" class="form-control" id="password">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="passwordCheckResult"></div>

                            </div>
                        </div>

                        <!-- 비밀번호 확인 -->
                        <div class="row mb-2">
                            <div class="col">
                                <!-- 비밀번호 확인 입력 -->
                                <div class="input-group">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">비밀번호 확인</span>
                                    <input type="password" class="form-control" id="repeatPassword">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="repeatPasswordCheckResult"></div>

                            </div>
                        </div>

                        <!-- 전화번호 -->
                        <div class="row">
                            <div class="col">
                                <!-- 전화번호 입력 -->
                                <div class="input-group">
                                    <input hidden="hidden" th:field="*{phone}" id="phoneNum">
                                    <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                          style="width: 40%">전화번호</span>
                                    <input type="number" class="form-control" id="phoneNumFirst">
                                    <span class="input-group-text d-flex justify-content-center align-items-center">-</span>
                                    <input type="number" class="form-control" id="phoneNumSecond">
                                    <span class="input-group-text d-flex justify-content-center align-items-center">-</span>
                                    <input type="number" class="form-control" id="phoneNumThird">
                                </div>
                                <!-- 중복체크 결과값 -->
                                <div class="form-text" id="phoneCheckResult"></div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- 한줄 소개 입력 -->
                <div class="row mt-2">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text d-flex justify-content-center align-items-center p-2"
                                  style="width: 10%">한줄소개</span>
                            <input type="text" th:field="*{introduction}" class="form-control" id="introductionInput">
                        </div>
                    </div>
                </div>

                <!-- 관심사 선택 -->
                <div class="row mt-2">
                    <div class="col-2">
                        <span class="d-flex justify-content-center input-group-text">관심사</span>
                    </div>
                </div>
                <div class="row mt-2 d-flex justify-content-between">
                    <div class="col-auto" th:each="iType : ${interestType}">
                        <div class="input-group">
                            <label class="input-group-text" th:text="${iType.value}" th:if="${iType.value !='기타' && iType.value != '전체'}" th:for="${iType.name()}"></label>
                            <div class="input-group-text" th:if="${iType.value !='기타' && iType.value != '전체'}">
                                <input class="form-check-input mt-0" type="checkbox" th:field="${interestType}" th:value="${iType.name()}" th:id="${iType.name()}">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 회원가입, 취소, 로그인 버튼 -->
                <div class="row mt-5 mb-5 d-flex justify-content-between">
                    <!-- 취소, 로그인 버튼 -->
                    <div class="col input-group input-group-lg">
                        <a href="/" class="btn btn-outline-secondary">Home</a>
                        <a href="/login" class="btn btn-outline-secondary">Login</a>
                    </div>
                    <!-- 회원가입 버튼 -->
                    <div class="col input-group input-group-lg d-flex justify-content-end">
                        <button id="signUpBtn" type="submit" class="btn btn-dark">Sign Up</button>
                    </div>
                </div>

            </form>

        </div>
    </th:block>
</th:block>

<script th:inline="javascript">

$(document).ready(function () {

        // ********** 변수 선언 **********
        let userIdCheck = false;
        let usernameCheck = false;
        let emailCheck = false;
        let passwordCheck = false;


        // ********** 유효성 검사 함수 **********

        // 아이디 중복확인
        $("#userIdInput").change(function () {
            let userId = $(this).val();
            $.ajax({
                type: "post",
                url: "/useridCheck",
                data: {userid: userId},
                success: function (result) {
                    if (result === true) {

                        console.log(result);
                        // 글자색 토글 변경하기
                        $("#userIdCheckResult").text("이미 사용중인 아이디입니다.")
                        $('#userIdCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                        userIdCheck = false;
                    } else {
                        $("#userIdCheckResult").text("사용 가능한 아이디입니다.")
                        $('#userIdCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                        userIdCheck = true;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        // 닉네임 중복확인
        $("#usernameInput").change(function () {
            let username = $(this).val();
            $.ajax({
                type: "post",
                url: "/usernameCheck",
                data: {username: username},
                success: function (result) {
                    if (result === true) {
                        console.log("닉네임 중복확인 결과");
                        console.log(result);
                        // 글자색 토글 변경하기
                        $("#userNameCheckResult").text("이미 사용중인 닉네임입니다.")
                        $('#userNameCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                        usernameCheck = false;
                    } else {
                        $("#userNameCheckResult").text("사용 가능한 닉네임입니다.")
                        $('#userNameCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                        usernameCheck = true;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        // 이메일 중복확인
        $("#emailInput").change(function () {
            let email = $(this).val();
            // 이메일 형식 체크

            if (!email.includes("@")) {
                $("#emailCheckResult").text("이메일 형식이 올바르지 않습니다.")
                $('#emailCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                emailCheck = false;
            } else if (!email.includes(".")) {
                $("#emailCheckResult").text("이메일 형식이 올바르지 않습니다.")
                $('#emailCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                emailCheck = false;
            } else {
                $.ajax({
                    type: "post",
                    url: "/emailCheck",
                    data: {email: email},
                    success: function (result) {
                        if (result === true) {
                            console.log(result);
                            // 글자색 토글 변경하기
                            $("#emailCheckResult").text("이미 사용중인 이메일입니다.")
                            $('#emailCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                            emailCheck = false;
                        } else {
                            $("#emailCheckResult").text("사용 가능한 이메일입니다.")
                            $('#emailCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                            emailCheck = true;
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        });

        // 비밀번호 일치 확인
        $("#repeatPassword").change(function () {
            let password = $("#password").val();
            let repeatPassword = $(this).val();
            if (password === null || password === "") {
                $('#repeatPasswordCheckResult').text("비밀번호를 먼저 입력해주세요.");
                $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                passwordCheck = false;
            } else if (password !== repeatPassword) {
                $('#repeatPasswordCheckResult').text("비밀번호가 일치하지 않습니다.");
                $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                passwordCheck = false;
            } else {
                $('#repeatPasswordCheckResult').text("비밀번호가 일치합니다.");
                $('#repeatPasswordCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                passwordCheck = true;
            }
        });

        // 비밀번호 일치 확인
        $("#password").change(function () {
            let password = $(this).val();
            let repeatPassword = $("#repeatPassword").val();
            if (repeatPassword !== null && repeatPassword !== "") {
                if (password !== repeatPassword) {
                    $('#repeatPasswordCheckResult').text("비밀번호가 일치하지 않습니다.");
                    $('#repeatPasswordCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                    passwordCheck = false;
                } else {
                    $('#repeatPasswordCheckResult').text("비밀번호가 일치합니다.");
                    $('#repeatPasswordCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                    passwordCheck = true;
                }
            }
        });

        // 전화번호 중복 확인
        $("#phoneNumFirst").change(function () {
            checkPhone();
        });
        $("#phoneNumSecond").change(function () {
            checkPhone();
        });
        $("#phoneNumThird").change(function () {
            checkPhone();
        });

        // 전화번호 중복 확인 함수
        function checkPhone() {

            console.log("전화번호 변경");
            let phoneNumFirst = $("#phoneNumFirst").val();
            let phoneNumSecond = $("#phoneNumSecond").val();
            let phoneNumThird = $("#phoneNumThird").val();

            if (phoneNumFirst === null || phoneNumFirst === "" || phoneNumSecond === null || phoneNumSecond === "" || phoneNumThird === null || phoneNumThird === "" || phoneNumFirst.length !== 3 || phoneNumSecond.length !== 4 || phoneNumThird.length !== 4) {
                $('#phoneCheckResult').text("정확한 전화번호를 입력해주세요.");
                $('#phoneCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
            } else {
                let phone = 0;
                phone = phoneNumFirst + phoneNumSecond + phoneNumThird;
                $.ajax({
                    type: "post",
                    url: "/phoneCheck",
                    data: {phone: phone},
                    success: function (result) {
                        if (result === true) {
                            console.log(result);
                            // 글자색 토글 변경하기
                            $("#phoneCheckResult").text("이미 사용중인 전화번호입니다.")
                            $('#phoneCheckResult').toggleClass('text-success', false).toggleClass('text-danger', true);
                            $("#phoneNum").val("0");
                        } else {
                            $("#phoneCheckResult").text("사용 가능한 전화번호입니다.")
                            $('#phoneCheckResult').toggleClass('text-danger', false).toggleClass('text-success', true);
                            $("#phoneNum").val(phone);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

        }

        // ********** 클릭시 함수 **********

        // 관심사 선택시 memberForm에 값 넣기
        $("input[type=checkbox]").click(function () {
            let interest = $(this).val();
            if ($(this).is(":checked")) {
                console.log("체크됨");
                console.log(interest);
                let input = $("<input>").attr("type", "hidden").attr("name", "interestType").val(interest);
                $("#signUpContainer form").append(input);
            } else {
                console.log("체크해제");
                console.log(interest);
                $("#signUpContainer form input[name=interestType][value=" + interest + "]").remove();
            }
        });

        // submit 버튼 클릭 시 유효성 검사
        $("#signUpBtn").click(function () {

            let check = inputcheck();

            if(check === true){
                $("#signUpContainer form").submit();
            }
            else {
            }
        });

        function inputcheck() {

            console.log("inputcheck 함수 실행");
            // 아이디 입력 확인
            let userId = $("#userIdInput").val();
            if (userId === null || userId === "") {

                alert("아이디를 입력해주세요.");
                return false;
            }

            // 닉네임 입력 확인
            let username = $("#usernameInput").val();
            if (username === null || username === "") {
                alert("닉네임을 입력해주세요.");
                return false;
            }

            // 비밀번호 확인
            let password = $("#password").val();
            let repeatPassword = $("#repeatPassword").val();
            if (password === null || password === "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            if (password !== repeatPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }

            if (passwordCheck === false) {
                alert("비밀번호를 확인해주세요.");
                return false;
            }

            // 성별 체크 여부 확인
            if (!($("#checkMale").is(":checked") === true)&& !($("#checkFemale").is(":checked") === true)) {
                alert("성별을 선택해주세요.");
                return false;
            }

            // 지역 체크 여부 확인
            if ($("#locationModalBtn").text() === "선택") {
                alert("지역을 선택해주세요.");
                return false;
            }

            // 생년월일 체크 여부 확인
            if ($("#birth").val() === null || $("#birth").val() === "") {
                alert("생년월일을 선택해주세요.");
                return false;
            }

            // 아이디 중복확인
            if (userIdCheck === false) {
                alert("아이디 중복확인을 해주세요.");
                return false;
            }
            // 닉네임 중복확인
            if (usernameCheck === false) {
                alert("닉네임 중복확인을 해주세요.");
                return false;
            }

            console.log("모든 조건 통과");

            return true;
        }



        // ********** 각종 함수 **********

        // 지역 모달에서 지역 선택시 함수
        $(document).on('click', ".lTypeBtn", function () {
            $("#locationModal").modal('hide');
            $("#locationValue").val($(this).data('loc'));
            $("#locationModalBtn").text($(this).text());
        });
    });


</script>
</html>