.main-calendar {
    width: 100%;
}

#community-wrapper {
    margin-top: 5vh;
}

#boardAddWrapper{
    width: 80%;

}

#searched-list {
    overflow-y: auto;
}

#searched-list::-webkit-scrollbar {
    display: none;
}

textarea{
    resize: none;
}