.main-calendar {
    width: 100%;
}

#community-wrapper {
    width: 90vw;

}

#boardAddWrapper{
    width: 80%;
}

#boardModifyWrapper{
    width: 80%;
}

#profileWrapper{
    width: 80%;
}

#boardDetailWrapper {
    width: 60vw;
}
#content-wrapper{
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding: 20px 0;
}

#searched-list {
    overflow-y: auto;
}

#searched-list::-webkit-scrollbar {
    display: none;
}

#signUpContainer{
    width: 60vw;
}

/* Chrome, Safari, Edge */
#search-info-box::-webkit-scrollbar {
    display: none;
}

/* Firefox */
#search-info-box {
    scrollbar-width: none;
}

textarea{
    resize: none;
}