<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layouts/base :: base(~{this::content})}"> // 헤더 네브 푸터

    <th:block th:fragment="content">

        <!--                분류 모달-->
        <div class="modal" id="type-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="pType : ${programType}">
                                <button type="button" class="btn btn-outline-secondary pTypeBtn"
                                        th:text="${pType.value}" th:if="${pType.value !='기타'}"
                                        th:data-type="${pType.name()}"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--                지역 모달-->
        <div class="modal" id="location-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">분류 선택</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body container">

                        <div class="row">
                            <div class="col-auto mt-2 mb-2" th:each="lType : ${locationType}">
                                <button type="button" class=" btn btn-outline-secondary lTypeBtn"
                                        th:text="${lType.value}" th:if="${lType.value !='기타'}"
                                        th:data-loc="${lType.name()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id='calendar' class="m-auto mt-5 main-calendar"></div>


        <div id="favProgram" class="container">  <!-- 인기 작품 영역 -->
            <!-- TODO 인기 모임 영역 -->

            <div class="row mt-5 mb-3">
                <div class="col-auto">
                    <div class="fs-3 badge text-bg-secondary">인기 작품</div>
                </div>
            </div>

            <div class="row mb-5" id="BestProgramContainer">

                <!-- 인기글 조회 해서 4개 띄우기 -->
                <!--<div class="col-3 ml-1 mr-1 ">
                    <div>
                        <img src="..." class="card-img-top mb-2 img-thumbnail img-fluid" style="height: 30vw" alt="...">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-auto card-title fs-4">
                                    제목asdasdasdasdasdadasdsadasdsadsadsadasdasdasdasdasdasd
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 badge text-bg-secondary fs-6 d-flex justify-content-center align-items-center">
                                    연극
                                </div>
                            </div>
                            <div class="row">
                                &lt;!&ndash; 작품 날짜 &ndash;&gt;
                                <div class="col-12">
                                    <div>2021.10.10 ~</div>
                                    <div>2021.10.20</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>


        </div>  <!--  인기 작품 영역 END  -->
        <div name="favMeeting">
            <div>
                <div name="heading">인기 모임</div>  <!--  제목  -->
                <div name="icon-horizon"></div>
            </div>
            <div name="cards">
                <h1>카드 영역</h1>
                <span name="meetingCard"></span>  <!--  작품 카드  -->
                <span name="meetingCard"></span>
                <span name="meetingCard"></span>
                <span name="meetingCard"></span>
            </div>
        </div> <!--  인기 모임 영역  -->


        <script>

            // TODO 달력 디자인
            $(document).ready(function () {
                var calendarEl = document.getElementById('calendar');
                var modalProgramType = "DRAMA";
                var modalLocationType = "SEOUL";
                var modalProgramTypeName = "연극";
                var modalLocationTypeName = "서울";
                var result = [[${result}]];

                if (result === true) {
                    alert("회원가입 되었습니다.");
                }

                var calendar = new FullCalendar.Calendar(calendarEl, {

                    customButtons: {
                        programType: {
                            text: '분류',
                            click: function () {
                                // 모달 display block으로 변경
                                $('#type-modal').css('display', 'block');
                                // 이 버튼 이름 바꾸기
                                console.log();


                            }
                        },
                        location: {
                            text: '지역',
                            click: function () {
                                // 모달로 카테고리 설정 예정
                                $('#location-modal').css('display', 'block');


                            }
                        }
                    },
                    headerToolbar: {
                        left: 'prev programType location',
                        center: 'title',
                        right: 'next'
                    },
                    initialView: 'dayGridMonth',
                    // locale: 'ko',
                    navLinks: false,
                    showNonCurrentDates: false,
                    editable: false,
                    dayMaxEvents: 3,
                    displayEventTime: false,
                    eventClick: function (info) {
                        openProgramPage(info.event.id);

                    },


                    // 달력 날짜에 "일"을 제거
                    dayCellContent: function (info) {
                        var number = document.createElement("a");
                        number.classList.add("fc-daygrid-day-number");
                        number.innerHTML = info.dayNumberText.replace("일", " ");
                        if (info.view.type === "dayGridMonth") {
                            return {
                                html: number.outerHTML
                            };
                        }
                        return {
                            domNodes: []
                        };
                    },
                    datesSet: (info) => {
                        // 현재 달력에 표시된 월 가져오기
                        var startMonth = info.startStr;

                    },
                    // ajax 통신으로 fullcalendar 이벤트 가져오기
                    events: {
                        url: '/calendar/list', // 이벤트를 가져올 서버의 URL
                        method: 'GET', // HTTP 요청 방식
                        extraParams: function () { // 서버에 전달할 추가적인 파라미터
                            return {
                                programType: modalProgramType,
                                location: modalLocationType,
                            };
                        },
                        failure: function (e) { // 요청이 실패했을 때 호출되는 콜백 함수
                            alert('there was an error while fetching events!');
                            console.log(e);
                        },
                        textColor: 'black' // 이벤트의 글자색
                    }


                });

                calendar.render();

                // 모달 닫기
                $(document).on('click', '.close', function () {
                    $('#type-modal').css('display', 'none');
                    $('#location-modal').css('display', 'none');
                });

                // 분류 모달 버튼 클릭시 데이터 받기
                $(document).on('click', ".pTypeBtn", function () {
                    modalProgramType = $(this).data('type');
                    modalProgramTypeName = $(this).text();
                    $('#type-modal').css('display', 'none');
                    // $('#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > button.fc-programType-button.fc-button.fc-button-primary').text(modalProgramTypeName);
                    calendar.refetchEvents();

                });
                $(document).on('click', ".lTypeBtn", function () {
                    modalLocationType = $(this).data('loc');
                    modalLocationTypeName = $(this).text();
                    $('#location-modal').css('display', 'none');
                    // $('#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > button.fc-location-button.fc-button.fc-button-primary').text(modalLocationTypeName);

                    calendar.refetchEvents();

                });

                function openProgramPage(id) {
                    location.href = "/program/" + id;
                }
            });

            // ********** 페이지 로드 시 실행 **********
            getBestProgramList();

            // ********** 각종 함수들 **********
            // 인기 작품 리스트 불러오기
            function getBestProgramList() {
                $.ajax({
                    type: "get",
                    url: "/program/bestProgramList",
                    success: function (result) {
                        console.log("인기 작품 목록 요청 성공!");
                        console.log(result);

                        changeBestProgramList(result);
                        // 인기글 목록 화면에 띄우기
                    },
                    error: function (e) {
                        console.log("인기글 목록 요청 실패....");
                        console.log(e);
                    },
                });
            }

            // 인기 작품 목록 화면에 띄우기
            function changeBestProgramList(list) {

                var html = '';
                for (let i = 0; i < list.length; i++) {

                    html += '<div class="col-3 ml-1 mr-1 bestProgramCard">';
                    html += '<div hidden="hidden" class="programSeq">' + list[i].seq + '</div>';
                    html += '<div>';
                    html += '<img src="' + list[i].thumbnail + '" class="card-img-top mb-2 img-thumbnail img-fluid" style="height: 30vw" alt="...">';
                    html += '<div class="card-body">';
                    html += '<div class="row mb-2">';
                    var title = list[i].title;
                    if (title.length > 8) {
                        title = title.substring(0, 8) + "...";
                    }
                    html += '<div class="col-auto card-title fs-4">' + title + '</div>';
                    html += '</div>';
                    html += '<div class="row">';
                    html += '<div class="col-auto badge text-bg-secondary fs-6 d-flex justify-content-center align-items-center">';
                    html += getProgramType(list[i].programType);
                    html += '</div>';
                    html += '</div>';
                    html += '<div class="row">';
                    html += '<div class="col-12">';
                    html += '<div class="fs-5">' + list[i].startDate.substring(0,10) + ' ~ </div>';
                    html += '<div class="fs-5">' + list[i].endDate.substring(0,10) + '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                $('#BestProgramContainer').html(html);
            }


            // 작품 타입 가져오기
            function getProgramType(type) {
                if (type == "DRAMA") {
                    return "연극";
                } else if (type == "MUSICAL") {
                    return "뮤지컬/오페라";
                } else if (type == "CONCERT") {
                    return "음악/콘서트";
                } else if (type == "EXHIBITION") {
                    return "전시";
                } else if (type == "ETC") {
                    return "기타";
                }
            }

            // ********** 작품 카드 클릭시 해당 작품 상세 페이지로 이동 **********
            $('#BestProgramContainer').on('click', '.bestProgramCard', function () {
                var seq = $(this).find('.programSeq').text();
                location.href = "/program/" + seq;
            });



        </script>


    </th:block>
</th:block>
</html>