<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <div class="untree_co-section bg-light">
            <div class="container">
                <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                    <div class="row">
                        <select class="custom-select" id="selectorProgramType">
                            <option value="">분류</option>
                            <option th:each="programType: ${programType}" th:value="${programType.name()}" th:text="${programType.value}"></option>
                        </select>

                        <button type="button"
                                class="btn btn-primary"
                                th:onclick="|location.href='@{/clubs/add}'|">글 작성
                        </button>
                    </div>
                    <div class="row">
                        <div id="eventListContainer">
                            <!--  NOTE 동적으로 추가  -->
                        </div>
                        <div class="custom-pagination">
                            <!--  NOTE 동적으로 추가  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                let currPage = 1;

                // 페이지 로딩 후 실행
                getAllList("ALL", 1);

                function getAllList(sort, page) {
                    console.log("getAllList! page: " + page);
                    currPage = page;
                    $.ajax({
                        type: "get",
                        url: "/ajaxClubs/list/" + sort + "/" + page,
                        success: function (result) {
                            console.log("게시글 목록 요청 성공!");
                            console.log(result);
                            // 게시글 목록 화면에 띄우기
                            printBoardList(result.eventList);
                            // 게시글 페이지네이션 화면에 띄우기
                            printPagination(result, sort);
                        },
                        error: function (e) {
                            console.log("게시글 목록 요청 실패....");
                            console.log(e);
                        },
                    });
                }

                // 모임 목록 띄우는 함수
                function printBoardList(eventList) {
                    var html = "";
                    for (let i = 0; i < eventList.length; i++) {
                        html += '<div class="card">';
                        html += '<div class="thumbnail"></div>';
                        html +=	'<h3><a href="/clubs/' + eventList[i].id + '">' + eventList[i].title + "</h3>";
                        html +='<p><a href="/clubs/' + eventList[i].id + '">' + eventList[i].content + "</p>";
                    }
                    $("#eventListContainer").html(html);
                }

                // 모임 Pagination 띄우는 함수
                function printPagination(pageDTO, sort) {
                    let html = "";
                    html += '<span class="page-item"';
                    if (pageDTO.prev == false) {
                        html += "disabled";
                    }
                    html += '><a href="' + (pageDTO.startPage - 1);
                    html += '" class="page-link" data-sort="' + sort + '">Previous</a></span>';

                    for (let i = 0; i < pageDTO.pageNumList.length; i++) {
                        html += '<span class="page-item ';
                        if (pageDTO.pageNumList[i] == currPage) {
                            html += "active";
                        }
                        html += '"><a href="' + pageDTO.pageNumList[i];
                        html += '" class="page-link" data-sort="' + sort + '">' + pageDTO.pageNumList[i] + "</a></span>";
                    }

                    html += '<span class="page-item"';
                    if (pageDTO.next == false) {
                        html += "disabled";
                    }
                    html += '><a href="' + (pageDTO.endPage + 1);
                    html += '" class="page-link" data-sort="' + sort + '">Next</a></span>';

                    $(".custom-pagination").html(html);
                }

                $(".custom-pagination").on("click", "a.page-link", function (e) {
                    e.preventDefault();
                    let pageNum = $(this).attr("href");
                    let sort = $(this).data("sort");
                    getAllList(sort, pageNum);
                });

                $("#selectorProgramType").change(function() {
                    var selectedValue = $(this).val();
                    if(selectedValue === "DRAMA") {
                        getAllList(selectedValue, 1);
                    }
                    else if(selectedValue === "CONCERT") {
                        getAllList(selectedValue, 1);
                    }
                    else if(selectedValue === "EXHIBITION") {
                        getAllList(selectedValue, 1);
                    }
                    else if(selectedValue === "MUSICAL") {
                        getAllList(selectedValue, 1);
                    }
                    else if(selectedValue === "ETC") {
                        getAllList(selectedValue, 1);
                    }
                });

            });
        </script>

    </th:block>
</th:block>
</html>
