<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">

        <div class="untree_co-section bg-light">  <!--  todo 반응형 패딩 안 맞음  -->
            <div class="container">  <!--  클럽홈  -->
                <div class="col-12 mb-5 aos-init aos-animate" data-aos="fade-up">
                    <div class="row">  <!--  카테고리  -->
                                       <!--  todo 필터링 DB 연결  -->
                                       <!--                        <select class="custom-select" th:field="*{}" id="">-->
                                       <!--                            <option value="">선택(전시/공연)</option>-->
                                       <!--                            <option th:each="boardType: ${}" th:value="${}" th:text="${}"></option>-->
                                       <!--                        </select>-->
                                       <!--                        <select class="custom-select" th:field="*{}" id="">-->
                                       <!--                            <option value="">선택(인기순/최신순)</option>-->
                                       <!--                            <option th:each="boardType: ${}" th:value="${}" th:text="${}"></option>-->
                                       <!--                        </select>-->
                        <button type="button"
                                class="btn btn-primary"
                                th:onclick="|location.href='@{/clubs/add}'|">글 작성
                        </button>
                    </div>  <!--  row 카테고리+버튼 영역  -->
                </div>  <!--  col-12 mb-5 aos-init aos-animate 카테고리+버튼 영역ㄷ  -->
                <div class="row">  <!--  인기글(당일 가준 관람일이 지난 작품 카드 (관람한 작품)) 카드 TODO DB 연결  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                        <div class="news-item">  <!--  모임 카드 1  -->
                            <div class="vcard d-flex mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_1.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <span class="post-meta-2">모임 내용</span>
                            </div>
                            <div class="news-contents mb-4"></div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 1 -->
                    </div>  <!--  모임 카드 1 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="news-item">  <!--  모임 카드 2  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 2 -->
                    </div>  <!--  모임 카드 2 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="news-item">  <!--  모임 카드 3  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 3 -->
                    </div>  <!--  모임 카드 3 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="news-item">  <!--  모임 카드 4  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 4 -->
                    </div>  <!--  모임 카드 4 애니메이션 속성  -->
                </div>  <!--  row 인기글 카드 첫번째 줄  -->
                <div class="row">  <!--  인기글(당일 가준 관람일이 지난 작품 카드 (관람한 작품)) 카드  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                        <div class="news-item">  <!--  모임 카드 1  -->
                            <div class="vcard d-flex mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_1.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">헤드윅 꿀팁 공유합니다</a></h3>
                                <span class="post-meta-2">이번주 재관람 30% 할인이라네요~~</span>
                            </div>
                            <div class="news-contents mb-4"></div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 1 -->
                    </div>  <!--  모임 카드 1 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="news-item">  <!--  모임 카드 2  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 2 -->
                    </div>  <!--  모임 카드 2 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="news-item">  <!--  모임 카드 3  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 3 -->
                    </div>  <!--  모임 카드 3 애니메이션 속성  -->
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="news-item">  <!--  모임 카드 4  -->
                            <div class="vcard d-flex align-items-center mb-4">
                                <div class="img-wrap">
                                    <img th:src="@{/sbadmin/images/person_2.jpg}" alt="Image" class="img-fluid">
                                </div>
                                <div class="post-meta"></div>
                            </div>
                            <div class="news-contents mb-4">
                                <h3><a href="#">모임 제목</a></h3>
                                <p>모임 내용</p>

                            </div>
                            <p class="mb-0"><a href="#" class="read-more-arrow">
                                <svg class="bi bi-arrow-right"
                                     width="1em"
                                     height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd"
                                          d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
                                </svg>
                            </a></p>
                        </div>  <!-- news-item 4 -->
                    </div>  <!--  모임 카드 4 애니메이션 속성  -->
                </div>  <!--  row 인기글 카드 두번째 줄  -->
                <div class="row text-start pt-5 border-top">  <!--  페이징 영역  -->
                    <div class="col-mb-12">
                        <div class="custom-pagination">
                            <span class="page-item" th:classappend="${pageDTO.prev == false} ? 'disabled'">
                                <a th:href="@{/boards/list(page=${pageDTO.startPage-1},size=${pageDTO.pageRequestDTO.size})}"
                                           class="page-link">Previous</a>
                            </span>
                            <span th:each="page : ${pageDTO.pageNumList}"
                                  class="page-item"
                                  th:classappend="${pageDTO.pageRequestDTO.page == page} ? 'active'">
                                        <a th:href="@{/boards/list(page=${page},size=${pageDTO.pageRequestDTO.size})}"
                                           class="page-link"
                                           th:text="${page}">0</a>
                                </span>
                            <span class="page-item" th:classappend="${pageDTO.next == false} ? 'disabled'">
                                        <a th:href="@{/boards/list(page=${pageDTO.endPage+1},size=${pageDTO.pageRequestDTO.size})}"
                                           class="page-link">Next</a>
                                </span>
                        </div>  <!--  custom-pagination  -->
                    </div>  <!-- col-mb-12   -->
                </div>  <!-- row text-start pt-5 border-top 검색창+페이징 영역   -->

            </div>  <!--  container 클럽홈 영역  -->
        </div>  <!--  untree_co-section 배경 영역  -->

    </th:block>
</th:block>
</html>