<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <h1>모임 작성 페이지 영역</h1>

        <div name="headerImage"></div>  <!--  헤더용 이미지  -->
        <div name="meetingDetailHeader">  <!--  모임 작성 영역 헤더 START  -->
            <div name="meetingDetailHeaderTop">  <!--  헤더 상단 START  -->
                <span name="title">  <!--  제목 영역  -->
                <div name="meetingTitle"></div>  <!--  모임 제목  -->
                <div name="programTitle"></div>  <!--  작품 제목  -->
            </span>
                <span name="button">  <!--  버튼 영역  -->
                <!--  작성자  -->
                <span name="editBoard-button"></span>  <!--  수정 버튼  -->
                <span name="deleteBoard-button"></span>  <!--  삭제 버튼  -->
                <!--  조회자  -->
                <span name="bookmark-button"></span>  <!--  북마크 버튼  -->
            </span>
            </div>  <!--  헤더 상단 END  -->
            <div name="meetingDetailHeaderBottom">  <!--  헤더 하단 START  -->
                <div name="meetingInfo">  <!--  모임 정보 영역  -->
                    <span name="date">일시</span>
                    <span name="place">장소</span>  <!--  구체적 장소 / 지역X  -->
                    <span name="personnel">present/maximum</span>  <!--  현재인원/정원  -->
                </div>
                <div name="filterInfo">  <!--  (모임)필터 정보 영역  -->
                    <span name="age">연령</span>
                    <span name="location">지역</span>  <!-- 작품 정보 내 지역 / 구체적 장소X  -->
                    <span name="gender">성별</span>
                </div>
                <div name="button">  <!--  버튼 영역  -->
                    <div name="personnel-button">  <!--  참여 관리 버튼  -->
                        <!--  참여 관리 modal  -->
                        <div name=""></div>  <!--  TODO 신청자 정보  -->
                    </div>
                    <div name="apply-button">신청하기</div>  <!--  신청 버튼  -->
                </div>
            </div>  <!--  헤더 하단 END  -->
        </div>  <!-- 모임 작성 영역 헤더 END   -->
        <div name="content"></div>  <!--  내용  -->
        <div name="programInfoCard"></div>  <!--  작품 정보 영역 카드  -->
        <div name="meetingDetailFooter">  <!-- 모임 작성 영역 푸터 START   -->
            <span name="createDate">작성일자</span>
            <span name="apply-button">신청하기</span>
        </div>  <!-- 모임 작성 영역 푸터 END   -->
        <div name="writerCard"></div>  <!--  작성자 영역 카드  -->
    </th:block>
</th:block>
</html>