<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{layouts/base :: base(~{::content})}">
    <th:block th:fragment="content">

        <!-- 모임 상세 페이지 컨테이너 -->
        <div class="container" id="boardDetailWrapper">

            <!--        일정 추가 모달-->
            <div class="modal"
                 id="addMyCalendar-modal"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">달력 선택</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="addMyCalContainer">
                            <div class="container" id="addMyCalendarBtnContainer">
                                <!--    내 캘린더 목록 및 캘린더 추가 버튼 위치 -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--    문장형 평가 추가 모달-->
            <div class="modal"
                 id="addRating-modal"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">문장형 평가 추가</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body container" id="addRatingContainer">
                            <div class="row d-flex justify-content-center mt-2 mb-2" th:each="rating : ${ratingType}">
                                <button class="col-auto btn btn-outline-secondary" th:text="${rating.getValue()}"
                                        th:data-rating="${rating}" th:if="${rating.value !='평가 없음'}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 게시글 제목, 수정 / 삭제 버튼, 북마크 버튼 -->
            <div class="row mt-5 text-center align-items-center">
                <div class="col-3"></div>

                <div class="col">
                    <!--  게시글 제목  -->
                    <h1 th:text="${eventBoard.title}"></h1>
                    <!--  작품 제목 (모임 상세 제목 하단)  -->
                    <p th:text="${eventBoard.getProgramDTO().getTitle()}"></p>
                </div>

                <!-- 회원 일 경우에만 북마크 또는 수정, 삭제 버튼 보이기 -->
                <th:block sec:authorize="isAuthenticated()">
                    <!-- 게시글 작성자 일 경우만 수정, 삭제 버튼 보이기 -->
                    <th:block th:if="${member.getId} == ${eventBoard.getMemberDTO().getId()}">
                        <div class="col-3">
                            <button type="button" class="btn btn-secondary mb-1"
                                    th:onclick="|location.href='@{/clubs/{id}/modify(id=${eventBoard.id})}'|">수정
                            </button>
                            <form action="" th:action="@{/clubs/{id}/delete(id=${eventBoard.id})}" method="post">
                                <button type="submit" class="btn btn-outline-secondary">삭제</button>
                                <!--  TODO 삭제 확인 모달   -->
                            </form>
                        </div>
                    </th:block>
                    <!-- 게시글 작성자가 아닐 경우 북마크 버튼 보이기 -->
                    <th:block th:if="${member.getId} != ${eventBoard.getMemberDTO().getId()}">
                        <div class="col-3">
                            <button id="boardBkMarkBtn"
                                    type="button"
                                    class="fa-regular fa-bookmark fa-3x">
                            </button>
                        </div>
                    </th:block>

                </th:block>

            </div>

            <!--  모임 상세 정보 영역 / 신청, 인원관리 버튼  -->
            <div class="d-flex">
                <!--  모임 상세 정보 영역  -->
                <div class="col">
                    <!--  모임 상세 정보 영역 상단  -->
                    <div class="col d-flex justify-content-around mb-1">
                        <!--  모임 날짜  -->
                        <div class="btn btn-outline-secondary"
                             th:text="|${#temporals.format(eventBoard.eventDate, 'yyyy-MM-dd')}|"></div>
                        <!--  모임 지역  -->
                        <div class="btn btn-outline-secondary"
                             th:text="${eventBoard.getProgramDTO().getLocation().value}"></div>
                        <!--  TODO 확정인원/최대인원  -->
                        <div class="btn btn-outline-secondary" th:text="${'' + '/' + eventBoard.maxPeople}"></div>
                    </div>
                    <!--  모임 상세 정보 영역 하단  -->
                    <div class="col d-flex justify-content-around">
                        <!--  필터링 연령대  -->
                        <div class="btn btn-outline-secondary" id="filterAgeRange"
                             th:data-min-age="${eventBoard.filterMinAge}"
                             th:data-max-age="${eventBoard.filterMaxAge}"></div>
                        <!--  필터링 성별  -->
                        <div class="btn btn-outline-secondary" id="filterGender"
                             th:data-value="${eventBoard.filterGender}"></div>

                    </div>
                </div>  <!--  col-auto  -->
                <div class="col"></div>
                <!--  신청/인원관리 버튼 영역  -->
                <div class="col d-flex justify-content-center align-items-center">
                    <!-- 회원일 경우에만 신청 또는 인원관리 버튼 보이기 -->
                    <th:block sec:authorize="isAuthenticated()">
                        <!-- 게시글 작성자일 경우만 인원관리 버튼 보이기 -->
                        <!--  TODO 게시글 미작성자의 '신청'시 문제 없으나, 게시글 작성자의 '모임확정인원' 버튼 생성 시 레이아웃 망가짐  -->
                        <th:block th:if="${member.getId} == ${eventBoard.getMemberDTO().getId()}">
                            <div class="col-3">
                                <input type="button" class="btn btn-secondary" value="모임확정인원">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id>
                                            <!--  TODO 모임 확정 인원 리스트  -->
                                        </div>
                                    </div>
                                </div>
                                </input>
                            </div>
                        </th:block>  <!--  작성자  -->
                        <!-- 게시글 작성자가 아닐 경우 신청 버튼 보이기 -->
                        <th:block th:if="${member.getId} != ${eventBoard.getMemberDTO().getId()}">
                            <div class="col-3">
                                <input type="button" class="btnApplyEventMember btn btn-secondary" value="신청">
                                <!--  TODO 신청 완료 모달   -->
                            </div>
                        </th:block>  <!--  미작성자  -->

                    </th:block>  <!--  회원  -->
                </div>
            </div>

            <!--  게시글 내용  -->
            <div class="row mt-4">
                <div class="col">
                    <br/><br/>
                    <p th:text="${eventBoard.content}"></p>
                    <br/>
                </div>
            </div>

            <!-- 작품 정보 카드 -->
            <div class="row mt-4">

                <!-- 포스터 영역 -->
                <div class="col mr-2">
                    <img class="w-100" th:src="${eventBoard.getProgramDTO().getThumbnail()}" alt="썸네일 이미지">
                </div>

                <!-- 작품 정보 영역 -->
                <div class="col d-flex flex-column justify-content-between">
                    <!-- 문장형 평가, 캘린더 등록, 북마크 -->
                    <div class="d-flex flex-row">

                        <div class="col-auto">
                            <div class="badge text-bg-secondary h-100 fs-4 d-flex justify-content-center align-items-center p-1"
                                 id="AvgRating">
                                <!--    평균 문장형 평가 위치-->
                            </div>
                        </div>
                        <div class="col "></div>

                        <!-- 북마크, 캘린더 추가 버튼 -->
                        <div class="col-4 row" id="addBtnContainer">
                            <!-- 회원일 경우에만 북마크, 캘린더 추가 버튼 보이기 -->
                            <th:block sec:authorize="isAuthenticated()">
                                <div class="col p-0 fs-4">
                                    <button id="bkMarkBtn" class="fa-regular fa-bookmark w-75 h-75"></button>
                                </div>
                                <div class="col p-0 fs-4">
                                    <button class="fa-regular fa-clipboard w-75 h-75"
                                            type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addMyCalendar-modal"></button>
                                </div>
                            </th:block>

                        </div>

                    </div>

                    <!-- 작품 제목 -->
                    <div class="">
                        <div class="col">
                            <a th:href="@{/program/{seq}(seq=${eventBoard.getProgramDTO().seq})}"
                               class="fs-3"
                               th:text="${eventBoard.getProgramDTO().getTitle()}"></a>
                        </div>
                    </div>

                    <!-- 작품 시작일 -->
                    <div class="">
                        <div class="col-10 h-100">
                            <div class="w-100 fs-5"
                                 th:text="|${#temporals.format(eventBoard.getProgramDTO().getStartDate(), 'yyyy-MM-dd')} ~ ${#temporals.format(eventBoard.getProgramDTO().getEndDate(), 'yyyy-MM-dd')}|"
                            ></div>
                        </div>
                    </div>

                    <!-- 좋아요 버튼, 내 후기 -->
                    <div class="d-flex flex-row justify-content-between" id="ratingAndReviewContainer">

                        <th:block sec:authorize="isAuthenticated()">

                            <div class="col-auto d-flex justify-content-start align-items-center">
                                <!--   회원 문장형 평가 위치-->
                                <button class="btn btn-outline-secondary"
                                        id="addRating"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#addRating-modal"></button>
                            </div>
                            <div class="col"></div>

                            <!-- 좋아요, 후기, 체크박스 버튼 -->
                            <div class="col-3 p-0">
                                <div class="d-flex justify-content-end align-items-center fs-5 w-100 h-100">내후기</div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <button type="button" class="fa-regular fa-circle-check fa-2x" id="myReview"
                                        data-bs-toggle="modal" data-bs-target="#addReview-modal"></button>
                            </div>

                        </th:block>

                    </div>

                    <div style="height: 40%">
                        <div class="col h-100">
                            <div class="w-100 h-100" id="staticMap"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!--  신청 버튼 TODO 모임 신청  -->
            <div class="d-flex col justify-content-center mt-5">
                <div class="row"></div>
                <!-- 회원일 경우에만 신청 버튼 보이기 -->
                <th:block sec:authorize="isAuthenticated()">
                    <!-- 게시글 작성자가 아닐 경우 신청 버튼 보이기 -->
                    <th:block th:if="${member.getId} != ${eventBoard.getMemberDTO().getId()}">
                        <div class="row">
                            <input class="btnApplyEventMember btn btn-secondary" type="button" value="신청">
                            <!--  TODO 신청 완료 모달   -->
                        </div>
                    </th:block>
                </th:block>
                <div class="row"></div>
            </div>

            <!--  프로필 이미지 + 회원 정보 영역  -->
            <div class="row d-flex justify-content-center mt-5 mb-5">

                <div class="col-6">
                    <!-- 프로필 이미지 -->
                    <div class="row mb-3 justify-content-center">
                        <div class="col-4">
                            <!--                            <img src="/sbadmin/images/person_1.jpg" alt="Image" class="img-fluid rounded">-->
                            <i class="fa-solid fa-circle-user fa-7x d-flex justify-content-center align-items-center"></i>

                        </div>
                    </div>

                    <!-- TODO 닉네임, 팔로우 버튼 -->
                    <div class="row text-center mb-3 d-flex justify-content-center">
                        <div class="col-auto text-center">
                            <button type="button"
                                    class="btn btn-outline-secondary fs-4 d-inline-block"
                                    th:text="${eventBoard.getMemberDTO().getUsername()}"
                                    th:onclick="|location.href='@{/members/{id}(id=${eventBoard.getMemberDTO().getId()})}'|">
                            </button>
                        </div>

                        <th:block sec:authorize="isAuthenticated()">
                            <div class="col-auto p-0" th:if="${member.getId} != ${eventBoard.getMemberDTO().getId()}">
                                <button type="button" class="btn btn-dark btn-outline-secondary fs-6" id="followBtn">
                                    Follow
                                </button>

                            </div>
                        </th:block>

                    </div>

                    <!-- 지역, 소개 -->
                    <div class="row text-center justify-content-center">
                        <div class="col-auto text-end">
                            <div class="badge text-bg-secondary fs-6"
                                 th:text="${eventBoard.getMemberDTO().getLocation().value}"></div>
                        </div>
                        <div class="col-auto text-start">
                            <div class="badge text-bg-secondary fs-6"
                                 th:text="${eventBoard.getMemberDTO().getIntroduction()}"></div>

                        </div>
                    </div>

                </div>

            </div>

        </div>  <!--  container boardDetailWrapper  -->

        <script th:inline="javascript">
            $(document).ready(function () {
                let boardIdVal = [[${eventBoard.id}]]; // 본문 글번호

                // 현재 로그인이 되어 있다면 회원 id를, 아니면 null을 저장
                var member = [[${member}]]
                var memberId
                if (member == null) {
                    memberId = 0;
                } else {
                    memberId = member.id;
                }
                var eventBoardId = [[${eventBoard.id}]]; // 현재 게시글의 id
                console.log("memberId : " + memberId);

                var programId = [[${eventBoard.getProgramDTO.getId()}]]; // 현재 게시글의 작품 id

                // 페이지 로딩시 시작할 함수들
                kakaoMap() // 카카오 지도 띄우기
                getAvgRating(); // 평균 평가 가져오기
                getMyRating(); // 내 평가 가져오기
                checkEventBkmark(); // todo 게시글 북마크 체크
                checkProgramBkmark(); // 작품 북마크 체크
                // 해당 작품 후기 작성 여부 확인 함수
                getThisProgramReview();

                // ********** 클릭시 이벤트들 **********

                // 모달 닫기 버튼 클릭시
                $('.close').click(function () {
                    // close modal
                    $('#addRating-modal').modal('hide');
                    $('#addMyCalendar-modal').modal('hide');
                });


                $('.btnApplyEventMember').on('click', function () {
                    console.log('모임 신청 click');

                    // 버튼의 현재 텍스트 가져오기
                    var currentText = $(this).text();

                    let eventBoardId = 0;
                    eventBoardId = [[${eventBoard.id}]];

                    let data = {
                        memberId: memberId,
                        eventBoardId: eventBoardId,
                        applyStatus: currentText // 현재 텍스트를 applyStatus에 할당
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/event/applyEventMember',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                // 버튼 텍스트 '신청'으로 변경
                                $('.btnApplyEventMember').val('신청');
                                alert('모임 신청이 취소 되었습니다.');
                                return;
                            }
                            // 버튼 텍스트 '취소'로 변경
                            $('.btnApplyEventMember').val('취소');
                            alert('모임 신청이 완료 되었습니다');
                        },
                        error: function (error) {
                            console.log(error);
                            alert('모임 신청에 실패했습니다. 다시 시도해주세요.');
                        }
                    });

                });

                // 문장형 평가 모달내에 버튼 클릭시 이벤트
                $('#addRatingContainer').on('click', 'button', function () {
                    let rating = $(this).data('rating');
                    console.log(rating);
                    let ratingNum = 0;

                    if (rating === 'VERYGOOD') {
                        ratingNum = 5;
                    } else if (rating === 'GOOD') {
                        ratingNum = 4;
                    } else if (rating === 'NORMAL') {
                        ratingNum = 3;
                    } else if (rating === 'BAD') {
                        ratingNum = 2;
                    } else if (rating === 'VERYBAD') {
                        ratingNum = 1;
                    }
                    console.log(ratingNum);

                    let data = {
                        memberId: memberId,
                        programId: programId,
                        rating: ratingNum
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/rating/addRating',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);
                            $('#addRating-modal').modal('hide');
                            if (result === 'fail') {
                                alert('평가가 수정 되었습니다.');
                                getMyRating();
                                getAvgRating();
                                return;
                            }
                            alert('평가가 등록되었습니다.');
                            getMyRating();
                            getAvgRating();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('평가 등록에 실패했습니다.');
                        }

                    });

                });

                // 북마크 버튼 클릭시 이벤트
                $('#addBtnContainer').on('click', '#bkMarkBtn', function () {

                    let data = {
                        memberId: memberId,
                        programId: programId
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/bkmark/addProgramBkmark',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                checkProgramBkmark();
                                return;
                            }
                            checkProgramBkmark();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('북마크 추가에 실패했습니다.');
                        }
                    });

                });

                // 일정 아이콘 클릭시 이벤트
                $('#addBtnContainer').on('click', '.fa-clipboard', function () {

                    // ajax로 내 달력 목록 가져오기
                    $.ajax({
                        url: '/calendar/myCalendarNameList/' + memberId,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            let html = '';
                            data.forEach(function (myCalendar) {
                                html += '<button class="btn btn-primary cal-name" data-mycalid="' + myCalendar.id + '">' + myCalendar.name + '</button>';
                            });
                            html += '<br><input type="text" id="newCalendarName" placeholder="새로운 캘린더 이름"><button id="addNewCalendarBtn" class="btn btn-primary">추가</button>';
                            $('#addMyCalContainer').html(html);

                            $('#addMyCalendar-modal').modal('show');
                        }
                    });
                });



                // 일정 모달 내에 달력 버튼 클릭시
                $('#addMyCalContainer').on('click', '.cal-name', function () {
                    let myCalId = $(this).data('mycalid');
                    console.log(myCalId);
                    console.log(programId);
                    // ajax로 내 달력에 일정 추가 POST방식
                    let data = {
                        calendarId: myCalId,
                        programId: programId
                    };

                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/calendar/addProgramToCalendar',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('이미 추가된 일정입니다.');
                                return;
                            }
                            alert('일정이 추가되었습니다.');
                            $('#addMyCalendar-modal').modal('hide');
                        },
                        error: function (error) {
                            console.log(error);
                            alert('일정 추가에 실패했습니다.');
                        }
                    });

                });

                // 일정 모달 내에 새로운 캘린더 추가 버튼 클릭시
                $('#addMyCalContainer').on('click', '#addNewCalendarBtn', function () {
                    let newCalendarName = $('#newCalendarName').val();
                    console.log(newCalendarName);
                    if (newCalendarName === '') {
                        alert('캘린더 이름을 입력해주세요.');
                        return;
                    } else {

                        let data = {
                            memberId: memberId,
                            name: newCalendarName
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/calendar/addNewCalendar',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result, status) {
                                console.log(result);
                                if (result === 'fail') {
                                    alert('이미 존재하는 캘린더 이름입니다.');
                                    return;
                                }
                                alert('새로운 캘린더가 추가되었습니다.');
                                $('#addMyCalendar-modal').modal('hide');
                            },
                            error: function (error) {
                                console.log(error);
                                alert('캘린더 추가에 실패했습니다.');
                            }
                        });
                    }

                });


                // ********** 각종 함수들 **********

                // 평균 문장형 평가 가져는 함수
                function getAvgRating() {
                    $.ajax({
                        url: '/rating/getAvgRating/' + programId,
                        type: 'GET',
                        success: function (data) {
                            $('#AvgRating').text(data);
                        }
                    });
                }

                // 회원 문장형 평가 가져오기
                function getMyRating() {
                    $.ajax({
                        url: '/rating/getRating/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            $('#addRating').text(data);
                        }
                    });
                }

                // 성별에 따라 다른 내용을 설정하는 함수
                setFilterGenderContent();

                function setFilterGenderContent() {
                    let gender = document.getElementById('filterGender').getAttribute('data-value');
                    let content = '';
                    switch (gender) {
                        case 'MALE':
                            content = '남자';
                            break;
                        case 'FEMALE':
                            content = '여자';
                            break;
                        case 'ALL':
                            content = '성별 무관';
                            break;
                        default:
                            content = '관리자 문의';
                    }
                    document.getElementById('filterGender').innerText = content;
                }


                // 연령대 필터링에 따른 노출 방식 변환
                let minAge = [[${eventBoard.filterMinAge}]];
                let maxAge = [[${eventBoard.filterMaxAge}]];
                setAgeRangeContent(minAge, maxAge);

                function setAgeRangeContent(minAge, maxAge) {
                    let content = '';
                    if (minAge === 0 && maxAge === 0) {
                        content = '연령 무관';
                    } else if (minAge > 0 && maxAge > 0) {
                        if (maxAge - minAge === 9) {
                            content = minAge + '대';
                        } else {
                            content = minAge + '~' + (minAge + 10) + '대';
                        }
                    }
                    // filterAgeRange 요소에 내용 설정
                    document.getElementById('filterAgeRange').innerText = content;
                }

                // 화면에 뿌려주는 시간 포맷팅 함수
                function displayTime(timeValue) {
                    let today = new Date();
                    let dateObj = new Date(timeValue);
                    let gap = today.getTime() - dateObj;
                    if (gap < (1000 * 60 * 60 * 24) && today.getDate() == dateObj.getDate()) {
                        let hh = dateObj.getHours();
                        let mi = dateObj.getMinutes();
                        let ss = dateObj.getSeconds();
                        return [(hh > 9 ? '' : '0') + hh, ':', (mi > 9 ? '' : '0') + mi, ':', (ss > 9 ? '' : '0') + ss].join('');
                    } else {
                        let yy = dateObj.getFullYear();
                        let mm = dateObj.getMonth() + 1;
                        let dd = dateObj.getDate();
                        return [yy, '/', (mm > 9 ? '' : '0') + mm, '/', (dd > 9 ? '' : '0') + dd].join('');
                    }
                }

                // 작품 북마크 여부 확인 이벤트
                function checkProgramBkmark() {
                    console.log("checkProgramBkmark");
                    $.ajax({
                        url: '/bkmark/checkProgramBkmark/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            if (data === true) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                            }

                            if (data === false) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                            }
                        }
                    });
                }

                // 게시글 북마크 여부 확인 함수
                function checkEventBkmark() {

                    console.log("checkBoardBkmark");
                    $.ajax({
                        url: '/bkmark/checkEventBkmark/' + memberId + '/' + boardIdVal,
                        type: 'GET',
                        success: function (data) {
                            if (data === true) {
                                console.log(data);
                                $('#boardBkMarkBtn').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                            }

                            if (data === false) {
                                console.log(data);
                                $('#boardBkMarkBtn').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                            }
                        }
                    });

                }

                // 해당 작품 후기 작성 여부 확인 함수
                function getThisProgramReview() {

                    console.log("후기 여부 확인 함수")

                    // 회원 아이디 Long 출력
                    console.log(memberId);


                    if (memberId !== null) {

                        console.log("getThisProgramReview");

                        $.ajax({
                            url: '/boards/findReview/' + memberId + '/' + programId,
                            type: 'GET',
                            success: function (data) {
                                console.log(data);
                                if (data === true) {
                                    console.log(data);
                                    $('#myReview').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                                    // data-bs-target 변경
                                    $('#myReview').attr('data-bs-target', '#modifyReview-modal');

                                    // 회원 후기 게시글 id 가져오기
                                    $.ajax({
                                        url: '/boards/findReviewId/' + memberId + '/' + programId,
                                        type: 'GET',
                                        success: function (data) {
                                            console.log(data);
                                            $('#reviewModifyBtn').attr('th:href', '@{/boards/{boardId}/modify(boardId=' + data.id + ')}');
                                        }
                                    });

                                }

                                if (data === false) {
                                    console.log(data);
                                    $('#myReview').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                                    // data-bs-target 변경
                                    $('#myReview').attr('data-bs-target', '#addReview-modal');
                                }
                            }
                        });
                    }
                }

                // ********** 카카오 지도 **********
                function kakaoMap() {
                    var locationX = [[${eventBoard.getProgramDTO.getLocationX()}]];
                    var locationY = [[${eventBoard.getProgramDTO.getLocationY()}]];
                    var markerPosition = new kakao.maps.LatLng(locationY, locationX);
                    var marker = {
                        position: markerPosition
                    };
                    var mapContainer = document.getElementById('staticMap'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(locationY, locationX), // 지도의 중심좌표
                            level: 3, // 지도의 확대 레벨
                            marker: marker // 이미지 지도에 표시할 마커
                        };
                    var staticMap = new kakao.maps.StaticMap(mapContainer, mapOption); // 지도를 생성
                }

            }); // ready
        </script>
    </th:block>
</th:block>
</html>