<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">

    <h3>Thumbnail</h3>  <!--  썸네일 이미지  -->
    <div class="eventDetailHeader">  <!--  모임 영역 헤더  -->
        <div class="eventDetailTitle">  <!-- 모임 상세 제목 영역   -->
            <div class="eventDetailTitleTop">  <!--  모임 상세 제목 영역 상단  -->
                <span class="form-group">  <!--  모임 제목  -->
                    <label for="title"></label>
                    <input type="text" class="form-control" th:field="${board.title}" id="title" readonly>
                </span>
                <span class="button">  <!--  버튼 영역  -->
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards/add}'|">수정</button>  <!--  수정 버튼  -->
                    <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/boards/add}'|">삭제</button>  <!--  수정 버튼  -->

                    <label for="boardBKmark">북마크 toggle</label>
                    <input type="checkbox" name="boardBKmark" value="unBK" id="boardBKmark">  <!--  북마크 버튼  -->
                </span>
            </div>  <!--  eventDetailTitleTop 모임 상세 제목 영역 상단 END  -->
            <div class="program.title"></div>  <!--  작품 제목 (모임 상세 제목 하단)  -->
        </div>  <!--  eventDetailTitle 모임 상세 제목 영역 END   -->
        <div class="eventDetailInfo">  <!--  모임 상세 정보 영역  -->
            <div class="eventDetailInfoTop">  <!--  모임 상세 정보 영역 상단  -->
                <span>eventDate</span>  <!--  모임 날짜  -->
                <span>location</span>  <!--  모임 장소  note 지역!=장소  -->
                <span>확정인원/maxPeople</span>  <!--  eventMemberStatus 모임 인원 현황  -->
                <button type="submit" class="btn btn-primary">신청</button>  <!--  신청자용 신청 버튼  -->
                <button type="button" class="btn btn-primary" th:onclick="">인원 관리 modal</button>  <!--  모임리더용 신청자 관리 버튼  -->
            </div>
            <div class="eventDetailInfoBottom">  <!-- 모임 상세 정보 영역 하단   -->
                <button type="button" class="btn btn-secondary">연령대</button>
                <button type="button" class="btn btn-secondary">지역</button>
                <button type="button" class="btn btn-secondary">성별</button>
            </div>
            
        </div>  <!--  eventDetailInfo 모임 상세 정보 영역 END  -->
    </div>  <!--  eventDetailHeader 모임 영역 헤더 END  -->

    <div class="form-group">  <!--  게시글 내용  -->
        <label for="content"></label>
        <textarea class="form-control" th:field="${board.content}" id="content" rows="20" readonly></textarea>
    </div>
    <div class="container">  <!--  포스터 + 작품 정보 카드  -->
        <div class="row">
            <div class="col-lg-7">  <!--  포스터 영역  -->
                <div class="img-shadow">
                    <div class="owl-single no-dots owl-carousel owl-loaded">
                        <div class="owl-stage-outer owl-height" style="height: 388.25px;">
                            <div class="owl-stage"
                                 style="transform: translate3d(-1530px, 0px, 0px); transition: all 0s ease 0s; width: 3570px;">
                                <div class="owl-item cloned" style="width: 510px;">
                                    <div class="owl-item active" style="width: 510px;">
                                        <div class="item">
                                            <img th:src="@{/sbadmin/images/dashboard.jpg}">
                                        </div>  <!--  item  -->
                                    </div>  <!--  owl-item active  -->
                                </div>  <!-- owl-item cloned   -->
                            </div>  <!--  owl-stage  -->
                        </div>  <!--  owl-single no-dots owl-carousel owl-loaded  -->
                    </div>  <!--  img-shadow  썸네일 그림자 영역  -->

                </div> <!-- col-md-4 -->
            </div> <!-- row 포스터 -->

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="0">
                <div class="service">
                    <div class="service-contents">
                            <span>
                                <p>보통이에요 58%</p>  <!--  작품의 평균 문장형 평가  -->
                                <form>  <!--  toggle todo DB연결  -->
                                    <label for="schedule">캘린더 등록 toggle</label>
                                    <input type="checkbox" name="schedule" value="unregister" id="schedule">
                                    <label for="BKmark">북마크 toggle</label>
                                    <input type="checkbox" name="BKmark" value="unBKmark" id="BKmark">
                                </form>
                            </span>  <!--  toggle  -->
                        <div>  <!--  todo DB, 링크 연결  -->
                            <h2>작품 제목</h2>
                            <h5>작품 기간</h5>
                        </div>
                        <div>  <!--  todo DB연결  -->
                            <button type="button" class="btn btn-primary">좋아요</button>  <!--  todo 작품의 내 문장형 평가  -->
                            <label for="rating">내 후기</label>
                            <input type="checkbox" name="rating" value="notExist" id="rating">
                        </div>
                        <div>지도 영역</div>  <!--  todo 지도 연결  -->
                    </div> <!-- service-contents -->
                </div> <!-- service -->
            </div>  <!--  row 작품 정보  -->
        </div>  <!--  row  -->
    </div>  <!-- container 포스터 + 작품 정보 카드 -->
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">
        <div class="news-item">  <!--  프로필 이미지 + 회원 정보 영역  -->
            <div class="vcard d-flex mb-4">  <!--  프로필 이미지  -->
                <div class="img-wrap">
                    <img th:src="@{/sbadmin/images/person_1.jpg}" alt="Image" class="img-fluid">
                </div>
                <div class="post-meta"></div>
            </div>
            <div class="news-contents mb-4">  <!--  회원 정보  -->
                <button type="button" class="btn btn-primary" th:onclick="">Follow</button>  <!--  todo 회원 팔로우  -->
                <div class="form-group">
                    <label for="username">닉네임</label>
                    <input type="text"
                           class="form-control"
                           th:value="${board.memberDTO.username}"
                           id="username"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="location">지역</label>
                    <input type="text"
                           class="form-control"
                           th:value="${board.memberDTO.location}"
                           id="location"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="introduction">한줄소개</label>
                    <input type="text"
                           class="form-control"
                           th:value="${board.memberDTO.introduction}"
                           id="introduction"
                           readonly>
                </div>
            </div>  <!--  news-contents 회원 정보 영역  -->
        </div>  <!--  news-item 프로필 이미지 + 회원 정보 영역  -->
    </div>  <!--  col-md-6 mb-4 mb-lg-0 col-lg-4 작성자 영역 카드  -->

</th:block>
</html>