<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{/layouts/base :: base(~{this::content})}">
    <th:block th:fragment="content">
        <!--  TODO 텍스트 에디터 API  -->

        <div class="untree_co-hero py-5 mb-0" id="home-section">  <!--  배경 영역  -->
            <div class="container pb-5 mb-5 border-bottom">  <!--  게시글 작성  -->
                <div class="row">
                    <div class="col-lg-7">
                        <form action="" th:action th:object="${eventBoardForm}" method="post">
                            <div class="form-group">
                                <label class="text-blank" for="title">제목</label>
                                <input type="text" th:field="*{title}" class="form-control" id="title">
                            </div>
                            <div class="form-group">
                                <label class="text-blank" for="program">작품 선택</label>
                                <input type="search" th:field="*{program}" class="form-control" id="program">
                            </div>  <!--  todo 작품 DB 연결  -->
                            <div class="form-group">
                                <label class="text-blank" for="eventDate">날짜</label>
                                <input type="date" th:field="*{eventDate}" class="form-control" id="eventDate">
                            </div>
                            <div class="form-group">
                                <label class="text-blank" for="maxPeople">최대 인원</label>
                                <input type="number" th:field="*{maxPeople}" class="form-control" min="2" id="maxPeople">
                            </div>
                                    <!--                            <div class="form-group">  &lt;!&ndash;  TODO 지역 추가 예정  &ndash;&gt;-->
                                    <!--                                <label class="text-blank" for="location">장소</label>-->
                                    <!--                                <input type="text" th:field="*{location}" class="form-control" id="location">-->
                                    <!--                            </div>-->
                            <div class="form-group">
                                <label class="filter">필터링
                                    <label class="text-blank" for="filterGender">성별</label>
                                    <select class="custom-select" th:field="*{filterGender}" id="filterGender">
<!--                                        <option value="">성별 선택</option>-->
                                        <option th:each="filterGender: ${filterGender}"
                                                th:value="${filterGender.name()}"
                                                th:text="${filterGender.value}"
                                                th:selected="${filterGender.name()} == 'ALL'">  <!-- TODO 기본 선택값   -->
                                        </option>
                                    </select>
                                    <label class="text-blank" for="filterMaxAge">최대나이</label>
                                    <input type="number"
                                           th:field="*{filterMaxAge}"
                                           class="form-control"
                                           min="0"
                                           id="filterMaxAge">
                                    <label class="text-blank" for="filterMinAge">최소나이</label>
                                    <input type="number"
                                           th:field="*{filterMinAge}"
                                           class="form-control"
                                           min="0"
                                           id="filterMinAge">
                                                      <!--                                    <label class="text-blank" for="filterLocation">지역</label>  &lt;!&ndash;  TODO 지역 추가  &ndash;&gt;-->
                                                      <!--                                    <select class="custom-select" th:field="*{filterLocation}" id="filterLocation">-->
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="text-blank" for="deadlineDate">모집 마감 일자</label>
                                <input type="date" th:field="*{deadlineDate}" class="form-control" id="deadlineDate">
                            </div>
<!--                            <input type="text" id="demo" name="demo" value=""/>  &lt;!&ndash;  TODO 기간 설정 시 date range picker 사용  &ndash;&gt;-->
                                    <!--  toggle todo DB연결  -->
                                <label for="autoAccept">자동 수락 여부 toggle</label>
                                <input type="checkbox" name="autoAccept" value="true" id="autoAccept" checked>

                                    <!--                            <div class="form-group">-->
                                    <!--                                <label class="text-blank" for="thumbnail">썸네일 이미지</label>-->
                                    <!--                                <input type="file" th:field="*{thumbnail}" class="form-control" id="thumbnail">-->
                                    <!--                            </div>  &lt;!&ndash;  todo 이미지 첨부 기능 예정  &ndash;&gt;-->
                                    <!--                            <div class="form-group">-->
                                    <!--                                <label class="text-blank" for="image">본문 이미지 첨부</label>-->
                                    <!--                                <input type="file" th:field="*{image}" class="form-control" id="image">-->
                                    <!--                            </div>  &lt;!&ndash;  todo 이미지 첨부 기능 예정  &ndash;&gt;-->
                            <div class="form-group">
                                <label class="text-blank" for="content">내용</label>
                                <textarea th:field="*{content}"
                                          class="form-control"
                                          id="content"
                                          rows="10"
                                          maxlength="4000"></textarea>
                            </div>
                            <button type="button" class="btn btn-info" th:onclick="|location.href='@{/clubs/list}'|">
                                취소
                            </button>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </form>
                    </div>  <!--  col-lg-7  -->
                </div>  <!--  row  -->
            </div>  <!--  container 게시글 작성  -->
        </div>  <!-- untree_co-hero py-5 mb-0 배경 영역   -->

        <script>
<!--            $(function () {-->
<!--            $('input[name="demo"]').daterangepicker({-->
<!--                "locale": {-->
<!--                    "format": "YYYY-MM-DD",-->
<!--                    "separator": " ~ ",-->
<!--                    "applyLabel": "확인",-->
<!--                    "cancelLabel": "취소",-->
<!--                    "fromLabel": "From",-->
<!--                    "toLabel": "To",-->
<!--                    "customRangeLabel": "Custom",-->
<!--                    "weekLabel": "W",-->
<!--                    "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],-->
<!--                    "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],-->
<!--                    "firstDay": 1-->
<!--                },-->
<!--                "startDate": "2020-10-21",-->
<!--                "endDate": "2020-10-23",-->
<!--                "drops": "down"-->
<!--            }, function (start, end, label) {-->
<!--                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');-->
<!--            });-->
<!--        });-->
            var now_utc = Date.now();
            var timeOff = new Date().getTimezoneOffset() * 60000;
            var today = new Date(now_utc - timeOff);
            var todayISOString = today.toISOString().split("T")[0];
            document.getElementById("eventDate").setAttribute("min", todayISOString);
            var endDate = new Date(today);
            endDate.setDate(today.getDate() + 2);
            var endDateISOString = endDate.toISOString().split("T")[0];
            document.getElementById("deadlineDate").setAttribute("min", endDateISOString);
        </script>

    </th:block>
</th:block>
</html>