<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="programCard">
    <div class="thumbnail"></div>
    <div class="card-header">
        <span class="genre"></span>
        <span class="icon-verticalLine"></span>
        <span class="location"></span>
        <span class="button">
            <span class="add-button"></span>
            <span class="bookmark-button"></span>
        </span>
    </div>
    <div class="title"></div>
    <div class="period"></div>
</div>

<div id="meetingCard">
    <div class="thumbnail"></div>
    <div class="card-header">
        <span class="genre"></span>
        <span class="icon-location"></span>
        <span class="location"></span>
        <span class="icon-person"></span>
        <span class="personnel">present/maximum</span>
        <span class="button">
            <span class="add-button"></span>
            <span class="bookmark-button"></span>
        </span>
    </div>
    <div class="title"></div>
    <div class="period"></div>
</div>

<div id="boardCard">
    <div class="thumbnail"></div>
    <div class="card-header">
        <span class="title"></span>
        <span class="bookmark-button"></span>
    </div>
    <div class="pre-content"></div>
</div>


</html>