<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layouts/base :: base(~{this::content})}"> // 헤더 네브 푸터

    <th:block th:fragment="content">

        <!--        일정 추가 모달-->
        <div class="modal" id="addMyCalendar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">달력 선택</h4>
                        <div class="hidden-true" th:if="${member != null}">
                            <div id="memberId" class="hidden-true"
                                 th:data-memberId="${member.getMember().getId()}"></div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="addMyCalContainer">
                        <div id="addMyCalendarBtnContainer">
                            <!--    내 캘린더 목록 및 캘린더 추가 버튼 위치 -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--    문장형 평가 추가 모달-->
        <div class="modal" id="addRating-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">문장형 평가 추가</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container" id="addRatingContainer">
                        <div class="row d-flex justify-content-center mt-2 mb-2" th:each="rating : ${ratingType}">
                            <button class="col-auto btn btn-outline-secondary" th:text="${rating.getValue()}"
                                    th:data-rating="${rating}" th:if="${rating.value !='평가 없음'}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--       작품 상세 페이지 컨테이너   -->
        <div class="container mt-5" style="width: 90%">
            <!--        작품 포스터, 정보-->
            <div class="row">

                <!--    작품 썸네일 이미지-->
                <div class="col-6">
                    <div th:if="${program != null}">
                        <img class="w-100 img-thumbnail rounded" th:src="${program.getThumbnail()}" alt="썸네일 이미지">
                    </div>
                </div>

                <!-- 작품 정보  -->
                <div class="col ml-2 d-flex flex-column justify-content-between" id="programContainer">
                    <!-- 문장형 평가, 북마크, 일정 추가 버튼 -->
                    <div class="d-flex flex-row" style="height: 10%">
                        <!-- 평균 문장형 평가 -->
                        <div class="col-4">
                            <div class="badge text-bg-secondary h-100 fs-4 d-flex justify-content-center align-items-center" id="AvgRating">
                                <!--    평균 문장형 평가 위치-->
                            </div>
                        </div>
                        <div class="col"></div>
                        <!-- 북마크, 캘린더 추가 버튼 -->
                        <div class="col-4 row" id="addBtnContainer">
                            <!-- 회원일 경우에만 북마크, 캘린더 추가 버튼 보이기 -->
                            <th:block th:if="${member != null}">
                                <div class="col p-0 d-flex justify-content-center align-items-center">
                                    <button id="bkMarkBtn" class="fa-solid fa-bookmark fa-2x"></button>
                                </div>
                                <div class="col p-0 d-flex justify-content-center align-items-center">
                                    <button class="fa-regular fa-clipboard fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#addMyCalendar-modal"></button>

                                </div>
                            </th:block>
                            <!-- 비회원일 경우에는 북마크, 캘린더 추가 버튼 보이지 않기 -->
                            <th:block th:if="${member == null}">

                            </th:block>

                        </div>
                    </div>

                    <!-- 작품 제목 -->
                    <div class="h-25">
                        <div class="col-12 h-100" th:if="${program != null}">
                            <div class="fs-2 d-flex justify-content-start align-items-center h-100" th:text="${program.getTitle()}"></div>
                        </div>
                    </div>

                    <!-- 작품 시작일 ~ 종료일 -->
                    <div>
                        <div class="col-10 h-100">
                            <div class="fs-4"
                                 th:text="|${#temporals.format(program.getStartDate(), 'yyyy-MM-dd')} ~ ${#temporals.format(program.getEndDate(), 'yyyy-MM-dd')}|"
                            ></div>
                        </div>
                    </div>

                    <!-- 회원일 경우 문장형 후기 작성 버튼 및 좋아요, 후기, 체크박스 버튼 -->
                    <th:block th:if="${member != null}">
                        <div class="row" style="height: 10%">
                            <div class="col-4">
                                <!--   회원 문장형 평가 위치-->
                                <button class="btn btn-outline-secondary" id="addRating" type="button" data-bs-toggle="modal" data-bs-target="#addRating-modal"></button>
                            </div>
                            <div class="col"></div>
                            <!-- TODO : 좋아요, 후기, 체크박스 버튼 -->
                            <div class="col-3 p-0">
                                <div class="d-flex justify-content-end align-items-center fs-5 w-100 h-100">내후기</div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <button class="fa-regular fa-circle-check fa-2x"></button>
                            </div>

                        </div>
                    </th:block>
                    <!-- TODO 지도 API -->
                    <div class style="height: 40%">
                        <div class="col-12 h-100">
                            <div class="badge text-bg-secondary w-100 h-100" id="map" style="width:100%;height:100%;">지도</div>
                        </div>

                    </div>
                </div> <!-- end of 작품 정보 -->

                <!-- 인기 후기, 인기 일정 모임 -->
                <div>
                    <!-- 인기 후기 -->
                    <div class="container mb-5">

                        <div><span class="badge text-bg-secondary fs-4 mb-3">인기 후기</span></div>

                        <div class="row" id="BestReviewListContainer">

                            <!-- 인기글 조회 해서 4개 띄우기 -->

                        </div>

                    </div>
                    <!-- todo 인기 일정 모임 -->
                    <div>인기 일정 모임</div>
                </div>

            </div>

        </div>

        <script th:inline="javascript">

            $(document).ready(function () {

                var memberId = $('#memberId').data('memberid');
                var programId = [[${program.getId()}]];

                // 페이지 로딩시 시작할 함수들

                getAvgRating();
                getMyRating();
                checkBkmark();
                // 인기 게시글 불러오기
                getBestReviewList();

                // ********** 클릭시 이벤트들 **********

                // 문장형 평가 모달내에 버튼 클릭시 이벤트
                $('#addRatingContainer').on('click', 'button', function () {
                    let rating = $(this).data('rating');
                    console.log(rating);
                    let ratingNum = 0;

                    if (rating === 'VERYGOOD') {
                        ratingNum = 5;
                    } else if (rating === 'GOOD') {
                        ratingNum = 4;
                    } else if (rating === 'NORMAL') {
                        ratingNum = 3;
                    } else if (rating === 'BAD') {
                        ratingNum = 2;
                    } else if (rating === 'VERYBAD') {
                        ratingNum = 1;
                    }
                    console.log(ratingNum);

                    let data = {
                        memberId: memberId,
                        programId: programId,
                        rating: ratingNum
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/rating/addRating',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);
                            $('#addRating-modal').modal('hide');
                            if (result === 'fail') {
                                alert('평가가 수정 되었습니다.');
                                getMyRating();
                                getAvgRating();
                                return;
                            }
                            alert('평가가 등록되었습니다.');
                            getMyRating();
                            getAvgRating();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('평가 등록에 실패했습니다.');
                        }

                    });

                });

                // 북마크 버튼 클릭시 이벤트
                $('#addBtnContainer').on('click', '#bkMarkBtn', function () {

                    let data = {
                        memberId: memberId,
                        programId: programId
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/bkmark/addProgramBkmark',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('북마크에서 삭제 되었습니다.');
                                checkBkmark();
                                return;
                            }
                            alert('북마크에 추가되었습니다.');
                            checkBkmark();
                        },
                        error: function (error) {
                            console.log(error);
                            alert('북마크 추가에 실패했습니다.');
                        }
                    });

                });

                // 일정 아이콘 클릭시 이벤트
                $('#addBtnContainer').on('click', '.fa-clipboard', function () {

                    // ajax로 내 달력 목록 가져오기
                    $.ajax({
                        url: '/calendar/myCalendarNameList/' + memberId,
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            let html = '';
                            html += '<div class="row">';
                            data.forEach(function (myCalendar) {
                                html += '<div class="col-auto mt-2 mb-2">';
                                html += '<button class="btn btn-outline-secondary cal-name" data-mycalid="' + myCalendar.id + '">' + myCalendar.name + '</button>';
                                html += '</div>';
                            });
                            html += '</div>';
                            html += '<br>';
                            html += '<div class="row">';
                            html += '<div class="col input-group mb-3">';
                            html += '<input class="form-control" type="text" id="newCalendarName" placeholder="새로운 캘린더 이름">';
                            html += '<button id="addNewCalendarBtn" class="btn btn-outline-secondary">추가</button>';
                            html += '</div>';
                            html += '</div>';

                            $('#addMyCalContainer').html(html);

                        }
                    });

                });

                // 일정 모달 내에 달력 버튼 클릭시
                $('#addMyCalContainer').on('click', '.cal-name', function () {
                    let myCalId = $(this).data('mycalid');
                    console.log(myCalId);
                    console.log(programId);
                    // ajax로 내 달력에 일정 추가 POST방식
                    let data = {
                        calendarId: myCalId,
                        programId: programId
                    };

                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/calendar/addProgramToCalendar',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (result, status) {
                            console.log(result);

                            if (result === 'fail') {
                                alert('이미 추가된 일정입니다.');
                                return;
                            }
                            alert('일정이 추가되었습니다.');
                            $('#addMyCalendar-modal').modal('hide');
                        },
                        error: function (error) {
                            console.log(error);
                            alert('일정 추가에 실패했습니다.');
                        }
                    });

                });

                // 일정 모달 내에 새로운 캘린더 추가 버튼 클릭시
                $('#addMyCalContainer').on('click', '#addNewCalendarBtn', function () {
                    let newCalendarName = $('#newCalendarName').val();
                    console.log(newCalendarName);
                    if (newCalendarName === '') {
                        alert('캘린더 이름을 입력해주세요.');
                        return;
                    } else {

                        let data = {
                            memberId: memberId,
                            name: newCalendarName
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/calendar/addNewCalendar',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=utf-8',
                            success: function (result, status) {
                                console.log(result);
                                if (result === 'fail') {
                                    alert('이미 존재하는 캘린더 이름입니다.');
                                    return;
                                }
                                alert('새로운 캘린더가 추가되었습니다.');
                                $('#addMyCalendar-modal').modal('hide');
                            },
                            error: function (error) {
                                console.log(error);
                                alert('캘린더 추가에 실패했습니다.');
                            }
                        });
                    }

                });

                // ********** 각종 함수들 **********

                // 평균 문장형 평가 가져는 함수
                function getAvgRating() {
                    $.ajax({
                        url: '/rating/getAvgRating/' + programId,
                        type: 'GET',
                        success: function (data) {
                            $('#AvgRating').text(data);
                        }
                    });
                }

                // 회원 문장형 평가 가져오기
                function getMyRating() {
                    $.ajax({
                        url: '/rating/getRating/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            $('#addRating').text(data);
                        }
                    });
                }

                // 작품 북마크 체크 함수
                function checkBkmark() {
                    console.log("checkBkmark");
                    $.ajax({
                        url: '/bkmark/checkProgramBkmark/' + memberId + '/' + programId,
                        type: 'GET',
                        success: function (data) {
                            if (data === true) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', false).toggleClass('fa-solid', true);
                            }

                            if (data === false) {
                                console.log(data);
                                $('#bkMarkBtn').toggleClass('fa-regular', true).toggleClass('fa-solid', false);
                            }
                        }
                    });
                }

                // 인기 후기 목록 불러오기
                function getBestReviewList() {
                    $.ajax({
                        type: "get",
                        url: "/ajaxBoards/bestReviewList/" + programId,
                        success: function (result) {
                            console.log("인기 리뷰 목록 요청 성공!");
                            console.log(result);

                            changeBestReviewList(result);
                            // 인기글 목록 화면에 띄우기
                        },
                        error: function (e) {
                            console.log("인기글 목록 요청 실패....");
                            console.log(e);
                        },
                    });
                }

                // 인기 후기 목록 화면에 띄우기
                function changeBestReviewList(list) {

                    var html = '';
                    for (let i = 0; i < list.length; i++) {

                        html += '<div class="col-3 ml-1 mr-1 bestReviewListContainer">';
                        html += '<div hidden="hidden" class="boardId">' + list[i].id+ '</div>';
                        html += '<div>';
                        html += '<img src="' + list[i].programDTO.thumbnail + '" class="card-img-top mb-2 img-thumbnail img-fluid" style="" alt="...">';
                        html += '<div class="card-body">';
                        html += '<div class="row mb-2">';
                        // 제목 길이가 11자 이상이면 11자로 자르기
                        var title = list[i].title;
                        if (title.length > 10) {
                            title = title.substring(0, 10) + '...';
                        }
                        html += '<div class="col-auto card-title fs-4">' + title + '</div>';
                        html += '<div class="col-2 badge text-bg-secondary fs-6 d-flex justify-content-center align-items-center">' + getBoardType(list[i].boardType) + '</div>';
                        html += '</div>';
                        var content = list[i].content;
                        if (content.length > 30) {
                            content = content.substring(0, 30) + '...';
                        }
                        html += '<p class="card-text">' + content + '</p>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                    }
                    $('#BestReviewListContainer').html(html);
                }

                // 인기글 클릭시 해당 게시글로 이동
                $(document).on("click", ".bestReviewListContainer", function () {
                    var boardId = $(this).find(".boardId").text();
                    location.href = "/boards/" + boardId;
                });

                // 게시글 타입에 따른 한글로 변환
                function getBoardType(type) {
                    if (type === 'INFO') {
                        return '정보';
                    } else if (type === 'REVIEW') {
                        return '후기';
                    }
                }

                var locationX = [[${program.getLocationX()}]];
                var locationY = [[${program.getLocationY()}]];
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성
                map.setCenter(new kakao.maps.LatLng(locationY, locationX)); // 지도의 중심을 이동
                map.setDraggable(false); // 지도를 드래그 불가능하게 설정
                map.setZoomable(false); // 지도를 확대 축소 불가능하게 설정
                var markerPosition  = new kakao.maps.LatLng(locationY, locationX);
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });
                marker.setMap(map);
            }); // end of document ready
        </script>
    </th:block>
</th:block>
</html>